JWBHSectionArchiveDepCheck = Ext.extend(Ext.Panel, {
	formPanel : null,
	displayPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		JWBHSectionArchiveDepCheck.superclass.constructor.call(this, {
					id:'JWBHBHJWBHSectionArchiveDepCheck',
					layout : 'form',
					items : [this.displayPanel, this.formPanel],
					modal : true,
					height : 700,
					width : 700,
					autoHeight : true,
					maximizable : true,
					buttonAlign : 'center',
					buttons : this.buttons
				});
	},	
	initUIComponents : function() {
			if(!'${archivesNo}'){
			if(curUserInfo.isArchNoAdmin){
				var did='${defId}';
				Ext.Ajax.request({
					url : __ctxPath + '/snconfig/listByPageFileSnConfigOrder.do',
					params : {
						'flowId' : did,
						'userId':'${flowStartUserId}',
						'isUsed':0
					},
					method:'post',
					success : function(response, options) {
						var af=Ext.util.JSON.decode(response.responseText).result;
						if(af!=""&&af!=null){
		if('${isReserveNo}'==1){
				  Ext.Msg.confirm('提示', '该拟稿人已预约编号，是否使用预约编号？', function(btn, text) {
							if (btn == 'yes') {
								 Ext.getCmp('JWBHSectionRadiogroup.YYArchNO').show();
								 Ext.get('JWBHSectionRadiogroup.YYArchNO').dom.checked=true;
								 Ext.getCmp('JWBHSectionArchiveDepCheck.signs').hide();
								 Ext.getCmp('JWBHSectionArchiveDepCheck.snName').allowBlank=true;
							     Ext.getCmp('JWBHSectionArchiveDepCheck.archNo').hide();
							     Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').allowBlank=true;
							     Ext.getCmp('JWBHSectionArchiveDepCheck.KNArchNo').hide();
							     Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').allowBlank=true;
							     Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').clearValue();
							     Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue('');
							     Ext.getCmp('JWBHSectionArchiveDepCheck.YYArchNo').show();
							     Ext.getCmp('JWBHSectionArchiveDepCheck.YYarchivesNo').allowBlank=true;
							}else{
								Ext.get('JWBHSectionRadiogroup.ArchNo').dom.checked=true;
							}
						})
			}
						}
					}
				});
			}
		}
		this.displayPanel = new Ext.Panel({
			autoScroll : true,
			autoHeight : true,
			id : 'JWBHSentArchiveDisp.displayPanel',
			border : false,
			autoLoad : {
				url : __ctxPath
				+ '/pages/flowPath/dispatchFlow.jsp?archiveId=${archivesId}&fileIds=$!{fileIds}&defId=${defId}&sentPanelId=JWBHSentArchiveDisp',
				nocache : true
			}
		});
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			defaults : {
				anchor : '98%,98%'
			},
			items : [new ArchivesUtil({
						panelId : 'JWBHBHJWBHSectionArchiveDepCheck',
						archivesId : '${archivesId}'
					}).getGridPanelWithFullTools(),{
						id : 'archives.archivesId',
						xtype : 'hidden',
						value : '${archivesId}'
					},{
						xtype : 'radiogroup',
						allowBlank : true,
						id:'JWBHSectionRadiogroup',
						columns :[.3,.3,.3],
						items : [{
							boxLabel : '编号',
							id:'JWBHSectionRadiogroup.ArchNo',
							name : 'depOption',
							inputValue : 1,
							checked:'${isReserveNo}'==1&&curUserInfo.isArchNoAdmin?false:true,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {
										Ext.getCmp('JWBHSectionArchiveDepCheck.signs').show();
										Ext.getCmp('JWBHSectionArchiveDepCheck.snName').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archNo').show();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.KNArchNo').hide();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').clearValue();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue('');
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYArchNo').hide();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYarchivesNo').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYarchivesNo').clearValue();
									}
								}
							}
						}, {
							boxLabel : '跨年编号',
							id:'JWBHSectionRadiogroup.KNArchNO',
							name : 'depOption',
							hidden : curUserInfo.isArchNoAdmin?false:true,
							inputValue : 2,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {
										Ext.getCmp('JWBHSectionArchiveDepCheck.KNArchNo').show();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').allowBlank=false;
										Ext.getCmp('JWBHSectionArchiveDepCheck.signs').show();
										Ext.getCmp('JWBHSectionArchiveDepCheck.snName').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archNo').show();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue('');
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYArchNo').hide();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYarchivesNo').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYarchivesNo').clearValue();
									}
								}
							}
						},{
							boxLabel : '预约编号',
							name : 'depOption',
							id:'JWBHSectionRadiogroup.YYArchNO',
							hidden : true,
							inputValue : 3,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {
										Ext.getCmp('JWBHSectionArchiveDepCheck.signs').hide();
										Ext.getCmp('JWBHSectionArchiveDepCheck.snName').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archNo').hide();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.KNArchNo').hide();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').allowBlank=true;
									    Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').clearValue();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue('');
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYArchNo').show();
									    Ext.getCmp('JWBHSectionArchiveDepCheck.YYarchivesNo').allowBlank=true;
									}
								}
							}
						}],
						fieldLabel : '编号步骤'
					},{
						xtype : 'container',
						id : 'JWBHSectionArchiveDepCheck.KNArchNo',
						layout : 'column',
						height : 30,
						hidden:true,
 						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									style:'padding-top:4px;',
									text : '选择时间:',
									width : 105,
									hideParent :true
								}, {
									xtype : "combo",
									id : "JWBHSectionArchiveDepCheck.KNTime",
									format:'Y',
									editable : false,
									hideParent :true,
									width:450,
									triggerAction : 'all',
									//forceSelection : true,
									mode:'local',
									store:[Ext.util.Format.date(new Date(),'Y')-1,Ext.util.Format.date(new Date(),'Y')-2]
								}]
					},{
						xtype : 'container',
						layout : 'column',
						id : 'JWBHSectionArchiveDepCheck.signs',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									style:'padding-top:4px;',
									text : '编号名称:',
									width : 105
								}, {
									xtype : "combo",
									id : "JWBHSectionArchiveDepCheck.snName",
									valueField : 'snId',
									displayField : 'snName',
									editable : false,
									triggerAction : 'all',
									forceSelection : true,
									width : 450,
									store : new Ext.data.SimpleStore({
										url :__ctxPath + '/snconfig/getSignsFlowSnConfig.do?flowId=${defId}',
										autoLoad : true,
										fields : ['snId', 'snName']
									})
								},{
									xtype : 'button',
									iconCls : 'btn-operation',
									text : '已编号文件',
									handler : function() {
										var snname=Ext.getCmp('JWBHSectionArchiveDepCheck.snName').getValue();
										if(snname)
										AlreadyCreateView.getView(snname).show();
										else Ext.ux.Toast.msg('操作信息', '请选择编号名称！');
									}
								}]
					},{
						xtype : 'container',
						layout : 'column',
						style:'padding-top:4px;',
						id:'JWBHSectionArchiveDepCheck.archNo',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									style:'padding-top:4px;',
									text : '公文编号:',
									width : 105
								}, {
									name : 'archivesNo',
									id:'JWBHSectionArchiveDepCheck.archivesNo',
									xtype : 'textfield',
									value:'${archivesNo}'== null ?'${archivesNo}' : null, 
//									readOnly :true,
									allowBlank : false,
									width : 445
								},{
									xtype : 'button',
									iconCls : 'menu-flowWait',
									text : '生成编号',
									handler : function() {
										if(Ext.getCmp('JWBHSectionRadiogroup').isValid()&&Ext.getCmp('JWBHSectionArchiveDepCheck.KNTime').isValid()&&Ext.getCmp('JWBHSectionArchiveDepCheck.snName').isValid()){
											if(Ext.getCmp('JWBHSectionArchiveDepCheck.snName').getValue() == ""){alert('请选择编号名称!');return false;}
											var snon=Ext.getCmp("JWBHSectionArchiveDepCheck.snName").getValue();
											var sntime=Ext.getCmp("JWBHSectionArchiveDepCheck.KNTime").getValue();
											if(""==sntime){
											Ext.Ajax.request({
												url : __ctxPath + '/snconfig/getSnNoFileSnConfig.do',
												params : {
													defId : '${defId}',
													snConfigId:Ext.getCmp("JWBHSectionArchiveDepCheck.snName").getValue()
												},
												method : 'POST',
												waitMsg : "正在生成编号，请稍等",
												success : function(response, options) {
													var archivesNo = Ext.util.JSON.decode(response.responseText).data;
													Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue(archivesNo);
													Ext.Ajax.request({
														url : __ctxPath + '/archive/updateArchNoArchives.do',
														params : {
															'archivesId' : Ext.getCmp("archives.archivesId").getValue(),
															'archivesNo': archivesNo,
														   	'fileSnConfig': Ext.getCmp('JWBHSectionArchiveDepCheck.snName').getValue()
														},
														method:'post',
														success : function(response, options) {},
														failure : function(response, options) {
															Ext.ux.Toast.msg('编号名称错误，请联系管理员！');
														}
													});
												},
												failure : function(response, options) {
													Ext.ux.Toast.msg('操作信息', '生成编号出错，请联系管理员！');
												}
											});}else if(""!=sntime){
											Ext.Ajax.request({
												url : __ctxPath + '/snconfig/getHistorySnNoFileSnConfig.do',
												params : {
													defId : '${defId}',
													snConfigId:snon,
												    snYear:sntime
												},
												method : 'POST',
												waitMsg : "正在生成编号，请稍等",
												success : function(response, options) {
													var archivesNo = Ext.util.JSON.decode(response.responseText).data;
													Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue(archivesNo);
													Ext.Ajax.request({
														url : __ctxPath + '/archive/updateArchNoArchives.do',
														params : {
															'archivesId' : Ext.getCmp("archives.archivesId").getValue(),
															'archivesNo': archivesNo,
														   	'fileSnConfig': Ext.getCmp('JWBHSectionArchiveDepCheck.snName').getValue()
														},
														method:'post',
														success : function(response, options) {},
														failure : function(response, options) {
															Ext.ux.Toast.msg('编号名称错误，请联系管理员！');
														}
													});
												},
												failure : function(response, options) {
													Ext.ux.Toast.msg('操作信息', '生成编号出错，请联系管理员！');
												}
											});
											
											}
										}
									}
								}]
				},{
						xtype : 'container',
						layout : 'column',
						id:'JWBHSectionArchiveDepCheck.YYArchNo',
						style:'padding-bottom:5px;',
						defaults : {
							border : false
						},
						hidden:true,
						items : [{
									xtype : 'label',
									text : '预约公文编号:',
									style:'padding-top:4px;',
									hideParent :true,
									width : 105
								}, {
									id:'JWBHSectionArchiveDepCheck.YYarchivesNo',
									xtype : 'combo',
									hideParent :true,
									editable : false,
									resizable : true,
									allowBlank:true,
									triggerAction : 'all',
									displayField : 'orderSnName',
									valueField : 'id',
									// emptyText:'请选择分类',
									store : new Ext.data.SimpleStore({
										autoLoad : true,
										url : __ctxPath + '/snconfig/listFileSnConfigOrder.do?flowId=${defId}&userId=${flowCreatorId}',
										fields : [ 'id', 'orderSnName' ]
									}),
									listeners:{'select':function(){
										var archiveNo = Ext.getCmp('JWBHSectionArchiveDepCheck.YYarchivesNo');
										if(null != archiveNo.getValue() || "" != archiveNo.getValue()){
											Ext.Ajax.request({
												url :__ctxPath + '/snconfig/getFileSigIdFileSnConfigOrder.do?flowId='+archiveNo.getValue(),
												method : 'POST',
												waitMsg : "正在获取编号名称，请稍等",
												success : function(response, options) {
													var signId = Ext.util.JSON.decode(response.responseText).data;
													Ext.getCmp('JWBHSectionArchiveDepCheck.snName').setValue(signId);
												},
												failure : function(response, options) {
													Ext.ux.Toast.msg('编号名称错误，请联系管理员！');
												}
											})
										}
								   Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue(Ext.get('JWBHSectionArchiveDepCheck.YYarchivesNo').dom.value);
								}},
									width : 440
								}]
				}, {
						xtype : 'container',
						style:'padding-top:4px;',
						layout : 'column',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									style:'padding-top:4px;',
									text : '备注：',
									width : 105
								}, {
									name : 'leaderRead.leaderOpinion',
									id:'leaderRead_leaderOpinion',
									xtype : 'textarea',
									maxLength :500,
									width : 440,
									height:40
								}/*,{
									xtype : 'button',
									text : '常用批示语',
									style:'padding-top:10px;',
									iconCls : 'menu-new-document',
									handler : function() {
										OdCommentsSelector.getView(
											function(id, name) {
												Ext.getCmp('leaderRead_leaderOpinion')
													.setValue(name);
											}, true).show();
										}
								}*/]
					}]
		});
		var archivesId='${archivesId}';
		if(archivesId){
			Ext.Ajax.request({
				url : __ctxPath + '/archive/getArchDataArchives.do?archivesId='+archivesId,
				method:'post',
				success : function(response, options) {
					var archivesNo=Ext.decode(response.responseText).data[0].archivesNo;
					var snConfigId=Ext.decode(response.responseText).data[0].snConfigId;
					if(archivesNo!=0){
						Ext.getCmp('JWBHSectionArchiveDepCheck.archivesNo').setValue(archivesNo);
						Ext.getCmp('JWBHSectionArchiveDepCheck.snName').getStore().load({ 
						callback: function () { 
						//等待数据加载完成才进行赋值，不然由于异步会出现先赋值后加载完成。 
						Ext.getCmp('JWBHSectionArchiveDepCheck.snName').setValue(snConfigId);
						},
						scope: Ext.getCmp('JWBHSectionArchiveDepCheck.snName').getStore(),//表示作用范围 
						add: false //为false表示数据不累加 
						});
					}
				},
				failure : function(response, options) {
					Ext.ux.Toast.msg('操作错误，请联系管理员！');
				}
			});
		}
		this.buttons = [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								}),
								new Ext.Button({
								   iconCls:'btn-changeTask',
								   text:'退回',
								   handler:this.backsetp.createCallback(this.formPanel,this,'${v.source}')
								})
								#set ($count=$count+1)
						#end];
	},
	backsetp:function(formPanel,panel,activityName){
		if (formPanel.getForm().isValid()) {
			 Ext.Ajax.request({
			url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
			params : {
				'taskId' : panel.taskId
			},
			method:'post',
			success : function(response, options) {
				var processForm = Ext.util.JSON.decode(response.responseText).data;
				var prevSignalName  = processForm[0].signalName;
				var prevDestName  = processForm[0].activityName;
				var prevFlowAssignId =  processForm[0].creatorId;
				formPanel.getForm().submit({
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						method:'post',
						waitMsg:'正在提交处理，请稍等',
						scope:this,
						params:{
								taskId : panel.taskId,
								signalName : prevSignalName,
								activityName : activityName,
								comments : formPanel.getCmpByName('leaderRead.leaderOpinion').getValue(),
								destName : prevDestName,
								status : '退回',
								//看是否指定了执行人员
								flowAssignId : prevFlowAssignId
						},
						success : function(fp, action) {
								 Ext.ux.Toast.msg('操作信息','退回上一步成功！');
								 AppUtil.removeTab('ProcessForm' + panel.taskId);
								 refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					}
				
				);},
			failure : function(response, options) {
					Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
				}
			});
		}
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
/*		if (panel.store.getCount() == 0) {
			Ext.ux.Toast.msg('操作信息', '请添加公文正文!');
			return false;
		}*/
		if (formPanel.getForm().isValid()) {
			var sendMail = msgPanel.getCmpByName('sendMail').getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
			var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
			var archivesNo = Ext.getCmp("JWBHSectionArchiveDepCheck.archivesNo").getValue();
			if(archivesNo == ""){alert('请先生成编号！'); return false;}
			result='呈生成电子公文';		
			var params = {
					taskId : panel.taskId,
					signalName : signalName,
					activityName : activityName,
					sendMail : sendMail,
					sendMsg : sendMsg,
					sendInfo:sendInfo,
					archivesNo: archivesNo,
//					status:result,
					comments : formPanel.getCmpByName('leaderRead.leaderOpinion').getValue()
				};
			 Ext.Ajax.request({
				url : __ctxPath + '/archive/updateArchNoArchives.do',
				params : {
					'archivesId' : Ext.getCmp("archives.archivesId").getValue(),
					'archivesNo':Ext.getCmp("JWBHSectionArchiveDepCheck.archivesNo").getValue(),
					'fileSnConfig': Ext.getCmp('JWBHSectionArchiveDepCheck.snName').getValue()
				},
				method:'post',
				success : function(response, options) {
					formPanel.getForm().submit({
						url : __ctxPath + "/flow/nextProcessActivity.do",
						method : 'post',
						waitMsg : '正在提交数据...',
						params : params,
						success : function(fp, action) {
							var option = formPanel.getCmpByName('depOption').getGroupValue();
								if(3==option){
									Ext.Ajax.request({
								       url : __ctxPath+ '/snconfig/saveFileSnConfigOrder.do',
								       params : {
									   orderId : Ext.getCmp("JWBHSectionArchiveDepCheck.YYarchivesNo").getValue(),
								       userId:curUserInfo.userId
								      },
								      method:'post'})
								}
							Ext.ux.Toast.msg('操作信息', '编号成功！');
							AppUtil.removeTab('ProcessForm' + panel.taskId);
							refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					});
				}
			});
		}
	}// end of save
})