BHSentArchiveStartReStart = Ext.extend(Ext.Panel, {
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		BHSentArchiveStartReStart.superclass.constructor.call(this, {
					id : 'BHSentArchiveStartReStart',
					title : '机关工会便函处理笺',
					layout : 'form',
					modal : true,
					width : 800,
					autoHeight:true,
					iconCls : 'menu-archive-draft',
					maximizable : true,
					items : [this.formPanel],
					buttonAlign : 'center',
					buttons : [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								})
								#set ($count=$count+1)
						#end]
				});
		var jsArr = [__ctxPath + '/js/archive/ArchivesDocForm.js',
		__ctxPath + '/js/archive/ArchivesDocForm.js',
		__ctxPath + '/js/archive/ArchivesDocHistoryWin.js',
		__ctxPath + '/js/archive/ArchiveTypeTempView.js',
		__ctxPath + '/js/archive/ArchTemplateView.js',
		__ctxPath + '/js/archive/ArchTemplateForm.js',
		__ctxPath + '/js/archive/OfficeTemplateView.js',
		__ctxPath + '/js/archive/ArchTemplateSelector.js'];
		$ImportSimpleJs(jsArr, null);
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
		var fileIds = Ext.getCmp('GHGLJLHCReFiles.fileIds').getValue();
/*		if (panel.store.getCount() == 0) {// 公文正文附件为空
			Ext.ux.Toast.msg('操作信息', '请添加公文正文附件!');
			return false;
		}*/
		if (formPanel.getForm().isValid()) {
			var docParams=Ext.getCmp("BHSentArchiveStartReStart.reFileId");
			for (var i = 0, cnt = panel.store.getCount(); i < cnt; i++) {
				if(panel.store.getAt(i).data.fileId!=''){
					if(docParams.getValue()!=""){
						docParams.setValue(docParams.getValue()+',');
					} 
				} 
				docParams.setValue(docParams.getValue()+panel.store.getAt(i).data.fileId);
			}
			var test=Ext.getCmp("BHSentArchiveStartReStart.reFileId").getValue();
			formPanel.getForm().submit({
				method : 'POST',
				waitMsg : '正在提交数据...',
				params : {
					archivesRecfileIds : Ext.getCmp("BHSentArchiveStartReStart.reFileId").getValue()
				},
				success : function(fp, action) {
					var sendMail = msgPanel.getCmpByName('sendMail').getValue();
					var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
					var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
					var isReserveNo=formPanel.getCmpByName('archives.isReserveNo').getGroupValue();
					var option = formPanel.getCmpByName('depOption').getGroupValue();
					
					var LeaderName = Ext.getCmp('BHSentArchiveStart.LeaderNames').getValue();
					var LeaderId = Ext.getCmp('BHSentArchiveStart.LeaderIds').getValue();
					
					formPanel.getForm().submit({
						url : __ctxPath + '/flow/nextProcessActivity.do',
						method : 'post',
						waitMsg : '正在提交数据...',
						params : {
							LeaderName : LeaderName,
							LeaderId : LeaderId,
							taskId : panel.taskId,
							signalName : signalName,
							activityName : activityName,
							sendMail : sendMail,
							sendMsg : sendMsg,
							sendInfo:sendInfo,
							startNext:option,
							creatorDepid:curUserInfo.depId,
							sendUserId : curUserInfo.userId,
							flowAssignId : Ext.getCmp('BHSentArchiveStart.LeaderIds').getValue(),
							fileIds : fileIds?fileIds:'_',
							startFlow : true
						},
						success : function(response, options) {
							Ext.ux.Toast.msg('操作信息', '操作成功！');
							Ext.getCmp('centerTabPanel').remove(Ext
									.getCmp('ProcessForm' + panel.taskId));
							refreshTaskPanelView();
						}
					});
				},
				failure : function(fp, action) {
					Ext.MessageBox.show({
								title : '操作信息',
								msg : '信息保存出错，请联系管理员！',
								buttons : Ext.MessageBox.OK,
								icon : Ext.MessageBox.ERROR
							});
				}
			});
		}

	},
	initUIComponents : function() {
		this.archivesId='${archivesId}'; 
		// 初始化附件文档
		this.docGridPanel = new ArchivesUtil({
			panelId : 'BHSentArchiveStartReStart',
			archivesId : this.archivesId
		}).getGridPanelWithFullTools();
		var fp=this.formPanel = new Ext.FormPanel({
			url : __ctxPath + '/archive/saveArchives.do',
			frame : false,
			border : false,
			layout : 'form',
			labelWidth : 80,
			width : 800,
			padding : '5px',
			reader : new Ext.data.JsonReader({
						root : 'data'
					}, [	{
								name : 'archives.archivesId',
								mapping : 'archivesId'
							}, 
//							{
//								name : 'archives.archivesType.typeId',
//								mapping : 'parentArchId'
//							}, 
							{
								name : 'archives.issueDep',
								mapping : 'issueDep'
							}, {
							    name:'archives.status',
							    mapping:'status'
							}, {
								name : 'archives.subject',
								mapping : 'subject'
							}, {
								name : 'archives.fileCounts',
								mapping : 'fileCounts'
							}, {
								name : 'archives.privacyLevel',
								mapping : 'privacyLevel'
							}, {
								name : 'archives.urgentLevel',
								mapping : 'urgentLevel'
							}, {
								name : 'archives.issuer',
								mapping : 'issuer'
							}, {
								name : 'archives.issuerId',
								mapping : 'issuerId'
							}, {
								name:'archives.sources',
								mapping:'sources'
							}, {
								name:'archives.archType',
								mapping:'archType'
							}, {
								name:'archives.isPublic',
								mapping:'isPublic'
							}, {
								name : 'archives.reviewUser',
								mapping : 'reviewUser'
							}, {
								name : 'archives.reviewUserName',
								mapping : 'reviewUserName'
							}, {
								name : 'archives.sendTo',
								mapping : 'sendTo'
							}, {
								name : 'archives.ccTo',
								mapping : 'ccTo'
							}, {
								name:'archives.isStandard',
								mapping:'isStandard'
							}, {
								name:'archives.isReserveNo',
								mapping:'isReserveNo'
							}, {
								name:'archives.unPublicReasons',
								mapping:'unPublicReasons'
							}]),
			items : [{
				border : false,
				layout : 'column',
				defaults : {
					border : false,
					columnWidth : .33,
					layout : 'form',
					defaults : {
						width : 150,
						xtype : 'textfield',
						allowBlank : false
					}
				},
				items : [{
					items : [{
								fieldLabel : "拟稿部门",
								value : curUserInfo.depName,
								readOnly : true
							}, {
								xtype : 'combo',
								fieldLabel : "发文单位",
								name : 'archives.issueDep',
								triggerAction : 'all',
								listWidth:200,
								lazyRender : true,
								editable : false,
								fieldLabel : '发文单位',
								store : ['重庆市交通委员会',
										'中共重庆市交通委员会', '中共重庆市交通委员会机关党委',
										'中共重庆市交通纪律检查委员会', '共青团重庆市交通委员会',
										'重庆市交通委员会直属机关工会','重庆市交通委员会机关工会']
							}, {
								xtype : 'combo',
								fieldLabel : '文种',
								id : 'BHSentArchiveStartReStart.archivesType',
								hiddenName : "archives.archivesType.typeId",
								valueField : 'typeId',
								displayField : 'typeName',
								editable : false,
								triggerAction : 'all',
								forceSelection : true,
								store : new Ext.data.SimpleStore({
											url : __ctxPath
													+ '/archive/comboArchivesType.do',
											autoLoad : true,
											fields : ['typeId', 'typeName']
										})
							}]
				}, {
					items : [{
								xtype : "combo",
								fieldLabel : '缓急',
								triggerAction : 'all',
								editable : false,
								allowBlank : true,
								name : 'archives.urgentLevel',
								emptyText : '急缓程度',
								store : ['特急', '急件', '加急', '平急']
							}, {
								fieldLabel : '拟稿',
								name : "archives.issuer",
								readOnly : true,
								value : curUserInfo.fullname
							}, {
								xtype : 'combo',
								name : 'archives.sources',
								triggerAction : 'all',
								editable : false,
								fieldLabel : '行文方向',
								store : ['上行文', '平行文', '下行文']
							}]
				}, {
					items : [{
								xtype : "combo",
								fieldLabel : '密级',
								triggerAction : 'all',
								editable : false,
								allowBlank : true,
								name : 'archives.privacyLevel',
								emptyText : '一般',
								store : ['一般']
							}, 
								{
								xtype : "hidden",
								name : "archives.reviewUserName",
								id : "BHSentArchiveStartReStart.reviewUserName"
							}, {
								xtype : 'textfield',
								id: 'BHSentArchiveStartReStart.fileCounts',
								name : 'archives.fileCounts',
								fieldLabel : '份数'
							}]
				}]
			}, {
				xtype : 'textfield',
				name : 'archives.subject',
				allowBlank : false,
				width : '94%',
				fieldLabel : '标题'
			}, {
				xtype : 'container',
				layout : 'hbox',
				style : 'padding:0px 0px 5px 0px;margin-left:0px;',
				defaults : {
					border : false
				},
				items : [{
							xtype : 'label',
							style:'padding-top:4px;',
							text : '主送:',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.sendTo',
							width : '71.1%',
							id : 'GHGLJLHCReGridSentArchiveReStart.sendTo'
						}, {
							style : 'padding-left:5px;',
							xtype : 'button',
							iconCls : 'btn-dep-sel',
							text : '常用主送单位',
							handler : function() {
								UnitsSelector.getView(
									function(ids, names) {
										Ext.getCmp('GHGLJLHCReGridSentArchiveReStart.sendTo')
											.setValue(names);
										}, false,1).show();
							}
						}]
			}, {
				xtype : 'container',
				layout : 'hbox',
				defaults : {
					allowBlank : false,
					border : false
				},
				items : [{
							xtype : 'label',
							style:'padding-top:4px;',
							text : '抄送:',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.ccTo',
							allowBlank : true,
							id : 'BHSentArchiveStartReStart.ccTo',
							width : '71.1%'
						}, {
							xtype : 'button',
							style : 'padding-left:5px;',
							iconCls : 'menu-department',
							text : '常用抄送单位',
							handler : function() {
								UnitsSelector.getView(
									function(ids, names) {
										Ext.getCmp('BHSentArchiveStartReStart.ccTo')
											.setValue(names);
										}, false,2).show();
							}
						}]
			}, {
				xtype : 'radiogroup',
				style : 'padding-top:4px;',
				defaults:{	//{}对象A中的defaults属性值也是一个对象，该对象的属性会被A的所有子元素继承，并可以被重写。
					listeners : {//为radiogroup中items的所有组件添加该listeners
						'check' : function(checkbox, checked) {
							if (checked) {
								Ext.getCmp('BHSentArchiveStart.LeaderIds').setValue('');
								Ext.getCmp('BHSentArchiveStart.LeaderNames').setValue('');
							}
						}
					}
				},
				items : [{
					width :160,
					boxLabel : '处室初核',
					name : 'depOption',
					id : 'BHSentArchiveStart.depOption1',
					inputValue : 1
				}, {
					boxLabel : '处室复核',
					width :160,
					name : 'depOption',
					id : 'BHSentArchiveStart.depOption2',
					inputValue : 2
				}],
				fieldLabel : '审批步骤'
			},{
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 0px 0px;',
				defaults : {
					border : false
				},
				items : [{
							xtype : 'label',
							style : 'padding-top:4px;',
							text : '选择领导:',
							width : 84
						}, {
							xtype : 'textfield',
							width : '73%',
							allowBlank:false,
							value : '${LeaderName}',
							readOnly : true,
							id : 'BHSentArchiveStart.LeaderNames'
						}, {
							xtype : 'hidden',
							id : 'BHSentArchiveStart.LeaderIds',
							value : '${LeaderId}'
						}, {
							xtype : 'button',
							iconCls : 'menu-department',
							style : 'padding-left:20px;',
							text : '选择领导',
							handler : function() {
								var option = formPanel.getCmpByName('depOption').getGroupValue();
								var url = __ctxPath +"/system/depLeadersTreeDepartment.do";
								if(option==1){
									url+= '?roles='+ArchivesUtil.Role_Leaders+'&depIds='+curUserInfo.depId;
								}else{
									url+= '?roles='+ArchivesUtil.Role_Leaders+'&depIds='+curUserInfo.depId;
								}
								
								DepLeaders.getView(
										function(userIds, fullnames) {
											Ext.getCmp('BHSentArchiveStart.LeaderIds').setValue(userIds);
											Ext.getCmp('BHSentArchiveStart.LeaderNames')
													.setValue(fullnames);
										}, true, null,url).show();
							}
						}]
			}, {
				xtype : 'fieldset',
				style:'padding-top:6px',
				border : false,
				defaults : {
					anchor : '96%,90%'
				},
				items : [this.docGridPanel]
			}, {
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 8px 0px;margin-left:2px;',
				defaults : {
					allowBlank : true,
					border : false
				},
				items : [{
							xtype : 'label',
							text : '附件：',
							width : 84
						}, {
							xtype : 'textarea',
							name : 'archives.enclosure',
							width : '74.5%',
							id : 'GHGLJLHCReFiles.enclosure'
						}]
			}, {
				layout : 'column',
				border : false,
				defaults : {
					layout : 'form',
					border : false
				},
				items : [{
							columnWidth : .85,
							items : [{
										fieldLabel : '公文附件',
										xtype : 'panel',
										id : 'GHGLJLHCReFiles.personFilePanel',
										frame : false,
										border : true,
										bodyStyle : 'padding:4px 4px 4px 4px;',
										height : 80,
										autoScroll : true,
										html : ''
									}]
						}, {
							columnWidth : .12,
							items : [{
								border : false,
								xtype : 'button',
								text : '添加文件',
								iconCls : 'menu-attachment',
								handler : function() {
									var dialog = App.createUploadDialog({
										file_cat : 'document',
										judge_size : 'no',
										upload_autostart : true,
										callback : function(data) {
											var fileIds = Ext.getCmp('GHGLJLHCReFiles.fileIds');
											var filePanel = Ext.getCmp('GHGLJLHCReFiles.personFilePanel');

											for (var i = 0; i < data.length; i++) {
												if (fileIds.getValue() != '') {
													fileIds.setValue(fileIds
															.getValue()
															+ ',');
												}
												fileIds.setValue(fileIds
														.getValue()
														+ data[i].fileId);

												Ext.DomHelper
														.append(
																filePanel.body,
																'<span><a href="#" onclick="FileAttachDetail.show('
																		+ data[i].fileId
																		+ ')">'
																		+ data[i].filename
																		+ '</a> <img class="img-delete" src="'
																		+ __ctxPath
																		+ '/images/system/delete.gif" onclick="removeFile(this,\'GHGLJLHCReFiles.fileIds\','
																		+ data[i].fileId
																		+ ')"/>&nbsp;|&nbsp;</span>');

											}
										}
									});
									dialog.show(this);
								}
							}, {
								xtype : 'button',
								text : '清除文件',
								iconCls : 'reset',
								handler : function() {
									var fileAttaches = Ext.getCmp('GHGLJLHCReFiles.fileIds');
									var filePanel = Ext.getCmp('GHGLJLHCReFiles.personFilePanel');

									filePanel.body.update('');
									fileAttaches.setValue('');
								}
							}, {
								xtype : 'hidden',
								id : 'GHGLJLHCReFiles.fileIds',
								name : 'fileIds'
							}]
						}]
			}, {
				border : false,
			    id: 'BHSentArchiveStartReStart.YYArchNo',
				layout : 'form',
				labelWidth: 105,
			    items:{
				xtype : 'radiogroup',
				hideParent : true,
				id: '_BHSentArchiveStartReStart.YYArchNo',
				fieldLabel : '是否使用预约编号',
				items : [{
							boxLabel : '是',
							name : 'archives.isReserveNo',
							inputValue : 1
						}, {
							boxLabel : '否',
							name : 'archives.isReserveNo',
							inputValue : 0
						}]
			}}, {
				border : false,
				labelWidth: 105,
				layout : 'form',
				items : {
				xtype : 'radiogroup',
				id : 'BHSentArchiveStartReStart.isStandard',
				fieldLabel : '是否规范性文件',
				items : [{
							boxLabel : '是',
							name : 'archives.isStandard',
							inputValue : 1
						}, {
							boxLabel : '否',
							name : 'archives.isStandard',
							inputValue : 0
						}]
			}},{
				xtype:'hidden',
				name:'archives.issuerId',
				value:curUserInfo.userId
			},{
				xtype:'hidden',
				name:'archives.archType',
				value:0
			},{
				xtype:'hidden',
				name:'archives.archivesId'
			},{
				xtype:'hidden',
				name:'archives.status'
			},{
				xtype:'hidden',
				id:'BHSentArchiveStartReStart.reFileId'
			}]
		});
		if (this.archivesId) {
			this.formPanel.getForm().load({
				deferredRender : false,
				url : __ctxPath + '/archive/getArchDataArchives.do?archivesId='
						+ this.archivesId,
				waitMsg : '正在载入数据...',
				method:'post',
				success : function(form, action) {
					var isStandard=action.result.data['archives.isStandard'];
					var privacyLevel=action.result.data['archives.privacyLevel'];
					var isReserveNo=action.result.data['archives.isReserveNo'];
					var startNext ='${startNext}';
					if(1 == startNext){
						Ext.get('BHSentArchiveStart.depOption1').dom.checked = true;
					}else{
						Ext.get('BHSentArchiveStart.depOption2').dom.checked = true;
					}
						var did='${defId}';
						Ext.Ajax.request({
										url : __ctxPath + '/snconfig/listByPageFileSnConfigOrder.do',
										params : {
											'flowId' : did,
											'userId':curUserInfo.userId,
											'isUsed':0
										},
										method:'post',
										success : function(response, options) {
											var af=Ext.util.JSON.decode(response.responseText).result;
											if(af==""){
											  Ext.getCmp('BHSentArchiveStartReStart.YYArchNo').hide();
											  fp.getCmpByName('archives.isReserveNo').setValue(0);
											  Ext.getCmp('_BHSentArchiveStartReStart.YYArchNo').allowBlank=true;
											}else{
											Ext.getCmp('BHSentArchiveStartReStart.YYArchNo').show();
											if("${isReserveNo}"==0){
										 Ext.getCmp('_BHSentArchiveStartReStart.YYArchNo').setValue(0);
												}else{					
										Ext.getCmp('_BHSentArchiveStartReStart.YYArchNo').setValue(1);
										}
														}
													}
						});
					Ext.getCmp('BHSentArchiveStartReStart.archivesType').getStore().load({ 
					callback: function () { 
					//等待数据加载完成才进行赋值，不然由于异步会出现先赋值后加载完成。 
					Ext.getCmp('BHSentArchiveStartReStart.archivesType').setValue(Ext.decode(action.response.responseText).data[0].parentArchId);
					}, 
					scope: Ext.getCmp('BHSentArchiveStartReStart.archivesType').getStore(),//表示作用范围 
					add: false //为false表示数据不累加 
					}); 
					Ext.getCmp('GHGLJLHCReFiles.enclosure').setValue(Ext.decode(action.response.responseText).data[0].enclosure);
					if(isStandard==0){
						Ext.getCmp("BHSentArchiveStartReStart.isStandard").setValue(0);
					}else{
						Ext.getCmp("BHSentArchiveStartReStart.isStandard").setValue(1);
					}
					//Ext.getCmp('BHSentArchiveStartReStart.flowAssignId').setValue(action.result.data['archives.reviewUser']);
					var filePanel = Ext.getCmp('GHGLJLHCReFiles.personFilePanel');
					var fileIds = Ext.getCmp("GHGLJLHCReFiles.fileIds");
					/*Ext.Ajax.request({
									url : __ctxPath + '/archive/getAttachFilesArchives.do',
									params : {
										'fileIds' : '${fileIds}'
									},
									method:'post',
									success : function(response, options) {*/
										var af=Ext.decode(action.response.responseText).data[0].archivesFiles;
										if(af!=null){
										for (var i = 0; i < af.length; i++) {
											if (fileIds.getValue() != '') {
												fileIds.setValue(fileIds.getValue() + ',');
											}
											fileIds.setValue(fileIds.getValue() + af[i].fileId);
											Ext.DomHelper
													.append(
															filePanel.body,
															'<span><a href="#" onclick="FileAttachDetail.show('
																	+ af[i].fileId
																	+ ')">'
																	+ af[i].fileName
																	+ '</a><img class="img-delete" src="'
																	+ __ctxPath
																	+ '/images/system/delete.gif" onclick="removeFile(this,\'GHGLJLHCReFiles.fileIds\','
																	+ af[i].fileId
																	+ ')"/>&nbsp;|&nbsp;</span>');
										}
									}
									/*}
						});*/
				},
				failure : function(form, action) {
				}
			});
		}
	}
})
