TidyFileView=Ext.extend(Ext.Panel ,{
	
	// 构造函数
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
			
		// 初始化组件
		this.initUIComponents();
		// 调用父类构造
		TidyFileView.superclass.constructor.call(this, {
					id : 'TidyFileView',
					title : '领导审核',
					region : 'center',
					layout : 'form',
					modal : true,
					height : 700,
					width : 700,
					maximizable : true,
					buttonAlign : 'center',
					items : [this.detailPanel,this.formPanel],
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0),
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   handler:this.save.createCallback(this,'${v.name}','${v.source}','${v.destination}')
									})
									#set ($count=$count+1)
								#end
					          ]

				});
	},// end of constructor
	
	initUIComponents : function(){
			this.detailPanel = new Ext.Panel({
			autoHeight : true,
			columnWidth : 1,
			autoScroll:true,
			autoLoad:{
				url:__ctxPath+ '/pages/common/carApplyInfo.jsp?archivesId='+ ${applyId},
				nocache : true
			}
		});
		this.formPanel = new Ext.FormPanel(
				{	
					layout : 'form',
					id : 'CarApplyForm',
					frame : false,
					border : true,
					defaults : {
						width : 500,
						anchor : '98%,98%'
					},
					bodyStyle : 'padding-top:5px;padding-left:5px;',
					formId : 'CarApplyFormId',
					defaultType : 'textfield',
					items : [

								{
									xtype:"htmleditor",
									name:"des",
									anchor:"100%",
									fieldLabel:"审批意见",
									height:150,
									width:300
								},
								{
									fieldLabel : '审核',
									name : 'result',
									id : 'result',
									xtype : 'combo',
									mode : 'local',
									allowBlank : false,
									editable : false,
									triggerAction : 'all',
									value : '1',
									store : [ [ '1', '同意' ],
											[ '2', '拒绝' ] ]
								}
							]
				});// end of the formPanel

	},
	
	/**
	 * 保存记录
	 */
	save : function(panel,signalName,taskName,destName) {
			var myMask = new Ext.LoadMask(Ext.getBody(), {
							msg : '正在提交处理，请稍等！',
							removeMask : true
								// 完成后移除
							});
						myMask.show();
		var taskId = panel.taskId;
		var userId=${userId};
		var superOption= panel.formPanel.getCmpByName('result').getValue();
		var applyRepId =${applyId};
		var flowAssignId=null;
		var resultRep=null;
		if(superOption=='1'){
			resultRep="同意";
		}else {
			resultRep="拒绝";
			flowAssignId=userId;
		}
		var opinion= panel.formPanel.getCmpByName('des').getValue();
	
			Ext.Ajax.request({
				url:__ctxPath+ "/flow/nextProcessActivity.do",
				params:{taskId:taskId,signalName:signalName,activityName:taskName,destName:destName,resultRep:resultRep,opinion:opinion,applyRepId:applyRepId,
				        flowAssignId:flowAssignId},
				method : 'POST',
				async : false,
				success : function(response, opts) {
					Ext.ux.Toast.msg("操作信息", "审核成功！");
					if(superOption=='1'){

						Ext.Ajax.request({
							url:__ctxPath+ "/admin/updateStatusCarApply.do",
							method : 'POST',
							params:{
							applyRepId:applyRepId
						    },
						    success : function(response, opts){
						    	Ext.ux.Toast.msg("操作信息", "更新车辆状态成功！");
						    }
						})
						//业务逻辑操作
					}
					var tabPanel = Ext.getCmp('centerTabPanel');
					
					tabPanel.remove(Ext.getCmp('ProcessForm'+taskId));
					
				},
				failure : function(response, opts) {

					
				}
			
			});
			myMask.hide();
	}// end of save
})
