XZSWOfficeDirectorProposeView = Ext.extend(Ext.Panel, {
	setTaskId : function(tId) {
		this.taskId = tId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		XZSWOfficeDirectorProposeView.superclass.constructor.call(this, {
					id : 'XZSWOfficeDirectorProposeView',
					defaults : {
						border : false,
						autoScroll : true
					},
					width : 700,
					height : 530,
					autoHeight : true,
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									}),
									new Ext.Button({
									   iconCls:'btn-changeTask',
									   text:'退回',
									   handler:this.backsetp.createCallback(this.formPanel,this,'${v.source}')
									}),
									new Ext.Button({
									   iconCls:'btn-changeTask',
									   text:'退文',
									   handler:this.onReset.createCallback(this.formPanel,this,'${v.source}')
									})
									#set ($count=$count+1)
								#end
								],
					buttonAlign : 'center',
					items : [this.detailPanel, this.formPanel]
				});
	},
	onReset:function(formPanel,panel,activityName){
		var sendMail = msgPanel.getCmpByName('sendMail').getValue();
		var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
		var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
	    new RejectView({
	    	'taskId' : panel.taskId,
			'status':'退文',
			'signalName' : 'to 重新登记',
			'activityName' : activityName,
			'comments' : formPanel.getCmpByName('leaderOpinion').getValue(),
			'destName' : '重新登记',
			'sendMail' : sendMail,
			'sendMsg' : sendMsg,
			'sendInfo':sendInfo,
			'flowAssignId' : '${userId}'
	    }).show();
	},
	backsetp:function(formPanel,panel,activityName){
		 Ext.Ajax.request({
			url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
			params : {
				'taskId' : panel.taskId
			},
			method:'post',
			success : function(response, options) {
				var processForm = Ext.util.JSON.decode(response.responseText).data;
				var prevSignalName  = processForm[0].signalName;
				var prevDestName  = processForm[0].activityName;
				var prevFlowAssignId =  processForm[0].creatorId; 
				var sendMail = msgPanel.getCmpByName('sendMail').getValue();
				var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
				var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
				if("收文登记" == prevDestName){
					prevSignalName = 'to 重新登记';
					prevFlowAssignId ='${userId}';
					prevDestName = '重新登记';
					result='呈重新登记';
				}
				formPanel.getForm().submit({
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						method:'post',
						waitMsg:'正在提交处理，请稍等',
						scope:this,
						params:{
								taskId : panel.taskId,
								signalName : prevSignalName,
								activityName : activityName,
								comments : formPanel.getCmpByName('leaderOpinion').getValue(),
								destName : prevDestName,
								status : '退回',
								sendMail : sendMail,
								sendMsg : sendMsg,
								sendInfo:sendInfo,
								flowAssignId : prevFlowAssignId
						},
						success : function(fp, action) {
//							Ext.Ajax.request({
//								url : __ctxPath + "/archive/updateArchDocsArchives.do",
//								params : {
//										  arcRecfileIds : Ext.getCmp('XZSWOfficeDirectorProposeFormView.reFileId').getValue(),
//										  'archives.archivesId':'${archivesId}'
//										  },
//								method : 'POST',
//								success : function(fp, action) {
										 Ext.ux.Toast.msg('操作信息','退回上一步成功！');
										 AppUtil.removeTab('ProcessForm' + panel.taskId);
										 refreshTaskPanelView();
//		                        },
//								failure : function(fp, action) {
//									Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
//								}
//							});
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					});
			},
			failure : function(response, options) {
					Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
				}
			});
	},
	//保存方法
	onSave : function(formPanel, panel, signalName, activityName) {
		var result='呈督办安排';
		var comments=formPanel.getCmpByName('leaderOpinion').getValue();
			if (formPanel.getForm().isValid()) {
			var sendMail = msgPanel.getCmpByName('sendMail').getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
			var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
			var params = {
					taskId : taskId,
					signalName : signalName,
					activityName : activityName,
					sendMail : sendMail,
					sendMsg : sendMsg,
					sendInfo:sendInfo,
		//			status: result,
					comments: comments
				};
			formPanel.getForm().submit({
				url : __ctxPath + "/flow/nextProcessActivity.do",
				method : 'post',
				waitMsg : '正在提交数据...',
				params : params,
				success : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '拟办成功！');
					AppUtil.removeTab('ProcessForm' + panel.taskId);
					refreshTaskPanelView();
				},
				failure : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
				}
			});
		}},
	/**
	 * init the components
	 */
	init : function() {
		// 显示公文详细信息
		this.detailPanel = new Ext.Panel({
					// title:'流程审批信息',
					autoHeight : true,
					columnWidth : 1,
					id:'XZBGSZRNBArchiveReceiveDetailPanel',
					autoScroll : true,
					autoLoad : {
						url : __ctxPath+'/pages/flowPath/receiveFlow.jsp?archiveId=${archivesId}&fileIds=${fileIds}&defId=${defId}&detailId=XZBGSZRNBArchiveReceiveDetailPanel',
						nocache : true
					}
				});
		
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			columnWidth : 1,
			layout : 'form',
			id : 'XZSWOfficeDirectorProposeFormView',
			autoHeight : true,
			style : 'padding:6px 6px 6px 1%',
			items : [/*new ArchivesUtil({
						panelId : 'XZSWOfficeDirectorProposeView',
						archivesId : '${archivesId}'
					}).getGridPanelWithFullTools(),*/{
			   layout:'column',
			   style:'padding:6px 0px 0px 0px',
			   border:false,
			   items:[{
			   		layout:'form',
			   		border:false,
			   		items:[{	
	   					fieldLabel : '办理意见',
	   					id:'XZSWOfficeDirectorProposeFormView.leaderOpinion',
						name : 'leaderOpinion',
						autoScroll:true,
						maxLength:500,
						height:40,
						xtype:'textarea',
						width:448
					}]
			   },{
			   		layout:'form',
			   		style:'padding-top:10px;padding-left:5px;',
			   		border:false,
			   		items:[{
						xtype : 'button',
						text : '常用批示语',
						iconCls : 'menu-new-document',
						handler : function() {
							OdCommentsSelector.getView(
							function(id, name) {
								Ext.getCmp('XZSWOfficeDirectorProposeFormView.leaderOpinion').setValue(name);
							}, 1).show();
						}
					}]
		  	   }]
			},{
				id : 'XZSWOfficeDirectorProposeFormView.reFileId',
				xtype : 'hidden'
			}, {
				xtype:'hidden',
				id:'archivesReceiveForm.snId'
			}, {
				name : 'archives.snConfigId',
				id : 'archivesReceiveForm.snConfigId',
				xtype : 'hidden'
			}]
		});
	}// end of init
})