carOutView = Ext.extend(Ext.Panel, {
	taskId : null,
	setTaskId : function(vId) {
		this.taskId = vId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	// 内嵌FormPanel
	formPanel : null,
	// 内嵌FormPanel
	displayPanel : null,
	// 构造函数
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		
		// 必须先初始化组件
		this.initUIComponents();
		carOutView.superclass.constructor.call(this, {
					id : 'carOutView',
					title : '重庆市交委用车申请单',
					iconCls : 'menu-archive-draft',
					items : [ this.formPanel],
					modal : true,
					width : 700,
					// height:400,
					maximizable : true,
					buttonAlign : 'center',
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									})
									#set ($count=$count+1)
								#end
								]
				});
	},// end of the constructor
	// 初始化组件
	initUIComponents : function() {
		/*
		 * this.displayPanel = new Ext.Panel({ id : 'carOutDiaplayPanel',
		 * autoScroll : true, autoHeight : true, border : false, autoLoad : {
		 * url:__ctxPath+
		 * '/pages/common/carApplyInfoMy.jsp?acceptId=${acceptId}' , nocache :
		 * true } });
		 */
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			id : 'carOutRecordFormView',
			defaults : {
				anchor : '98%,98%'
			},
			items : [{
						name : 'carApply.applyId',
						id : 'applyId',
						xtype : 'hidden'
					}, {
						name : 'departmentId',
						xtype : 'hidden',
						id : 'departmentId'
					},{
						xtype : 'hidden',
						name : 'carApply.userId',
						id : 'userId'
						
					}, {
						name : 'carApply.proposer',
						id : 'proposer',
						xtype : 'hidden'
					},{
						name : 'carApply.operatorId',
						id : 'operatorId',
						xtype : 'hidden'
					},{
						xtype : 'container',
						style : 'padding-left:0px;margin-bottom:4px;',
						id : 'depContainert',
						layout : 'column',
						items : [{
									xtype : 'label',
									style : 'padding-left:0px;',
									text : '用车部门:',
									width : 105
								}, {
									xtype : 'textfield',
									name : 'carApply.department',
									id : 'department',
									allowBlank : false,
									editable : false,
									readOnly : true,
									width : 320
								}, {
									xtype : 'button',
									iconCls : 'btn-dep-sel',
									text : '选择部门',
									disabled:curUserInfo.carAdminRoleID?true:false,
									handler : function() {
										DepSelector3.getView(
												function(id, name) {
													Ext.getCmp('department')
															.setValue(name);
													Ext.getCmp('departmentId')
															.setValue(id);
												}, true).show();
									}
								}, {
									xtype : 'button',
									text : '清除记录',
									iconCls : 'reset',
									disabled:curUserInfo.carAdminRoleID?true:false,
									handler : function() {
										Ext.getCmp('department').setValue('');
										Ext.getCmp('departmentId').setValue('');
									}
								}]
					}, {
						xtype : 'container',
						style : 'padding-left:0px;margin-bottom:4px;',
						layout : 'column',
						items : [{
									xtype : 'label',
									style : 'padding-left:0px;',
									text : '用车人:',
									width : 105
								}, {
									xtype : 'textfield',
									name : 'carApply.userFullname',
									id : 'userFullname',
									allowBlank : false,
									editable : false,
									readOnly : true,
									width : 320
								}, {
									xtype : 'button',
									iconCls : 'btn-user-sel',
									text : '选择人员',
									disabled:curUserInfo.carAdminRoleID?true:false,
									handler : function() {
										var depId ='${departmentId}';
										DeptOfUserSelector.getView(
												function(id, name) {
													Ext.getCmp('userFullname')
															.setValue(name);
															Ext.getCmp('userId')
															.setValue(id);
												}, false, null, depId).show();

									}
								}, {
									xtype : 'button',
									text : '清除记录',
									iconCls : 'reset',
									disabled:curUserInfo.carAdminRoleID?true:false,
									handler : function() {
										Ext.getCmp('userFullname').setValue('');
									}
								}]
					}, {
						fieldLabel : '用车人数',
						name : 'carApply.peopleAmount',
						id : 'peopleAmount',
						readOnly:curUserInfo.carAdminRoleID?true:false,
						allowBlank : false,
						xtype : 'numberfield'
					},{
						fieldLabel : '原因',
						name : 'carApply.reason',
						id : 'reason',
						readOnly:curUserInfo.carAdminRoleID?true:false,
						allowBlank : false,
						xtype : 'textarea'
					}, {
						fieldLabel : '用车时间',
						name : 'carApply.startTime',
						id : 'startTimet',
						readOnly:curUserInfo.carAdminRoleID?true:false,
						xtype : 'datetimefield',
						format : 'Y-m-d H:i',
						allowBlank : false,
						editable : false
					}, {
						fieldLabel : '结束时间',
						name : 'carApply.endTime',
						id : 'endTimet',
						allowBlank : false,
						editable : false,
						readOnly:curUserInfo.carAdminRoleID?true:false,
						xtype : 'datetimefield',
						format : 'Y-m-d H:i'
					}, {
						fieldLabel : '到达地点',
						xtype : 'textfield',
						readOnly:curUserInfo.carAdminRoleID?true:false,
						name : 'carApply.toSite',
						id : 'toSite'
					},  {
						name : 'departflowAssignStartId',
						id : 'departflowAssignStartId',
						xtype : 'hidden'
					}, {
						
						fieldLabel : '审批状态', 
						hiddenName :'carApply.approvalStatus',						 
						id : 'approvalStatus',
						mode : 'local',
						xtype : 'combo',
						allowBlank : false,
						disabled:curUserInfo.carAdminRoleID?true:false,
						editable : false,
					    triggerAction : 'all',
					    store : [['1', '新申请'], ['2', '审批之中'],['3', '批准用车'],['5','用车完成'],['4', '取消申请']]

				},{
						// fieldLabel : '是否需要司机',
						// hiddenName : 'carApply.ishavecardriver',
						xtype : 'hidden',
						name:'carApply.ishavecardriver',
						id : 'ishavecardriver'
					},{
						// fieldLabel : '是否长期有效',
						// hiddenName : 'carApply.iseffective',
						id : 'iseffective',
						name:'carApply.iseffective',
						xtype : 'hidden'
					},{
								xtype : 'hidden',
								id : 'carIds',
								name : 'carApply.carIds'
							}, {
								xtype : 'container',
								layout : 'column',
								id:'checkCar',
								style : 'padding-left:0px;margin-bottom:4px;',
								items : [
									{
											xtype : 'label',
											style : 'padding-left:0px;',
											text : '车牌号码:',
											width : 105
										}, {
											xtype : 'textfield',
											name : 'carApply.carNo',
											id : 'carNo',
											editable : false,
										    allowBlank : false,
											readOnly : true,
											width : 320
										}, {
											xtype : 'button',
											iconCls : 'btn-car',
											text : '选择车辆',
											disabled:'${approvalStatus}'==3?true:false,
											handler : function() {
												
												CarUseSelector.getView(
											function(id,name) {
													Ext.getCmp('carNo').setValue(name);
												    Ext.getCmp('carIds').setValue(id);
												},true,Date.parseDate(('${startDate}'+":00"),'Y-m-d h:i:s' ),Date.parseDate(('${endDate}'+':00'),'Y-m-d h:i:s' )).show();
											}
										}, {
											xtype : 'button',
											text : '清除记录',
											disabled:'${approvalStatus}'==3?true:false,
											iconCls : 'reset',
											handler : function() {
												Ext.getCmp('carNo')
														.setValue('');
												Ext.getCmp('carIds')
														.setValue('');
											}
										},{
											xtype : 'button',
											text : '车况参考',
											disabled:'${approvalStatus}'==3?true:false,
											iconCls : 'btn-car',
											handler : function() {
												CarReferSelector.getView().show();
											}
										}]
							}, {
								xtype : 'hidden',
								id : 'driverIds',
								name : 'carApply.driverIds'
							}, {
								xtype : 'container',
								layout : 'column',
								id : 'checkDriver',
								style : 'padding-left:0px;margin-bottom:4px;',
								items : [{
											xtype : 'label',
											style : 'padding-left:0px;',
											text : '司机:',
											width : 105
										}, {
											xtype : 'textfield',
											name : 'carApply.driver',
											id : 'driver',
											editable : false,
											allowBlank : false,
											readOnly : true,
											width : 320
										}, {
											xtype : 'button',
											iconCls : 'btn-user-sel',
											text : '选择司机',
											disabled:'${approvalStatus}'==3?true:false,
											handler : function() {
												CarDriverSelector.getView(
														function(id, name) {
															Ext
																	.getCmp('driver')
																	.setValue(name);
															Ext
																	.getCmp('driverIds')
																	.setValue(id);
														}, true, Date.parseDate(('${startDate}'+":00"),'Y-m-d h:i:s' ),Date.parseDate(('${endDate}'+':00'),'Y-m-d h:i:s' )).show();
											}
										}, {
											xtype : 'button',
											text : '清除记录',
											disabled:'${approvalStatus}'==3?true:false,
											iconCls : 'reset',
											handler : function() {
												Ext.getCmp('driver')
														.setValue('');
                                                      }
										     }]}, {
						fieldLabel : '备注',
						name : 'carApply.notes',
						id : 'notes',
						readOnly:curUserInfo.carAdminRoleID?true:false,
						xtype : 'textarea'
					},{
					  xtype : 'container',
					 layout : 'column',
					items:[{
						xtype : 'label',
						style : 'padding-left:0px;padding-top:4px;',
						text : '总里程:',
						width : 105
						},{
						width:150,
						name:'carApply.totalDistance',
						xtype : 'numberfield'
					},{
						xtype : 'label',
						style : 'padding-top:4px;',
						text : '(公里)'
						},{
						xtype : 'label',
						style : 'padding-left:70px;padding-top:4px;',
						text : '总费用:'
						},{
						width:150,
						name:'carApply.totalAmount',
						xtype : 'numberfield'
					},{
						xtype : 'label',
						style : 'padding-top:4px;',
						text : '(元)'
						},{
								xtype : 'hidden',
								id : 'content'
							}]}]
		});
		if ('${acceptId}' != null && '${acceptId}' != 'undefined'&&'${acceptId}'!='') {
			this.formPanel.getForm().load({
				deferredRender : false,
				url : __ctxPath + '/admin/getCarApply.do?applyId='
						+ '${acceptId}',
				waitMsg : '正在载入数据...',
				success : function(form, action) {

					var endTime = action.result.data.endTime;
					var startTime = action.result.data.startTime;
					//alert(Date.parseDate(endTime,'Y-m-d H:i'))
					if (startTime != null && startTime != '') {
						Ext.getCmp('startTimet')
								.setValue(startTime);
					}
					if (endTime != null && endTime != '') {
						Ext.getCmp('endTimet')
								.setValue(endTime);
					}
				},
				failure : function(form, action) {
					Ext.ux.Toast.msg('编辑', '载入失败');
				}
			});
		};
	},
	/**
	 * 保存记录
	 */
	save : function(formPanel, panel, signalName, activityName) {
	   var formPanel = Ext.getCmp('carOutRecordFormView');
	   var carNo = formPanel.getCmpByName('carApply.carNo').getValue();
	   var driver = formPanel.getCmpByName('carApply.driver').getValue();
	   var content = "您在OA系统发起的用车申请已通过审核并派车，车牌号："+carNo+"司机："+driver;
       Ext.getCmp('content').setValue(content);
		Ext.getCmp('approvalStatus').setValue(3);
             // Ext.getCmp('approvalStatust').setValue(3);
              Ext.getCmp('ishavecardriver').setValue(1);
              Ext.getCmp('iseffective').setValue(2);
				var fp = Ext.getCmp('carOutRecordFormView');
		// var applyId = null;
		if (fp.getForm().isValid()) {
			fp.getForm().submit({
				url : __ctxPath + '/admin/saveCarApply.do',
				method : 'post',
				waitMsg : '正在提交数据...',
				success : function() {	
				// var opinion= panel.formPanel.getCmpByName('des').getValue();
		if (formPanel.getForm().isValid()) {
			// var chooseDirection;
			// var option =
			// formPanel.getCmpByName('directionOption').getGroupValue();
			// if(option=='2'){Ext.getCmp('officeReceiveRecordFormView.userId').setValue(100188);}
			// var userId = formPanel.getCmpByName('userId').getValue();
			var sendMail = msgPanel.getCmpByName('sendMail').getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
			// var comments=formPanel.getCmpByName('askOpinion').getValue();
	       var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
				result='完成';	
			formPanel.getForm().submit({
				url : __ctxPath + "/flow/nextProcessActivity.do",
				method : 'post',
				waitMsg : '正在提交数据...',
				params : {
					taskId : panel.taskId,
					signalName : signalName,
					activityName : activityName,
					// chooseDirection : chooseDirection,
					// ccUserIds : ccPanel.getCmpByName('ccIds').getValue(),
					// flowAssignId: userId,
					// opinion:opinion,
					status:result/*
									 * , comments:comments
									 */
				},
				success : function(fp, action) {
						Ext.Ajax.request({
							url : __ctxPath + "/flow/sendMailNoticecarProcessActivity.do",
								params : {
										  userId:'${userId}',
										  content: Ext.getCmp('content').getValue(),
										  sendMail : sendMail,
					                       sendMsg : sendMsg,
					                      sendInfo:sendInfo
										  },
								method : 'POST'
							});
					Ext.ux.Toast.msg('操作信息', '成功保存！');
					AppUtil.removeTab('ProcessForm' + panel.taskId);
					var VehicleApplyGrid=Ext.getCmp("VehicleApplyGrid");
					var myTaskView = Ext.getCmp("MyTaskGrid");
					var appHomeTaskGrid = Ext
							.getCmp("appHomeTaskGrid");
					if (appHomeTaskGrid != null) {
						appHomeTaskGrid.getStore().reload();
					}
					if (VehicleApplyGrid != null) {
						VehicleApplyGrid.getStore().reload();
					}
					if (myTaskView != null) {
						// AppUtil.activateTab(taskView);
						myTaskView.getStore().reload();
					}
					refreshTaskPanelView();
				},
				failure : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
				}
			});	
		}},
				failure : function() {
						Ext.MessageBox.show({
									title : '操作信息',
									msg : '信息保存出错，请联系管理员！',
									buttons : Ext.MessageBox.OK,
									icon : 'ext-mb-error'
								});}
			})}
		
		
		
		
	}// end of save
})