roadOfficeSentArchiveDepCheck = Ext.extend(Ext.Panel, {
	taskId : null,
	setTaskId : function(vId) {
		this.taskId = vId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	displayPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		roadOfficeSentArchiveDepCheck.superclass.constructor.call(this, {
					layout : 'form',
					items : [this.displayPanel, this.formPanel],
					modal : true,
					height : 670,
					width : 700,
					autoHeight : true,
					maximizable : true,
					buttonAlign : 'center',
					buttons : this.buttons
				});
	},
	initUIComponents : function() {
		var initStore = new Ext.data.SimpleStore({
				url :__ctxPath + '/snconfig/getSignsFlowSnConfig.do?flowId=${defId}',
				autoLoad : true,
				fields : ['snId', 'snName']
			});
		this.displayPanel = new Ext.Panel({
			autoScroll : true,
			autoHeight : true,
			border : false,
			autoLoad : {
				url : __ctxPath
						+ '/pages/chongqingSentArchives/roadOfficeSentArchiveDetail.jsp?archiveId=${archivesId}&fileIds=${fileIds}',
				nocache : true
			}
		});
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			id : 'roadOfficeSentArchiveDepCheckForm',
			url : __ctxPath + '/archive/saveDepLeaderRead.do',
			defaults : {
				anchor : '98%,98%'
			},
			items : [{
						name : 'archives.archivesId',
						id : 'archives.archivesId',
						xtype : 'hidden',
						value : '${archivesId}'
					}, {
						id:'roadOfficeSentArchiveDepCheckForm.defId',
						xtype:'hidden',
						value:'${defId}'
					},{
						xtype:'hidden',
						id:'roadOfficeSentArchiveDepCheckForm.snId'
					},{
						xtype : 'container',
						id : 'roadOfficeSentArchiveDepCheckForm.signs',
						layout : 'column',
						height : 30,
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									text : '选择编号名称:',
									width : 105
								}, {
									xtype : "combo",
									id : "roadOfficeSentArchiveDepCheckForm.snName",
									valueField : 'snId',
									displayField : 'snName',
									editable : false,
									allowBlank : false,
									triggerAction : 'all',
									forceSelection : true,
									width : 466,
									store : initStore,
									listeners : {
										select : function(cbo, record, index) {
											Ext.getCmp('roadOfficeSentArchiveDepCheckForm.snId')
													.setValue(cbo.getValue());
										}
									}
								}]
					}, {xtype : 'container',
						layout : 'column',
						style : 'padding-bottom:10px',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									text : '公文编号:',
									width : 105
								}, {
									name : 'archivesNo',
									id:'archives_archivesNo',
									xtype : 'textfield',
									allowBlank : false,
									readOnly :true,
									width : 470
								},{
									xtype : 'button',
									iconCls : 'menu-flowWait',
									style : 'padding-left:5px',
									text : '生成编号',
									handler : function() {
										if(Ext.getCmp('roadOfficeSentArchiveDepCheckForm.snName').isValid()){
											Ext.Ajax.request({
												url : __ctxPath + '/snconfig/getSnNoFileSnConfig.do',
												params : {
													defId : '${defId}',
													snConfigId:Ext.getCmp("roadOfficeSentArchiveDepCheckForm.snName").getValue()
												},
												method : 'POST',
												waitMsg : "正在生成编号，请稍等",
												success : function(response, options) {
													 var archivesNo = Ext.util.JSON.decode(response.responseText).data;
													 Ext.getCmp('archives_archivesNo').setValue(archivesNo);
												},
												failure : function(response, options) {
													Ext.ux.Toast.msg('操作信息', '生成编号出错，请联系管理员！');
												}
											});
										}
									}
								}]},{
						layout:'column',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[ {fieldLabel : '审批意见',
										name : 'leaderRead.leaderOpinion',
										id:'roadOfficeSentArchiveDepCheckForm.leaderOpinion',
										autoScroll:true,
										maxLength:500,
										allowBlank:true,
										xtype:'textarea',
										width:466,
										height:40
									}]
					      },{
					   		layout:'form',
					   		style:'padding-top:10px;padding-left:5px;',
					   		border:false,
					   		items:[{
									xtype : 'button',
									text : '常用批示语',
									iconCls : 'menu-new-document',
									handler : function() {
										OdCommentsSelector.getView(
											function(id, name) {
											var fm = Ext
												.getCmp('roadOfficeSentArchiveDepCheckForm');
												fm
												.getCmpByName('leaderRead.leaderOpinion')
												.setValue(name);
												}, true).show();
										}
									}]
					   }]
					}]
		});
		this.buttons = [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								})
								#set ($count=$count+1)
						#end];
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
		
		if (formPanel.getForm().isValid()) {
			var sendMail = msgPanel.getCmpByName('sendMail')
					.getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg')
					.getValue();
			var result = '呈生成电子公文';
			var params = {
					taskId : panel.taskId,
					signalName : signalName,
					activityName : activityName,
					ccUserIds : ccPanel.getCmpByName('ccIds').getValue(),
					sendMail : sendMail,
					sendMsg : sendMsg,
					status : result,
					comments : formPanel.getCmpByName('leaderRead.leaderOpinion').getValue(),
					depLeaderOption : '同意'
					// flowAssignId : 100194 //冉莉/文印室/CQJW
				};
			
			// alert(Ext.util.JSON.encode(params));
			 var archivesNo = Ext.getCmp("archives_archivesNo").getValue();
			 Ext.Ajax.request({
					url : __ctxPath + '/archive/updateArchNoArchives.do',
					params : {
						'archivesId' : Ext.getCmp("archives.archivesId").getValue(),
						'archivesNo':archivesNo
					},
					method:'post',
					success : function(response, options) {
						formPanel.getForm().submit({
							url : __ctxPath + "/flow/nextProcessActivity.do",
							method : 'post',
							waitMsg : '正在提交数据...',
							params : params,
							success : function(fp, action) {
								Ext.ux.Toast.msg('操作信息', '编号成功！');
								AppUtil.removeTab('ProcessForm' + panel.taskId);
								refreshTaskPanelView();
							},
							failure : function(fp, action) {
								Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
							}
						});},
					failure : function(response, options) {
							Ext.ux.Toast.msg('操作信息', '编号更新出错，请联系管理员！');
						}
					});
				}
	}// end of save
})