GGJSentArchiveReStart = Ext.extend(Ext.Panel, {
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		GGJSentArchiveReStart.superclass.constructor.call(this, {
					id : 'CQHQSentArchiveReStart',
					title : '重庆后勤中心发文处理笺-重新发起',
					layout : 'form',
					modal : true,
					width : 800,
					height:770,
					// autoScroll:true,
					iconCls : 'menu-archive-draft',
					maximizable : true,
					items : [this.formPanel],
					buttonAlign : 'center',
					buttons : [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								})
								#set ($count=$count+1)
						#end]
				});
		var jsArr = [__ctxPath + '/js/archive/ArchivesDocForm.js',
		__ctxPath + '/js/archive/ArchivesDocForm.js',
		__ctxPath + '/js/archive/ArchivesDocHistoryWin.js',
		__ctxPath + '/js/archive/ArchiveTypeTempView.js',
		__ctxPath + '/js/archive/ArchTemplateView.js',
		__ctxPath + '/js/archive/ArchTemplateForm.js',
		__ctxPath + '/js/archive/OfficeTemplateView.js',
		__ctxPath + '/js/archive/ArchTemplateSelector.js',
		__ctxPath + '/js/archive/ArchivesUtil.js'];
		$ImportSimpleJs(jsArr, null);
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
		var fileIds = Ext.getCmp('CQHQReFiles.fileIds').getValue();
		if (panel.store.getCount() == 0) {// 公文正文附件为空
			Ext.ux.Toast.msg('操作信息', '请添加公文正文附件!');
			return false;
		}
		if (formPanel.getForm().isValid()) {
			var docParams=Ext.getCmp("CQHQSentArchiveReStart.reFileId");
			for (var i = 0, cnt = panel.store.getCount(); i < cnt; i++) {
				if(panel.store.getAt(i).data.fileId!=''){
					if(docParams.getValue()!=""){
						docParams.setValue(docParams.getValue()+',');
					} 
				} 
				docParams.setValue(docParams.getValue()+panel.store.getAt(i).data.fileId);
			}
			var test=Ext.getCmp("CQHQSentArchiveReStart.reFileId").getValue();
			formPanel.getForm().submit({
				method : 'POST',
				waitMsg : '正在提交数据...',
				params : {
					archivesRecfileIds : Ext.getCmp("CQHQSentArchiveReStart.reFileId").getValue()
				},
				success : function(fp, action) {
					var sendMail = msgPanel.getCmpByName('sendMail').getValue();
					var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
					var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
					var flowAssignId = Ext.getCmp("CQHQSentArchiveReStart.flowAssignId").getValue();
					var isReserveNo=formPanel.getCmpByName('archives.isReserveNo').getGroupValue();
					formPanel.getForm().submit({
						url : __ctxPath + '/flow/nextProcessActivity.do',
						method : 'post',
						waitMsg : '正在提交数据...',
						params : {
							isReserveNo:isReserveNo,
							taskId : panel.taskId,
							signalName : signalName,
							activityName : activityName,
							sendMail : sendMail,
							sendMsg : sendMsg,
							sendInfo:sendInfo,
							status:'呈处室初核',
							flowAssignId : flowAssignId,
							fileIds : fileIds?fileIds:'_'
						},
						success : function(response, options) {
							Ext.ux.Toast.msg('操作信息', '重新发起成功！');
							Ext.getCmp('centerTabPanel').remove(Ext
									.getCmp('ProcessForm' + panel.taskId));
							refreshTaskPanelView();
						}
					});
				},
				failure : function(fp, action) {
					Ext.MessageBox.show({
								title : '操作信息',
								msg : '信息保存出错，请联系管理员！',
								buttons : Ext.MessageBox.OK,
								icon : Ext.MessageBox.ERROR
							});
				}
			});
		}

	},
	initUIComponents : function() {
		this.archivesId='${archivesId}'; 
		this.docGridPanel = new ArchivesUtil({
					panelId : 'CQHQSentArchiveReStart',
					isStart : true,
					archivesId : this.archivesId
					}).getGridPanelWithFullTools();
					
		var fp=this.formPanel = new Ext.FormPanel({
			url : __ctxPath + '/archive/saveArchives.do',
			frame : false,
			border : false,
			layout : 'form',
			labelWidth : 80,
			width : 800,
			padding : '5px',
			reader : new Ext.data.JsonReader({
						root : 'data'
					}, [	{
								name : 'archives.archivesId',
								mapping : 'archivesId'
							}, {
								name : 'archives.archivesType.typeId',
								mapping : 'parentArchId'
							}, {
								name : 'archives.issueDep',
								mapping : 'issueDep'
							}, {
							    name:'archives.status',
							    mapping:'status'
							}, {
								name : 'archives.subject',
								mapping : 'subject'
							}, {
								name : 'archives.fileCounts',
								mapping : 'fileCounts'
							}, {
								name : 'archives.privacyLevel',
								mapping : 'privacyLevel'
							}, {
								name : 'archives.urgentLevel',
								mapping : 'urgentLevel'
							}, {
								name : 'archives.issuer',
								mapping : 'issuer'
							}, {
								name : 'archives.issuerId',
								mapping : 'issuerId'
							}, {
								name:'archives.sources',
								mapping:'sources'
							}, {
								name:'archives.archType',
								mapping:'archType'
							}, {
								name:'archives.isPublic',
								mapping:'isPublic'
							}, {
								name:'archives.isReserveNo',
								mapping:'isReserveNo'
							},{
								name : 'archives.reviewUser',
								mapping : 'reviewUser'
							}, {
								name : 'archives.reviewUserName',
								mapping : 'reviewUserName'
							}, {
								name : 'archives.sendTo',
								mapping : 'sendTo'
							}, {
								name : 'archives.ccTo',
								mapping : 'ccTo'
							},{
								name:'archives.isStandard',
								mapping:'isStandard'
							},{
								name:'archives.unPublicReasons',
								mapping:'unPublicReasons'
							},{
								name:'archives.enclosure',
								mapping:'enclosure'
							}]),
			items : [{
				border : false,
				layout : 'column',
				defaults : {
					border : false,
					columnWidth : .33,
					layout : 'form',
					defaults : {
						width : 150,
						xtype : 'textfield',
						allowBlank : false
					}
				},
				items : [{
					items : [{
								fieldLabel : "拟稿部门",
								value : curUserInfo.depName,
								readOnly : true
							}, {
								xtype : 'combo',
								fieldLabel : "发文单位",
								name : 'archives.issueDep',
								triggerAction : 'all',
								listWidth:200,
								lazyRender : true,
								editable : false,
								fieldLabel : '发文单位',
								store : ['重庆市交通委员会', 
										'中共重庆市交通委员会', '中共重庆市交通委员会机关党委',
										'中共重庆市交通纪律检查委员会', '共青团重庆市交通委员会',
										'重庆市交通委员会直属机关工会']
							}, {
								xtype : 'combo',
								fieldLabel : '文种',
								hiddenName : "archives.archivesType.typeId",
								valueField : 'typeId',
								displayField : 'typeName',
								editable : false,
								triggerAction : 'all',
								forceSelection : true,
								store : new Ext.data.SimpleStore({
											url : __ctxPath
													+ '/archive/comboArchivesType.do',
											autoLoad : true,
											fields : ['typeId', 'typeName']
										})
							}]
				}, {
					items : [{
								xtype : "combo",
								fieldLabel : '缓急',
								triggerAction : 'all',
								editable : false,
								allowBlank:true,
								name : 'archives.urgentLevel',
								emptyText : '急缓程度',
								store : ['特急', '急件', '加急', '平急']
							}, {
								fieldLabel : '拟稿',
								name : "archives.issuer",
								readOnly : true,
								value : curUserInfo.fullname
							}, {
								xtype : 'combo',
								name : 'archives.sources',
								triggerAction : 'all',
								editable : false,
								fieldLabel : '行文方向',
								store : ['上行文', '平行文', '下行文']
							}]
				}, {
					items : [{
								xtype : "combo",
								fieldLabel : '密级',
								triggerAction : 'all',
								editable : false,
								allowBlank:true,
								name : 'archives.privacyLevel',
								id:'CQHQREarchives.privacyLevel',
								emptyText : '密级程度',
								store : ['一般', '秘密', '机密', '绝密'],
								listeners: {
									'select':function(combo){
										if(combo.getValue()!='一般'){
											Ext.getCmp('CQHQSentArchiveStart.public').disable();
											Ext.getCmp('CQHQSentArchiveStart.public').allowBlank=true;
											Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').allowBlank=true,
											Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').disable();
											Ext.getCmp('CQHQRestarthiddeIsPublic').setValue(0);
			                                Ext.getCmp('CQHQRestarthiddeUnPublicReasons').setValue(null);
			                                Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').setValue(null);
			                                //Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').allowBlank = true;
			                                Ext.getCmp('CQHQRestarthiddeIsPublic').setDisabled(false);
		                                    Ext.getCmp('CQHQRestarthiddeUnPublicReasons').setDisabled(false);
		                                    
		                                   // Ext.getCmp('CQHQSentArchiveReCounts').show();
											//Ext.getCmp('CQHQSentArchiveReCounts').el.parent().parent().show();
											//Ext.getCmp('CQHQSentArchiveReCounts').allowBlank = false;
										}else{
											Ext.getCmp('CQHQSentArchiveStart.public').reset();
											Ext.getCmp('CQHQSentArchiveStart.public').setDisabled(false);
											Ext.getCmp('CQHQSentArchiveStart.public').allowBlank=false;
											Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').allowBlank=false,
											Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').setDisabled(false);
										    Ext.getCmp('CQHQRestarthiddeIsPublic').disable();
		                                    Ext.getCmp('CQHQRestarthiddeUnPublicReasons').disable();
		                                    
		                                    //Ext.getCmp('CQHQSentArchiveReCounts').hide();
											//Ext.getCmp('CQHQSentArchiveReCounts').el.parent().parent().hide();
											//Ext.getCmp('CQHQSentArchiveReCounts').allowBlank = true;
										}
									}
								}
							}, 
								{
								xtype : "hidden",
								name : "archives.reviewUserName",
								id : "CQHQSentArchiveReStart.reviewUserName"
							},
								 {
								xtype : "combo",
								hiddenName : "archives.reviewUser",
								fieldLabel : "核稿",
								id : 'CQHQSentArchiveReStart.flowAssignId',
								valueField : 'flowAssignId',
								displayField : 'flowAssignName',
								editable : false,
								triggerAction : 'all',
								forceSelection : true,
								store : new Ext.data.SimpleStore({
											url : __ctxPath
													+ '/system/arrLeadersAppUser.do?roles='+roleMap.get('officeDeputyDirectorRoleID')+','+roleMap.get('officeDirectorRoleID'),
											autoLoad : true,
											fields : ['flowAssignId',
													'flowAssignName']
										}),
								listeners:{'select':function(){
								Ext.getCmp('CQHQSentArchiveReStart.reviewUserName').setValue(Ext
				.get('CQHQSentArchiveReStart.flowAssignId').dom.value);
								//alert(Ext.getCmp('CQHQSentArchiveReStart.reviewUserName').getValue());
								}}
							}, {
								xtype : 'textfield',
								name : 'archives.fileCounts',
								id : 'CQHQSentArchiveReCounts',
								fieldLabel : '份数',
								value : 1
							}]
				}]
			},{
				xtype : 'textfield',
				name : 'archives.subject',
				allowBlank : false,
				width : '92.7%',
				fieldLabel : '标题'
			}, {
				xtype : 'container',
				layout : 'hbox',
				style : 'padding:0px 0px 5px 0px;margin-left:0px;',
				defaults : {
					allowBlank : false,
					border : false
				},
				items : [{
							xtype : 'label',
							style:'padding-top:4px;',
							text : '主送:',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.sendTo',
							width : '71.5%',
							id : 'GCQHQReGridSentArchiveReStart.sendTo'
						}, {
							style : 'padding-left:5px;',
							xtype : 'button',
							iconCls : 'btn-dep-sel',
							text : '常用主送单位',
							handler : function() {
										UnitsSelector.getView(
											function(ids, names) {
												Ext.getCmp('GCQHQReGridSentArchiveReStart.sendTo')
													.setValue(names);
												}, false,1).show();
										}
						}]
			}, {
				xtype : 'container',
				layout : 'hbox',
				defaults : {
					allowBlank : false,
					border : false
				},
				items : [{
							xtype : 'label',
							style:'padding-top:4px;',
							text : '抄送:',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.ccTo',
							allowBlank : true,
							id : 'CQHQSentArchiveReStart.ccTo',
							width : '71.5%'
						}, {
							xtype : 'button',
							style : 'padding-left:5px;',
							iconCls : 'menu-department',
							text : '常用抄送单位',
							handler : function() {
										UnitsSelector.getView(
											function(ids, names) {
												Ext.getCmp('CQHQSentArchiveReStart.ccTo')
													.setValue(names);
												}, false,2).show();
										}
						}]
			}, {
				xtype : 'fieldset',
				style:'padding-top:6px',
				border : false,
				defaults : {
					anchor : '96%,90%'
				},
				items : [this.docGridPanel]
			}, {
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 8px 0px;margin-left:2px;',
				defaults : {
					allowBlank : true,
					border : false
				},
				items : [{
							xtype : 'label',
							text : '附件：',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.enclosure',
							width : '85%'
						}]
			},{
				layout : 'column',
				border : false,
				defaults : {
					layout : 'form',
					border : false
				},
				items : [{
							columnWidth : .85,
							items : [{
										fieldLabel : '公文附件',
										xtype : 'panel',
										id : 'CQHQReFiles.personFilePanel',
										frame : false,
										border : true,
										bodyStyle : 'padding:4px 4px 4px 4px;',
										height : 80,
										autoScroll : true,
										html : ''
									}]
						}, {
							columnWidth : .12,
							items : [{
								border : false,
								xtype : 'button',
								text : '添加文件',
								iconCls : 'menu-attachment',
								handler : function() {
									var dialog = App.createUploadDialog({
										file_cat : 'document',
										judge_size : 'no',
										upload_autostart : true,
										callback : function(data) {
											var fileIds = Ext.getCmp('CQHQReFiles.fileIds');
											var filePanel = Ext.getCmp('CQHQReFiles.personFilePanel');

											for (var i = 0; i < data.length; i++) {
												if (fileIds.getValue() != '') {
													fileIds.setValue(fileIds
															.getValue()
															+ ',');
												}
												fileIds.setValue(fileIds
														.getValue()
														+ data[i].fileId);

												Ext.DomHelper
														.append(
																filePanel.body,
																'<span><a href="#" onclick="FileAttachDetail.show('
																		+ data[i].fileId
																		+ ')">'
																		+ data[i].filename
																		+ '</a> <img class="img-delete" src="'
																		+ __ctxPath
																		+ '/images/system/delete.gif" onclick="removeFile(this,\'CQHQReFiles.fileIds\','
																		+ data[i].fileId
																		+ ')"/>&nbsp;|&nbsp;</span>');

											}
										}
									});
									dialog.show(this);
								}
							}, {
								xtype : 'button',
								text : '清除文件',
								iconCls : 'reset',
								handler : function() {
									var fileAttaches = Ext.getCmp('CQHQReFiles.fileIds');
									var filePanel = Ext.getCmp('CQHQReFiles.personFilePanel');

									filePanel.body.update('');
									fileAttaches.setValue('');
								}
							}, {
								xtype : 'hidden',
								id : 'CQHQReFiles.fileIds',
								name : 'fileIds'
							}]
						}]
			},{id : '_CQHQ_isReserveNoReStart_',
				border : false,
				layout : 'form',
				labelWidth:95,
				items : {
				xtype : 'radiogroup',
				hideParent:true,
				id:'_CQHQAllBl_isReserveNoReStart_',
				allowBlank:true,
				fieldLabel : '是否预约编号',
				items : [{
							boxLabel : '是',
							id:'CQHQSentArchiveReStart.reserveNo',
							name : 'archives.isReserveNo',
							inputValue : 1
						}, {
							boxLabel : '否',
							id:'CQHQSentArchiveReStart.unreserveNo',
							name : 'archives.isReserveNo',
							inputValue : 0
						}]}
			}, {border:false,
				layout:'form',
				labelWidth:95,
				items:{
				xtype : 'radiogroup',
				fieldLabel : '是否规范性文件',
				items : [{
							boxLabel : '是',
							id:'CQHQSentArchiveReStart.standard',
							name : 'archives.isStandard',
							inputValue : 1
						}, {
							boxLabel : '否',
							id:'CQHQSentArchiveReStart.unStandard',
							name : 'archives.isStandard',
							inputValue : 0
						}]
			}}, {border:false,
			layout:'form',
			labelWidth:95,
			items:{
				xtype : 'radiogroup',
				fieldLabel : '是否公开到外网',
				id:'CQHQSentArchiveStart.public',
				items : [{
					boxLabel : '是',
					id:'CQHQSentArchiveReStart.public',
					name : 'archives.isPublic',
					inputValue : 1,
					listeners : {
						'check' : function(checkbox, checked) {
							if (checked) {
								Ext.getCmp('CQHQRestarthiddeIsPublic').disable();
		                        Ext.getCmp('CQHQRestarthiddeUnPublicReasons').disable();
								Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').setValue(null);
								Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').allowBlank = true;
								Ext.getCmp('_CQHQSentArchiveReStart.unPublicReasons').hide();
							}
						}
					}
				}, {
					boxLabel : '否',
					id:'CQHQSentArchiveReStart.unPublic',
					name : 'archives.isPublic',
					inputValue : 0,
					listeners : {
						'check' : function(checkbox, checked) {
							if (checked) {
								Ext.getCmp('CQHQRestarthiddeIsPublic').disable();
		                        Ext.getCmp('CQHQRestarthiddeUnPublicReasons').disable();
								Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').allowBlank = false;
								Ext.getCmp('_CQHQSentArchiveReStart.unPublicReasons').show();
							}
						}
					}
				}]
			}}, {
				id : '_CQHQSentArchiveReStart.unPublicReasons',
				border : false,
				layout : 'form',
				items:[{
					fieldLabel : '不公开原因',
					xtype : 'textarea',
					hideParent : true,
					name : 'archives.unPublicReasons',
					id : 'CQHQSentArchiveReStart.unPublicReasons',
					width : '93%'
				}]
			},{
				xtype:'hidden',
				disabled:true,
				name:'archives.isPublic',
				id:'CQHQRestarthiddeIsPublic'
			},{
				xtype:'hidden',
				disabled:true,
				name:'archives.unPublicReasons',
				id:'CQHQRestarthiddeUnPublicReasons'
			}, {
				xtype:'hidden',
				name:'archives.issuerId',
				value:curUserInfo.userId
			},{
				xtype:'hidden',
				name:'archives.archType',
				value:0
			},{
				xtype:'hidden',
				name:'archives.archivesId'
			},{
				xtype:'hidden',
				name:'archives.status'
			},{
				xtype:'hidden',
				id:'CQHQSentArchiveReStart.reFileId'
			}]
		});
		if (this.archivesId) {
			this.formPanel.getForm().load({
				deferredRender : false,
				url : __ctxPath + '/archive/getArchDataArchives.do?archivesId='
						+ this.archivesId,
				waitMsg : '正在载入数据...',
				method:'post',
				success : function(form, action) {
					var isStandard=action.result.data['archives.isStandard'];
					var isPublic=action.result.data['archives.isPublic']; 
					var isReserveNo=action.result.data['archives.isReserveNo'];
					Ext.get('CQHQSentArchiveReStart.flowAssignId').dom.value=action.result.data['archives.reviewUserName'];
					var privacyLevel=action.result.data['archives.privacyLevel'];
						var did='${defId}';
						Ext.Ajax.request({
										url : __ctxPath + '/snconfig/listByPageFileSnConfigOrder.do',
										params : {
											'flowId' : did,
											'userId':curUserInfo.userId,
											'isUsed':0
										},
										method:'post',
										success : function(response, options) {
											var af=Ext.util.JSON.decode(response.responseText).result;
											if(af==""){
											  Ext.getCmp('_CQHQ_isReserveNoReStart_').hide();
											  fp.getCmpByName('archives.isReserveNo').setValue(0);
											  Ext.getCmp('_CQHQAllBl_isReserveNoReStart_').allowBlank=true;
											}else{
											Ext.getCmp('_CQHQ_isReserveNoReStart_').show();
											if("${isReserveNo}"==0){
										 Ext.get('CQHQSentArchiveReStart.unreserveNo').dom.checked=true;
												}else{					
										Ext.get('CQHQSentArchiveReStart.reserveNo').dom.checked=true;
										}
														}
													}
						});
					if(privacyLevel!='一般'&&privacyLevel!='密级程度'){
						//Ext.getCmp('CQHQSentArchiveReCounts').show();
						//Ext.getCmp('CQHQSentArchiveReCounts').el.parent().parent().show();
						Ext.getCmp('CQHQSentArchiveStart.public').disable();
						Ext.getCmp('CQHQSentArchiveStart.public').allowBlank = true;
						Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').setValue(null);
						Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').allowBlank = true;
						Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').disable();
					    Ext.getCmp('CQHQRestarthiddeIsPublic').setDisabled(false);
		                Ext.getCmp('CQHQRestarthiddeUnPublicReasons').setDisabled(false);
					}else {
					
					  // Ext.getCmp('CQHQSentArchiveReCounts').hide();
						//Ext.getCmp('CQHQSentArchiveReCounts').el.parent().parent().hide();
					}
					if(privacyLevel=='一般'||privacyLevel=='密级程度'){
						Ext.getCmp('CQHQRestarthiddeIsPublic').disable();
		                Ext.getCmp('CQHQRestarthiddeUnPublicReasons').disable();
					if(isPublic==0){
						Ext.get("CQHQSentArchiveReStart.unPublic").dom.checked=true;
					}else{
						Ext.get("CQHQSentArchiveReStart.public").dom.checked=true;
						Ext.getCmp('CQHQSentArchiveReStart.unPublicReasons').allowBlank = true;
						Ext.getCmp('_CQHQSentArchiveReStart.unPublicReasons').hide();
					}
					}
					if(isStandard==0){
						Ext.get("CQHQSentArchiveReStart.unStandard").dom.checked=true;
					}else{
						Ext.get("CQHQSentArchiveReStart.standard").dom.checked=true;
					}
					var filePanel = Ext.getCmp('CQHQReFiles.personFilePanel');
					var fileIds = Ext.getCmp("CQHQReFiles.fileIds");
					Ext.Ajax.request({
									url : __ctxPath + '/archive/getAttachFilesArchives.do',
									params : {
										'fileIds' : '${fileIds}'
									},
									method:'post',
									success : function(response, options) {
										var af=Ext.util.JSON.decode(response.responseText).data;
										if(af!=null){
										for (var i = 0; i < af.length; i++) {
											if (fileIds.getValue() != '') {
												fileIds.setValue(fileIds.getValue() + ',');
											}
											fileIds.setValue(fileIds.getValue() + af[i].fileId);
											Ext.DomHelper
													.append(
															filePanel.body,
															'<span><a href="#" onclick="FileAttachDetail.show('
																	+ af[i].fileId
																	+ ')">'
																	+ af[i].fileName
																	+ '</a><img class="img-delete" src="'
																	+ __ctxPath
																	+ '/images/system/delete.gif" onclick="removeFile(this,\'CQHQReFiles.fileIds\','
																	+ af[i].fileId
																	+ ')"/>&nbsp;|&nbsp;</span>');
										}
									}
									}
						});
				},
				failure : function(form, action) {
				}
			});
		}
	}
})