/**
 * @createtime:2010-01-20
 * @author csx
 * @description 公文发文审核
 * @class ArchivesDraftView
 * @extends Ext.Panel
 */
MeetingSummarySendOfficeView = Ext.extend(Ext.Panel, {
	setTaskId : function(tId){
		this.taskId = tId;
	},
	getTaskId : function(){
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		MeetingSummarySendOfficeView.superclass.constructor.call(this, {
					title : '室经理审核',
					id : 'MeetingSummarySendOfficeViewWin',
//					layout : 'column',
					defaults : {
						border : false,
						autoScroll : true
					},
					width : 700,
					height : 565,
					autoHeight:true,
					buttons :  [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									})
									#set ($count=$count+1)
								#end
								, new Ext.Button({
									iconCls : 'btn-edit',
									text : '修改公文',
									scope : this,
									handler : function(){
										new RedHeadArticleDraftWin({
											archivesId : '${archives_archivesId}',
											detailPanel : this.detailPanel
										}).show();
									}
								})
								],
					buttonAlign : 'center',
					items : [this.detailPanel,this.formPanel]
				});
				var jsArr=[__ctxPath+'/js/archive/RedHeadArticleDraftWin.js',
				            __ctxPath+'/js/archive/ArchivesDocForm.js',
				           __ctxPath+'/js/archive/ArchivesDocHistoryWin.js',
				           __ctxPath+'/js/archive/ArchiveTypeTempView.js',
				           __ctxPath+'/js/archive/ArchTemplateView.js',
				           __ctxPath + '/js/archive/ArchTemplateForm.js',
				            __ctxPath+'/js/archive/OfficeTemplateView.js',
				           __ctxPath+'/js/archive/ArchTemplateSelector.js'];
				$ImportSimpleJs(jsArr,null);
	},
	/**
	 * 保存公文的方法,传入公文状态作为参数
	 * 
	 * @param {}
	 *            _status
	 */
	onSave : function(formPanel,panel,signalName,activityName) {
	    var archivesStatus=4;
		var archivesId=panel.formPanel.getCmpByName('archives.archivesId').getValue();
		var archivesStatus=4;// 5代表公文状态为已经部门审核，待归档
		var officeLeaderOption;
		var flowAssignId;
		var optinion = formPanel.getCmpByName('officeLeaderOption').getGroupValue();
		var result;
		if(optinion=='1'){
			 flowAssignId = formPanel.getCmpByName('flowAssignId')
					.getValue();
			 officeLeaderOption='pass';
			 result='同意';
		}else{
			 officeLeaderOption='reject';
		     flowAssignId=${archives_issuerId};
		     result='驳回';
		}
		
		if (formPanel.getForm().isValid()) {
				formPanel.getForm().submit({
						method : 'POST',
						params:{archivesStatus:archivesStatus},
						waitMsg : '正在提交数据...',
						success : function(fp, action) {
							Ext.getCmp('readId').setValue(action.result.readId);
							var sendMail = msgPanel.getCmpByName('sendMail').getValue();
					var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
			formPanel.getForm().submit({
						method : 'POST',
						params:{archivesStatus:archivesStatus},
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						params:{taskId:taskId,signalName:signalName,activityName:activityName,ccUserIds : ccPanel.getCmpByName('ccIds').getValue(),
						         officeLeaderOption:officeLeaderOption,sendMail:sendMail,sendMsg:sendMsg,flowAssignId:flowAssignId,status:result,
							    comments:formPanel.getCmpByName('leaderRead.leaderOpinion').getValue()},
						waitMsg : '正在提交数据...',
						success : function(fp, action) {
							Ext.getCmp('readId').setValue(action.result.readId);	
							Ext.ux.Toast.msg("操作信息", "审核成功！");
							AppUtil.removeTab('ProcessForm'+taskId);
							// TODO
							refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.MessageBox.show({
										title : '操作信息',
										msg : '信息保存出错，请联系管理员！',
										buttons : Ext.MessageBox.OK,
										icon : Ext.MessageBox.ERROR
									});
						}
					});
					},
						failure : function(fp, action) {
							Ext.MessageBox.show({
										title : '操作信息',
										msg : '信息保存出错，请联系管理员！',
										buttons : Ext.MessageBox.OK,
										icon : Ext.MessageBox.ERROR
									});
						}
			});
		}
	},
	
	
	//退回发起人方法，弃用
	reject : function(formPanel,panel,signalName,activityName) {
		var officeLeaderOption='reject';
		var flowAssignId=${archives_issuerId};
		var archivesStatus=8;// 8代表公文状态为退回
		if (formPanel.getForm().isValid()) {
			formPanel.getForm().submit({
						method : 'POST',
						params:{archivesStatus:archivesStatus},
						waitMsg : '正在提交数据...',
						success : function(fp, action) {
							Ext.getCmp('readId').setValue(action.result.readId);	
								var sendMail = msgPanel.getCmpByName('sendMail').getValue();
					var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
			formPanel.getForm().submit({
						method : 'POST',
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						params:{taskId:taskId,signalName:signalName,activityName:activityName,officeLeaderOption:officeLeaderOption,
						        ccUserIds : ccPanel.getCmpByName('ccIds').getValue(),flowAssignId:flowAssignId,sendMail:sendMail,sendMsg:sendMsg},
						waitMsg : '正在提交数据...',
						success : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '成功退回！');
							Ext.getCmp('readId').setValue(action.result.readId);	
							AppUtil.removeTab('ProcessForm'+taskId);
							// TODO
						},
						failure : function(fp, action) {
							Ext.MessageBox.show({
										title : '操作信息',
										msg : '信息保存出错，请联系管理员！',
										buttons : Ext.MessageBox.OK,
										icon : Ext.MessageBox.ERROR
									});
						}
					});
				},
						failure : function(fp, action) {
							Ext.MessageBox.show({
										title : '操作信息',
										msg : '信息保存出错，请联系管理员！',
										buttons : Ext.MessageBox.OK,
										icon : Ext.MessageBox.ERROR
									});
						}
			});
		}
	},
	
	
	
	
	/**
	 * init the components
	 */
	init : function() {
		var depIds = ${todepid};
		var iniDepId= ${archives_depId};
	    comboStore = new Ext.data.SimpleStore({
						url : __ctxPath + '/system/getLeadersAppUser.do?depId='+iniDepId,
						autoLoad : true,
						fields : ['flowAssignId', 'flowAssignName']
					});
		comboStore.load();
			
		// 显示公文详细信息
		this.detailPanel = new Ext.Panel({
			// title:'流程审批信息',
			autoHeight : true,
			columnWidth : 1,
			autoScroll:true,
			autoLoad:{
				url:__ctxPath+ '/pages/redheadArticle/archiveIssueDetail.jsp?archivesId='+ ${archives_archivesId},
				nocache : true
			}
		});
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			columnWidth : 1,
			layout : 'form',
			autoHeight : true,
			bodyStyle : 'padding:10px 10px 10px 10px',
			url : __ctxPath + '/archive/saveDepLeaderRead.do',
			// id : 'ArchivesForm',
			items : [{
						name : 'leaderRead.readId',
						id : 'readId',
						xtype : 'hidden'
					},/*{
						fieldLabel : '审核结果',
						hiddenName : 'officeLeaderOption',
						id : 'officeLeaderOption',
						xtype : 'combo',
						mode : 'local',
						allowBlank : false,
						editable : false,
						triggerAction : 'all',
					    blankText:'请选择审核结果',
						store : [['1', '审核通过并转呈部门负责人审核'], ['2', '退回发起人']],
						listeners : {
							scope : this,
							'select' : function(combo, record, index) {
								if (index == '1') {
									// index从0开始
									// alert(index);handle
									Ext.getCmp('MeetingSummarySendOfficeView.container').hide();
								}
								if (index == '0') {
									// alert(index);
									Ext.getCmp('MeetingSummarySendOfficeView.container').show();
									Ext.getCmp('MeetingSummarySendOfficeView.container').allowBlank = false;
								}
							}
						}
					},*/
						{
							xtype : 'radiogroup',
   							allowBlank : false,
   							width : 500,
   							items : [{
    							boxLabel : '审核通过并呈部门负责人审核',
    							name : 'officeLeaderOption',
    							inputValue : 1,
    							checked : true,
    							listeners : {
     									'check' : function(checkbox, checked){
              								if(checked){//只有在点击时触发
												Ext.getCmp('MeetingSummarySendOfficeView.container').show();
												Ext.getCmp('MeetingSummarySendOfficeView.flowAssignName').allowBlank = false;
												Ext.getCmp('MeetingSummarySendOfficeView.leaderOpinion').allowBlank = true;
											}   
										}
									}
   								}, {
    							boxLabel : '驳回',
    							name : 'officeLeaderOption',
    							inputValue : 2,
    							listeners : {
     								'check' : function(checkbox, checked){
											if(checked){//只有在点击时触发
												Ext.getCmp('MeetingSummarySendOfficeView.container').hide();
												Ext.getCmp('MeetingSummarySendOfficeView.flowAssignName').allowBlank = true;
												Ext.getCmp('MeetingSummarySendOfficeView.leaderOpinion').allowBlank = false;
											}   
									}
    							}
   								}],
  						 fieldLabel : '审批步骤'

					},{
						name : 'leaderRead.checkName',
						xtype : 'hidden',
						value : 
							#foreach ($v in $nextTrans)
								'${v.source}'
							#end
					},{
						fieldLabel : '所属公文ID',
						name : 'archives.archivesId',
						xtype : 'hidden',
						value : '${archives_archivesId}'
					}, {
						name : 'flowAssignId',
						id : 'MeetingSummarySendOfficeView.flowAssignId',
						xtype : 'hidden'
					}, {
						xtype : 'container',
						id:'MeetingSummarySendOfficeView.container',
						layout : 'column',
						style : 'padding-left:0px;margin-left:0px;',
						height : 30,
						defaults : {
								border : false
								},
						items : [{
								xtype : 'label',
								text : '部门审核人:',
								style : 'padding:0px 0px 0px 0px;',
							    width : 105
							},{
								xtype : "combo",
								name : "flowAssignName",
								id : "MeetingSummarySendOfficeView.flowAssignName",
								valueField : 'flowAssignId',
								displayField : 'flowAssignName',
								mode : 'local',
								editable : false,
								typeAhead : true,
								allowBlank : false,
								triggerAction : 'all',
								forceSelection : true,
								width : 400,
								store : comboStore,
								listeners : {
										select : function(cbo, record, index) {
											Ext.getCmp('MeetingSummarySendOfficeView.flowAssignId')
													.setValue(cbo.getValue());
										}
									}
								}]
					},{
						fieldLabel : '审核意见(限500字)',
						name : 'leaderRead.leaderOpinion',
						id:'MeetingSummarySendOfficeView.leaderOpinion',
						autoScroll:true,
						maxLength:500,
						xtype:'textarea',
						width : 400
						// id : 'leaderOpinion'
					},{
						name : 'leaderRead.depName',
						xtype : 'hidden',
						value : curUserInfo.depName
					}]
		});
	}// end of init
})
