GLJSentArchiveStart = Ext.extend(Ext.Panel, {
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		GLJSentArchiveStart.superclass.constructor.call(this, {
					id : 'GLJSentArchiveStart',
					title : '公路局团委发文处理笺',
					layout : 'form',
					modal : true,
					width : 800,
					iconCls : 'menu-archive-draft',
					maximizable : true,
					items : [this.formPanel],
					buttonAlign : 'center',
					buttons : [{
								text : '启动流程',
								iconCls : 'btn-save',
								scope : this,
								handler : this.save
							}, {
								text : '保存草稿',
								iconCls : 'btn-beready-save',
								scope : this,
								handler : this.savedraft
							}]
				});
		var jsArr = [__ctxPath + '/js/archive/ArchivesDocForm.js',
		__ctxPath + '/js/archive/ArchivesDocForm.js',
		__ctxPath + '/js/archive/ArchivesDocHistoryWin.js',
		__ctxPath + '/js/archive/ArchiveTypeTempView.js',
		__ctxPath + '/js/archive/ArchTemplateView.js',
		__ctxPath + '/js/archive/ArchTemplateForm.js',
		__ctxPath + '/js/archive/OfficeTemplateView.js',
		__ctxPath + '/js/archive/ArchTemplateSelector.js'];
		$ImportSimpleJs(jsArr, null);
	},
	save : function() {
		/*文种*/Ext.getCmp('GLJSentArchiveStart.archivesType').allowBlank = false;
		/*标题*/Ext.getCmp('GLJSentArchiveStart.subject').allowBlank = false;
		/*发文单位*/Ext.getCmp('GLJSentArchiveStart.issueDep').allowBlank = false;
		/*行文方向*/Ext.getCmp('GLJSentArchiveStart.sources').allowBlank = false;
		/*常用主送单位*/Ext.getCmp('LawsOpinSentArchiveForm.sendTo').allowBlank = false;
		/*是否规范性文件*/Ext.getCmp('GLJSentArchiveStart.isStandard').allowBlank = false;
		/*是否公开到外网*/Ext.getCmp('GLJSentArchiveStart.isPublic').allowBlank = false;
		var defId = this.defId;
//		if (this.store.getCount() == 0) {
//			Ext.ux.Toast.msg('操作信息', '请添加公文正文!');
//			return false;
//		}
		if (this.formPanel.getForm().isValid()) {
			var formPanel = this.formPanel;

			var docParams = [];
			for (var i = 0, cnt = this.store.getCount(); i < cnt; i++) {
				docParams.push(this.store.getAt(i).data);
			}
			 var url1 = __ctxPath + '/archive/saveNormalArchives.do';
			var url2 = __ctxPath + '/archive/saveArchives.do';
			formPanel.getForm().submit({
				url : archivesId ? url2 : url1,
				method : 'POST',
				waitMsg : '正在提交数据...',
				params : {
					'archives.isdraft' : 0,
					docs : Ext.encode(docParams)
				},
				success : function(fp, action) {
					var archivesId = action.result.archivesId;
					var sendMail = msgPanel.getCmpByName('sendMail').getValue();
					var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
					var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
					var fileIds = Ext.getCmp('LawsOpinSentAttachments.fileIds').getValue();
					var LeaderName = Ext.getCmp('GLJSentArchiveStart.LeaderNames').getValue();
					var LeaderId = Ext.getCmp('GLJSentArchiveStart.LeaderIds').getValue();
					var option = formPanel.getCmpByName('depOption').getGroupValue();
					var isReserveNo=formPanel.getCmpByName('archives.isReserveNo').getGroupValue();
						var	params ={
							isReserveNo:isReserveNo,
							LeaderName : LeaderName,
							LeaderId : LeaderId,
							defId : defId,
							sendMail : sendMail,
							sendMsg : sendMsg,
							sendInfo : sendInfo,
							archivesId : archivesId,
							fileIds : fileIds?fileIds:'_',
							depNext:option,
							startNext:option,
							creatorDepid:curUserInfo.depId,
							sendUserId : curUserInfo.userId,
							startFlow : true
						};
			var signUserIds = Ext.getCmp('GLJSentArchiveStart.LeaderIds').getValue();
					if (2 == option ) {	//副处长核稿
				Ext.apply(params,{
					destName : '副处长核稿',
					signUserIds : signUserIds
				});
			}			
		    else if (1 == option ) {	//部门负责人核稿
				Ext.apply(params,{
					destName : '部门负责人核稿',
					signUserIds : signUserIds
				});
			}
					formPanel.getForm().submit({
						url : __ctxPath + '/flow/saveProcessActivity.do',
						method : 'post',
						waitMsg : '正在发起流程...',
						params : params,
						success : function(response,options) {
							var processInsId = options.result.runId;
							Ext.Ajax.request({
									url : __ctxPath + '/archive/updateRunIdArchives.do',
									params : {
										'archivesId' : archivesId,
										'runId' : processInsId
									},
									method:'post',
									success : function(response, options) {
										Ext.ux.Toast.msg('操作信息', '拟稿成功！');
										Ext.getCmp('centerTabPanel').remove(Ext
												.getCmp('ProcessRunStart' + defId));
										refreshTaskPanelView();
											var ArchivesGrid = Ext.getCmp('ArchivesGrid');
									if (ArchivesGrid != null) {
										ArchivesGrid.getStore().reload();
									}
									}
							});
						}
					});
				},
				failure : function(fp, action) {
					Ext.MessageBox.show({
								title : '操作信息',
								msg : '信息保存出错，请联系管理员！',
								buttons : Ext.MessageBox.OK,
								icon : Ext.MessageBox.ERROR
							});
				}
			});
		}

	},
		/* 保存草稿 */
	savedraft : function() {
		/*预约编号*/  Ext.getCmp('_FLYJ_isReserveNoStart_').allowBlank = true;
		/*文种*/Ext.getCmp('GLJSentArchiveStart.archivesType').allowBlank = true;
		/*标题*/Ext.getCmp('GLJSentArchiveStart.subject').allowBlank = true;
		/*发文单位*/Ext.getCmp('GLJSentArchiveStart.issueDep').allowBlank = true;
		/*行文方向*/Ext.getCmp('GLJSentArchiveStart.sources').allowBlank = true;
		/*常用主送单位*/Ext.getCmp('LawsOpinSentArchiveForm.sendTo').allowBlank = true;
		/*是否规范性文件*/Ext.getCmp('GLJSentArchiveStart.isStandard').allowBlank = true;
		/*是否公开到外网*/Ext.getCmp('GLJSentArchiveStart.isPublic').allowBlank = true;
		/*选择领导*/Ext.getCmp('GLJSentArchiveStart.LeaderNames').allowBlank = true;
		var defId = this.defId;

		/*
		 * if (this.store.getCount() == 0) { Ext.ux.Toast.msg('操作信息',
		 * '请添加公文正文!'); return false; }
		 */
		if (this.formPanel.getForm().isValid()) {
			var formPanel = this.formPanel;
			/*
			 * alert(formPanel.getCmpByName('archives.reviewUser').getValue());
			 * return false;
			 */
			var docParams = [];
			for (var i = 0, cnt = this.store.getCount(); i < cnt; i++) {
				docParams.push(this.store.getAt(i).data);
			}
			var url1 = __ctxPath + '/archive/saveNormalArchives.do';
			var url2 = __ctxPath + '/archive/saveArchives.do';
			formPanel.getForm().submit({
				url : archivesId ? url2 : url1,
				method : 'POST',
				waitMsg : '正在提交数据...',
				params : {
					'archives.typeName': formPanel.getCmpByName('depOption').getGroupValue(),
					'archives.isdraft' : 1,
					docs : Ext.encode(docParams)
					// 'archives.reviewUser':flowAssignId
				},
				success : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '成功保存！');
					var ArchivesGrid = Ext.getCmp('ArchivesGrid');
									if (ArchivesGrid != null) {
										ArchivesGrid.getStore().reload();
									}
					Ext.getCmp('centerTabPanel').remove(Ext
							.getCmp('ProcessRunStart' + defId));
					refreshTaskPanelView();
					
					/*
					 * var archivesId = action.result.archivesId; var sendMail =
					 * msgPanel.getCmpByName('sendMail').getValue(); var sendMsg =
					 * msgPanel.getCmpByName('sendMsg').getValue(); var sendInfo =
					 * msgPanel.getCmpByName('sendInfo').getValue(); var fileIds =
					 * Ext.getCmp('ZSGHSentDoc.fileIds') .getValue(); var
					 * isReserveNo=formPanel.getCmpByName('archives.isReserveNo').getGroupValue();
					 * formPanel.getForm().submit({ url : __ctxPath +
					 * '/flow/saveProcessActivity.do', method : 'post', waitMsg :
					 * '正在发起流程...', params : { isReserveNo:isReserveNo, defId :
					 * defId, sendMail : sendMail, sendMsg : sendMsg, sendInfo :
					 * sendInfo, archivesId : archivesId,
					 * flowAssignId:flowAssignId,
					 * flowCreatorId:curUserInfo.userId, fileIds :
					 * fileIds?fileIds:'_', startFlow : true }, success :
					 * function(response, options) { Ext.Ajax.request({ url :
					 * __ctxPath + '/archive/updateRunIdArchives.do', params : {
					 * 'archives.isdraft':1, 'archivesId' : archivesId, 'runId' :
					 * options.result.runId }, method:'post', success :
					 * function(response, options) { Ext.ux.Toast.msg('操作信息',
					 * '成功保存！'); Ext.getCmp('centerTabPanel').remove(Ext
					 * .getCmp('ProcessRunStart' + defId));
					 * refreshTaskPanelView(); } }); } });
					 */},
				failure : function(fp, action) {
					Ext.MessageBox.show({
								title : '操作信息',
								msg : '信息保存出错，请联系管理员！',
								buttons : Ext.MessageBox.OK,
								icon : Ext.MessageBox.ERROR
							});
				}
			});
		}

	},
	initUIComponents : function() {
			this.defId=defId;
				Ext.Ajax.request({
					url : __ctxPath + '/archive/getdefnameArchives.do',
					params : {
						'defId' : defId
					},
					method : 'post',
					success : function(response, options) {
						var data = Ext.util.JSON.decode(response.responseText);
						Ext.getCmp('GLJSentArchiveStart.recDepNames')
								.setValue(data.name);
					}
				});
		this.archivesId = archivesId;
		// 初始化附件文档
		this.docGridPanel = new ArchivesUtil({
			panelId :'GLJSentArchiveStart',
			isStart : true,
			archivesId : this.archivesId
		}).getGridPanelWithFullTools();
		var formPanel = this.formPanel = new Ext.FormPanel({
			id : 'LawsOpinSentArchiveForm',
			url : __ctxPath + '/archive/saveNormalArchives.do',
			frame : false,
			border : false,
			layout : 'form',
			labelWidth : 80,
			width : 800,
			padding : '5px',
				reader : new Ext.data.JsonReader({
						root : 'data'
					}, [{
								name : 'archives.archivesId',
								mapping : 'archivesId'
							}, {
								name : 'archives.issueDep',
								mapping : 'issueDep'
							}, {
								name : 'archives.subject',
								mapping : 'subject'
							}, {
								name : 'archives.isReserveNo',
								mapping : 'isReserveNo'
							}, {
								name : 'archives.fileCounts',
								mapping : 'fileCounts'
							}, {
								name : 'archives.privacyLevel',
								mapping : 'privacyLevel'
							}, {
								name : 'archives.urgentLevel',
								mapping : 'urgentLevel'
							}, {
								name : 'archives.issuer',
								mapping : 'issuer'
							}, {
								name : 'archives.sources',
								mapping : 'sources'
							}, {
								name : 'archives.isPublic',
								mapping : 'isPublic'
							}, {
								name : 'archives.reviewUser',
								mapping : 'reviewUser'
							}, {
								name : 'archives.reviewUserName',
								mapping : 'reviewUserName'
							}, {
								name : 'archives.sendTo',
								mapping : 'sendTo'
							}, {
								name : 'archives.ccTo',
								mapping : 'ccTo'
							}, {
								name : 'archives.isStandard',
								mapping : 'isStandard'
							}, {
								name : 'archives.unPublicReasons',
								mapping : 'unPublicReasons'
							}, {
								name : 'archives.typeName',
								mapping : 'typeName'
							}]),
			items : [{
				border : false,
				layout : 'column',
				defaults : {
					border : false,
					columnWidth : .33,
					layout : 'form',
					defaults : {
						width : 150,
						xtype : 'textfield',
						allowBlank : false
					}
				},
				items : [{
					items : [{
							name : 'archives.archivesId',
							xtype : 'hidden'
						}, {
							xtype : "hidden",
							name : "archives.recDepIds",
							value : defId,
							id : "GLJSentArchiveStart.recDepIds"
						}, {
							xtype : "hidden",
							name : "archives.recDepNames",
							id : "GLJSentArchiveStart.recDepNames"
						},{
								fieldLabel : "拟稿部门",
								name : 'archives.orgDepName',
								value : curUserInfo.depName,
								readOnly : true
							}, {
								xtype : 'combo',
								name : 'archives.sources',
								id:'GLJSentArchiveStart.sources',
								triggerAction : 'all',
								editable : false,
								fieldLabel : '行文方向',
								store : ['上行文', '平行文', '下行文']
							}, {
								xtype : 'combo',
								fieldLabel : "发文单位",
								name : 'archives.issueDep',
								id:'GLJSentArchiveStart.issueDep',
								triggerAction : 'all',
								lazyRender : true,
								listWidth: 180,
								editable : false,
								fieldLabel : '发文单位',
								store : ['重庆市公路局办公室']
							}]
				}, {
					items : [{
								xtype : "combo",
								fieldLabel : '缓急',
								triggerAction : 'all',
								editable : false,
								allowBlank : true,
								name : 'archives.urgentLevel',
								emptyText : '急缓程度',
								store : ['特急', '急件', '加急', '平急']
							}, {
								fieldLabel : '拟稿',
								name : "archives.issuer",
								readOnly : true,
								value : curUserInfo.fullname
							},{
								xtype : 'combo',
								fieldLabel : '文种',
								id : 'GLJSentArchiveStart.archivesType',
								hiddenName : "archives.archivesType.typeId",
								valueField : 'typeId',
								displayField : 'typeName',
								editable : false,
								triggerAction : 'all',
								forceSelection : true,
								store : new Ext.data.SimpleStore({
											url : __ctxPath
													+ '/archive/comboArchivesType.do',
											autoLoad : true,
											fields : ['typeId', 'typeName']
										})
							}]
				}, {
					items : [{
								xtype : "combo",
								fieldLabel : '密级',
								triggerAction : 'all',
								allowBlank : true,
								editable : false,
								name : 'archives.privacyLevel',
								emptyText : '密级程度',
								store : ['一般', '秘密', '机密', '绝密'],
								listeners: {
									'select':function(combo){
										if(combo.getValue()!='一般'){
											Ext.getCmp('GLJSentArchiveStart.isPublic').disable();
											Ext.getCmp('GLJSentArchiveStart.isPublic').allowBlank=true;		
											Ext.getCmp('GLJSentArchiveStart.unPublicReasons').disable();
											Ext.getCmp('GLJSentArchiveStart.unPublicReasons').allowBlank=true;
											Ext.getCmp('hiddenIsPublic').setValue(0);
			                                //Ext.getCmp('hiddenUnPublicReasons').setValue(null);
			                                Ext.getCmp('GLJSentArchiveStart.unPublicReasons').setValue(null);
			                               // Ext.getCmp('GLJSentArchiveStart.unPublicReasons').allowBlank = true;
			                                Ext.getCmp('hiddenIsPublic').setDisabled(false);
		                                    //Ext.getCmp('hiddenUnPublicReasons').setDisabled(false);
		                                    
//		                                    Ext.getCmp('GLJSentCounts').show();
//											Ext.getCmp('GLJSentCounts').el.parent().parent().show();
//											Ext.getCmp('GLJSentCounts').allowBlank = false;
										}else{
											Ext.getCmp('GLJSentArchiveStart.isPublic').reset();
											Ext.getCmp('GLJSentArchiveStart.isPublic').setDisabled(false);
											Ext.getCmp('GLJSentArchiveStart.isPublic').allowBlank=false;
											Ext.getCmp('GLJSentArchiveStart.unPublicReasons').setDisabled(false);
											Ext.getCmp('GLJSentArchiveStart.unPublicReasons').allowBlank=false;
											Ext.getCmp('hiddenIsPublic').disable();
		                                    //Ext.getCmp('hiddenUnPublicReasons').disable();
		                                    
//		                                    Ext.getCmp('GLJSentCounts').hide();
//											Ext.getCmp('GLJSentCounts').el.parent().parent().hide();
//											Ext.getCmp('GLJSentCounts').allowBlank = true;
										}
									}
								}
							}, {
								xtype : 'numberfield',
								name : 'archives.fileCounts',
								id : 'GLJSentCounts',
								fieldLabel : '份数',
								value : 1
							}]
				}]
			},{
				xtype : 'textfield',
				name : 'archives.subject',
				id:'GLJSentArchiveStart.subject',
				allowBlank : false,
				width : '94%',
				fieldLabel : '标题'
			}, {
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 5px 0px;margin-left:0px;',
				defaults : {
					allowBlank : false,
					border : false
				},
				items : [{
							xtype : 'label',
							style:'padding-top:4px;',
							text : '主送:',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.sendTo',
							id : 'LawsOpinSentArchiveForm.sendTo',
							width : '72%'
						}, {
							style : 'padding-left:5px;',
							xtype : 'button',
							iconCls : 'btn-dep-sel',
							text : '常用主送单位',
							handler : function() {
										UnitsSelector.getView(
											function(ids, names) {
												Ext.getCmp('LawsOpinSentArchiveForm.sendTo')
													.setValue(names);
												}, false,1).show();
										}
						}]
			}, {
				xtype : 'container',
				layout : 'column',
				defaults : {
					border : false
				},
				items : [{
							xtype : 'label',
							style:'padding-top:4px;',
							text : '抄送:',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.ccTo',
							id : 'LawsOpinSentArchiveForm.ccTo',
							width : '72%'
						}, {
							xtype : 'button',
							style : 'padding-left:5px;',
							iconCls : 'menu-department',
							text : '常用抄送单位',
							handler : function() {
										UnitsSelector.getView(
											function(ids, names) {
												Ext.getCmp('LawsOpinSentArchiveForm.ccTo')
													.setValue(names);
												}, false,2).show();
										}
						}]
			},{
				xtype : 'radiogroup',
				allowBlank : false,
				id : 'GLJSentArchiveStart.radiogroup',
				style : 'padding-top:4px;',
				defaults:{	//{}对象A中的defaults属性值也是一个对象，该对象的属性会被A的所有子元素继承，并可以被重写。
					listeners : {//为radiogroup中items的所有组件添加该listeners
						'check' : function(checkbox, checked) {
							if (checked) {
								Ext.getCmp('GLJSentArchiveStart.LeaderIds').setValue('');
								Ext.getCmp('GLJSentArchiveStart.LeaderNames').setValue('');
							}
						}
					}
				},
				items : [{
					width :160,
					boxLabel : '部门负责人核稿',
					name : 'depOption',
					inputValue : 1,
					checked : true
				}, {
					boxLabel : '副处长核稿',
					width :160,
					name : 'depOption',
					inputValue : 2
				}],
				fieldLabel : '审批步骤'
			},{
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 0px 0px;',
				defaults : {
					border : false
				},
				items : [{
							xtype : 'label',
							style : 'padding-top:4px;',
							text : '选择领导:',
							width : 84
						}, {
							xtype : 'textfield',
							width : '73%',
							allowBlank:false,
							readOnly : true,
							name : 'archives.reviewUserName',
							id : 'GLJSentArchiveStart.LeaderNames'
						}, {
							xtype : 'hidden',
							name : 'archives.reviewUser',
							id : 'GLJSentArchiveStart.LeaderIds'
						}, {
							xtype : 'button',
							iconCls : 'menu-department',
							style : 'padding-left:5px;',
							text : '选择领导',
							handler : function() {
								var option = formPanel.getCmpByName('depOption').getGroupValue();
								var url  =  __ctxPath + '/system/depUsersTreeDepartment.do?depIds=1247027';
								DepLeaders.getView(
										function(userIds, fullnames) {
											Ext.getCmp('GLJSentArchiveStart.LeaderIds').setValue(userIds);
											Ext.getCmp('GLJSentArchiveStart.LeaderNames')
													.setValue(fullnames);
										}, true, null,url).show();
							}
						}]
			}, {
				xtype : 'fieldset',
				padding : '5px',
				border : false,
				defaults : {
					anchor : '97.5%,97.5%'
				},
				items : [this.docGridPanel]
			},{
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 8px 0px;margin-left:5px;',
				defaults : {
					allowBlank : true,
					border : false
				},
				items : [{
							xtype : 'label',
							text : '附件：',
							width : 84
						}, {
							xtype : 'textfield',
							name : 'archives.enclosure',
							width : '85%',
							id : 'LawsOpinSentAttachments.enclosure'
						}]
			}, {
				layout : 'column',
				border : false,
				defaults : {
					layout : 'form',
					padding : '5px',
					border : false
				},
				items : [{
							columnWidth : .8,
							items : [{
										fieldLabel : '公文附件',
										xtype : 'panel',
										id : 'LawsOpinSentAttachments.personFilePanel',
										frame : false,
										border : true,
										bodyStyle : 'padding:4px 4px 4px 4px;',
										height : 80,
										autoScroll : true,
										html : ''
									}]
						}, {
							columnWidth : .2,
							padding : '5px 0 0 20px',
							items : [{
								border : false,
								xtype : 'button',
								text : '添加文件',
								iconCls : 'menu-attachment',
								handler : function() {
									var dialog = App.createUploadDialog({
										file_cat : 'document',
										judge_size : 'no',
										upload_autostart : true,
										callback : function(data) {
											var fileIds = Ext.getCmp('LawsOpinSentAttachments.fileIds');
											var filePanel = Ext.getCmp('LawsOpinSentAttachments.personFilePanel');
											for (var i = 0; i < data.length; i++) {
												if (fileIds.getValue() != '') {
													fileIds.setValue(fileIds
															.getValue()
															+ ',');
												}
												fileIds.setValue(fileIds
														.getValue()
														+ data[i].fileId);
												
												Ext.DomHelper.append(
																filePanel.body,
																'<span><a href="#" onclick="FileAttachDetail.show('
																		+ data[i].fileId
																		+ ')">'
																		+ data[i].filename
																		+ '</a> <img class="img-delete" src="'
																		+ __ctxPath
																		+ '/images/system/delete.gif" onclick="removeFile(this,\'LawsOpinSentAttachments.fileIds\','
																		+ data[i].fileId
																		+ ')"/>&nbsp;|&nbsp;</span>');

											}
										}
									});
									dialog.show(this);
								}
							}, {
								xtype : 'button',
								text : '清除文件',
								iconCls : 'reset',
								handler : function() {
									var fileAttaches = Ext.getCmp('LawsOpinSentAttachments.fileIds');
									var filePanel = Ext.getCmp('LawsOpinSentAttachments.personFilePanel');

									filePanel.body.update('');
									fileAttaches.setValue('');
								}
							}, {
								xtype : 'hidden',
								id : 'LawsOpinSentAttachments.fileIds',
								name : 'fileIds'
							}]
						}]
			}, {
				id : '_FLYJ_isReservePublicNoStart_',
				border : false,
				labelWidth:105,
				layout : 'form',
				items : {
					xtype : 'radiogroup',
					fieldLabel : '是否使用预约编号',
					id : '_FLYJ_isReserveNoStart_',
					allowBlank : false,
					hideParent:true,
					items : [{
								boxLabel : '是',
								name : 'archives.isReserveNo',
								inputValue : 1
							}, {
								boxLabel : '否',
								name : 'archives.isReserveNo',
								inputValue : 0
							}]
				}
			},{border:false,
			labelWidth:105,
			layout:'form',
			items:{
				xtype : 'radiogroup',
				allowBlank : false,
				id:'GLJSentArchiveStart.isStandard',
				fieldLabel : '是否规范性文件',
				items : [{
							boxLabel : '是',
							name : 'archives.isStandard',
							inputValue : 1
						}, {
							boxLabel : '否',
							name : 'archives.isStandard',
							id : 'GLJSentArchiveStart.standard',
							inputValue : 0
						}]
			}},{border:false,
			labelWidth:105,
			layout:'form',
			items:{
				xtype : 'radiogroup',
				id:'GLJSentArchiveStart.isPublic',
				allowBlank : false,
				fieldLabel : '是否公开到外网',
				items : [{
					boxLabel : '是',
					name : 'archives.isPublic',
					inputValue : 1,
					listeners : {
						'check' : function(checkbox, checked) {
							if (checked) {
								Ext.getCmp('GLJSentArchiveStart.unPublicReasons').allowBlank = true;
								Ext.getCmp('GLJSentArchiveStart.unPublicReasons').hide();
								Ext.getCmp('GLJSentArchiveStart.unPublicReasons').el
										.parent().parent().hide();
							}
						}
					}
				},{
					boxLabel : '否',
					name : 'archives.isPublic',
					inputValue : 0,
					listeners : {
						'check' : function(checkbox, checked) {
							if (checked) {
								Ext.getCmp('GLJSentArchiveStart.unPublicReasons').allowBlank = false;
								Ext.getCmp('GLJSentArchiveStart.unPublicReasons').show();
								Ext.getCmp('GLJSentArchiveStart.unPublicReasons').el
										.parent().parent().show();
							}
						}
					}
				}]
			}},{
				xtype:'hidden',
				disabled:true,
				name:'archives.isPublic',
				id:'hiddenIsPublic'
			},/*{
				xtype:'hidden',
				disabled:true,
				name:'archives.unPublicReasons',
				id:'hiddenUnPublicReasons'
			},*/{
				id:'GLJSentArchiveReasons',
				border:false,
				layout:'form',
				items:[{
					xtype : 'textarea', 
					fieldLabel : '不公开原因',
					hideParent :true,
					id:'GLJSentArchiveStart.unPublicReasons',
					name : 'archives.unPublicReasons',
					maxLength :500,
					width : '92%'
				}]
			},{
				xtype:'hidden',
				name:'archives.issuerId',
				value:curUserInfo.userId
			},{
				xtype:'hidden',
				name:'archives.archType',
				value:0
			}]
		});
			if (this.archivesId) {
			this.formPanel.getForm().load({
				url : __ctxPath + '/archive/getArchDataArchives.do?archivesId='
						+ this.archivesId,
				waitMsg : '正在载入数据...',
				success : function(form, action) {
					var isStandard = action.result.data['archives.isStandard'];
					var isPublic = action.result.data['archives.isPublic'];
					var isReserveNo = action.result.data['archives.isReserveNo'];
					var privacyLevel = action.result.data['archives.privacyLevel'];
					var option = action.result.data['archives.typeName'];
					Ext.getCmp('GLJSentArchiveStart.radiogroup').setValue(option);
					Ext.getCmp('GLJSentArchiveStart.LeaderNames').setValue(action.result.data['archives.reviewUserName']);
					Ext.getCmp('GLJSentArchiveStart.LeaderIds').setValue(action.result.data['archives.reviewUser']);
					Ext.getCmp('GLJSentArchiveStart.archivesType')
							.getStore().load({
								callback : function() {
									// 等待数据加载完成才进行赋值，不然由于异步会出现先赋值后加载完成。
									Ext
											.getCmp('GLJSentArchiveStart.archivesType')
											.setValue(Ext
													.decode(action.response.responseText).data[0].parentArchId);
								},
								scope : Ext
										.getCmp('GLJSentArchiveStart.archivesType')
										.getStore(),// 表示作用范围
								add : false
									// 为false表示数据不累加
							});
					Ext.getCmp('LawsOpinSentAttachments.enclosure').setValue(Ext.decode(action.response.responseText).data[0].enclosure);
					if (privacyLevel != '一般' && privacyLevel != '密级程度') {
						Ext.getCmp('GLJSentArchiveStart.isPublic').disable();
						Ext.getCmp('GLJSentArchiveStart.isPublic').allowBlank = true;
						Ext.getCmp('GLJSentArchiveStart.unPublicReasons').allowBlank = true;
						Ext.getCmp('GLJSentArchiveStart.unPublicReasons').disable();
						// Ext.getCmp('ZSGHSentArchiveReCounts').show();
						// Ext.getCmp('ZSGHSentArchiveReCounts').el.parent().parent().show();
						// Ext.getCmp('ZSGHSentArchiveReCounts').allowBlank =
						// false;
					}
					if (privacyLevel == '一般' || privacyLevel == '密级程度') {
						// Ext.getCmp('ZSGHSentArchiveReCounts').hide();
						// Ext.getCmp('ZSGHSentArchiveReCounts').el.parent().parent().hide();
						// Ext.getCmp('ZSGHSentArchiveReCounts').allowBlank =
						// true;
							if(isPublic==-1){
						Ext.getCmp('GLJSentArchiveStart.isPublic')
								.setValue(null);
					    }else  
						if (isPublic == 0) {
							// Ext.get("ZSGHSentArchiveRestart.unPublic").dom.checked=true;
							Ext.getCmp('GLJSentArchiveStart.isPublic').setValue(0);
						} else {
							// Ext.get("ZSGHSentArchiveRestart.public").dom.checked=true;
							Ext.getCmp('GLJSentArchiveStart.unPublicReasons').allowBlank = true;
							Ext.getCmp('GLJSentArchiveStart.isPublic').setValue(1);
							Ext.getCmp('GLJSentArchiveReasons').hide();
							// Ext.getCmp('ZSJG_unPublicReasons').hide();
							// Ext.getCmp('ZSJG_unPublicReasons').el.parent().parent().hide();
						}
					}if(isStandard==-1){
						Ext.getCmp('GLJSentArchiveStart.standard')
								.setValue(null);
					}else
					if (isStandard == 0) {
						Ext.getCmp('GLJSentArchiveStart.standard')
								.setValue(0);
					} else {
						Ext.getCmp('GLJSentArchiveStart.standard')
								.setValue(1);
					}
					var data = Ext.decode(action.response.responseText).data[0];
					// Ext.getCmp('ZSGHSentArchiveRestart.archivesType').setValue(data.parentArchId);
					// Ext.getCmp('ZSGHSentArchiveRestart.flowAssignId').setValue(data.reviewUser);
					var filePanel = Ext.getCmp('LawsOpinSentAttachments.personFilePanel');
					var fileIds = Ext.getCmp("LawsOpinSentAttachments.fileIds");
					// Ext.Ajax.request({
					// url : __ctxPath + '/archive/getAttachFilesArchives.do',
					// params : {
					// 'fileIds' : '${fileIds}'
					// },
					// method:'post',
					// success : function(response, options) {
					var af = Ext.decode(action.response.responseText).data[0].archivesFiles;
					if (af != null) {
						for (var i = 0; i < af.length; i++) {
							if (fileIds.getValue() != '') {
								fileIds.setValue(fileIds.getValue() + ',');
							}
							fileIds.setValue(fileIds.getValue() + af[i].fileId);
							Ext.DomHelper
									.append(
											filePanel.body,
											'<span><a href="#" onclick="FileAttachDetail.show('
													+ af[i].fileId
													+ ')">'
													+ af[i].fileName
													+ '</a><img class="img-delete" src="'
													+ __ctxPath
													+ '/images/system/delete.gif" onclick="removeFile(this,\'ZSGHSentArchiveRestart.fileIds\','
													+ af[i].fileId
													+ ')"/>&nbsp;|&nbsp;</span>');
						}
					}
					// }
					// });
				},
				failure : function(form, action) {
					Ext.ux.Toast.msg('编辑', '载入失败');
				}
			});
		}
		var did=defId;
		Ext.Ajax.request({
						url : __ctxPath + '/snconfig/listByPageFileSnConfigOrder.do',
						params : {
							'flowId' : did,
							'userId':curUserInfo.userId,
							'isUsed':0
						},
						method:'post',
						success : function(response, options) {
							var af=Ext.util.JSON.decode(response.responseText).result;
							if(af==""){
							  Ext.getCmp('_FLYJ_isReservePublicNoStart_').hide();
							  formPanel.getCmpByName('archives.isReserveNo').setValue(3);
							  Ext.getCmp('_FLYJ_isReserveNoStart_').allowBlank=true;
							}else{
							Ext.getCmp('_FLYJ_isReservePublicNoStart_').show();
							Ext.getCmp('_FLYJ_isReserveNoStart_').allowBlank=false;
							}
						}
			});
			
	}
})
