ZGLeaderCommentsTwoView = Ext.extend(Ext.Panel, {
	setTaskId : function(tId) {
		this.taskId = tId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		ZGLeaderCommentsTwoView.superclass.constructor.call(this, {
					id : 'ZGLeaderCommentsTwoViewWin',
					defaults : {
						border : false,
						autoScroll : true
					},
					width : 700,
					height : 530,
					autoHeight : true,
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									})
									#set ($count=$count+1)
								#end
								],
					buttonAlign : 'center',
					items : [this.detailPanel, this.formPanel]
				});
	},
	/**
	 * 保存公文的方法,传入公文状态作为参数
	 */
	onSave : function(formPanel, panel, signalName, activityName) {
		if (formPanel.getForm().isValid()) {
			var sendMail = msgPanel.getCmpByName('sendMail').getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
			var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
			var params = {
				            taskId : taskId,
							signalName : signalName,
							activityName : activityName,
							sendMail : sendMail,
							sendMsg : sendMsg,
							sendInfo : sendInfo,
							flowAssignId :'${officeExerId}',
							comments:formPanel.getCmpByName('ZGLeaderCommentsTwoFormView.leaderOpinion').getValue()
				};
			formPanel.getForm().submit({
						method : 'POST',
						url : __ctxPath + "/flow/nextProcessActivity.do",
						waitMsg : '正在提交数据...',
						params : params,
						success : function(fp, action) {
								 Ext.ux.Toast.msg("操作信息", "审核成功！");
								 AppUtil.removeTab('ProcessForm' + taskId);
								 refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.MessageBox.show({
										title : '操作信息',
										msg : '信息保存出错，请联系管理员！',
										buttons : Ext.MessageBox.OK,
										icon : Ext.MessageBox.ERROR
									});
						}
					});
		}
	},

	/**
	 * init the components
	 */
	init : function() {
		// 显示公文详细信息
		this.detailPanel = new Ext.Panel({
			autoScroll : true,
			autoHeight : true,
			id :'ZGPartyReceiveArchiveDepCheckDetailPanel',
			border : false,
			autoLoad : {
				url : __ctxPath
						 +'/pages/flowPath/receiveFlow.jsp?archiveId=${archivesId}&fileIds=${fileIds}&defId=${defId}&detailId=ZGPartyReceiveArchiveDepCheckDetailPanel',
				nocache : true
			}
		});
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			columnWidth : 1,
			layout : 'form',
			id : 'ZGLeaderCommentsTwoFormView',
			autoHeight : true,
			style : 'padding:6px 6px 6px 1%',
			items : [{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{	
				   					fieldLabel : '审批意见',
				   					id:'ZGLeaderCommentsTwoFormView.leaderOpinion',
									autoScroll:true,
									maxLength:500,
									height:40,
									xtype:'textarea',
									width:448
									}]
					     	 },{
						   		layout:'form',
						   		style:'padding-top:10px;padding-left:5px;',
						   		border:false,
						   		items:[{
										xtype : 'button',
										text : '常用批示语',
										iconCls : 'menu-new-document',
										handler : function() {
											OdCommentsSelector.getView(
												function(id, name) {
													Ext.getCmp('ZGLeaderCommentsTwoFormView.leaderOpinion')
													.setValue(name);
													}, true).show();
											}
										}]
					  		}]
					},{
						id : 'ZGLeaderCommentsTwoFormView.reFileId',
						xtype : 'hidden'
					}]
		});
	}// end of init
})