DBSentArchiveDepCheck = Ext.extend(Ext.Panel, {
	taskId : null,
	setTaskId : function(vId) {
		this.taskId = vId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	displayPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		DBSentArchiveDepCheck.superclass.constructor.call(this, {
			        id:'CQSJTWYHDBSentArchiveDepCheck',
					layout : 'form',
					items : [this.displayPanel, this.formPanel],
					modal : true,
					height : 630,
					width : 700,
					autoHeight : true,
					maximizable : true,
					buttonAlign : 'center',
					buttons : this.buttons
				});
	},
	initUIComponents : function() {

		this.displayPanel = new Ext.Panel({
			id : 'DBSentArchiveDepCheckPanel',
			autoScroll : true,
			autoHeight : true,
			id :'CQSJTWYHDBSentArchiveDepCheck.displayPanel',
			border : false,
			autoLoad : {
				url : __ctxPath
		        + '/pages/flowPath/dispatchFlow.jsp?archiveId=${archivesId}&fileIds=$!{fileIds}&defId=${defId}&sentPanelId=CQSJTWYHDBSentArchiveDepCheck',
				nocache : true
			}
		});
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			url : __ctxPath + '/archive/saveDepLeaderRead.do',
			id : 'DBSentArchiveDepCheckForm',
			defaults : {
				anchor : '98%,98%'
			},
			items : [new ArchivesUtil({
						panelId : 'CQSJTWYHDBSentArchiveDepCheck',
						archivesId : '${archivesId}'
					}).getGridPanelWithFullTools(),{
						name : 'archives.archivesId',
						xtype : 'hidden',
						value : '${archivesId}'
					},{
					   layout:'column',
					   style:'padding-top:10px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[ {fieldLabel : '审批意见',
										name : 'leaderRead.leaderOpinion',
										id:'DBSentArchiveDepCheckForm.leaderOpinion',
										autoScroll:true,
										maxLength:500,
										allowBlank: true,
										xtype:'textarea',
										width:466,
										height:40
									}]
					      },{
					   		layout:'form',
					   		style:'padding-top:10px;padding-left:5px;',
					   		border:false,
					   		items:[{
									xtype : 'button',
									text : '常用批示语',
									iconCls : 'menu-new-document',
									handler : function() {
										OdCommentsSelector.getView(
											function(id, name) {
											var fm = Ext
												.getCmp('DBSentArchiveDepCheckForm');
												fm
												.getCmpByName('leaderRead.leaderOpinion')
												.setValue(name);
												}, true).show();
										}
									}]
					   }]
					}]
		});
		this.buttons = [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								}),
								new Ext.Button({
								   iconCls:'btn-changeTask',
								   text:'退回',
								   handler:this.backsetp.createCallback(this.formPanel,this,'${v.source}')
								})
								#set ($count=$count+1)
						#end 
							];
	},
	backsetp:function(formPanel,panel,activityName){
		/*if(panel.store.getCount() == 0){
			Ext.ux.Toast.msg('操作信息', '请添加公文正文!');
			return false;
		}*/
		if (!formPanel.getForm().isValid()){return false;}
		 Ext.Ajax.request({
			url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
			params : {
				'taskId' : panel.taskId
			},
			method:'post',
			success : function(response, options) {
				var processForm = Ext.util.JSON.decode(response.responseText).data;
				var prevSignalName  = processForm[0].signalName;
				var prevDestName  = processForm[0].activityName;
				var prevFlowAssignId =  processForm[0].creatorId;
				var sendMail = msgPanel.getCmpByName('sendMail').getValue();
				var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
				var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
				formPanel.getForm().submit({
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						method:'post',
						waitMsg:'正在提交处理，请稍等',
						scope:this,
						params:{
								taskId : panel.taskId,
								signalName : prevSignalName,
								sendMail : sendMail,
								sendMsg : sendMsg,
								sendInfo:sendInfo,
								activityName : activityName,
								comments : '退回',
								destName : prevDestName,
								status : '已办理',
								// 看是否指定了执行人员
								flowAssignId : prevFlowAssignId
						},
						success : function(fp, action) {
							Ext.ux.Toast.msg('操作信息','退回上一步成功！');
							AppUtil.removeTab('ProcessForm' + panel.taskId);
							refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					}
				
				);},
			failure : function(response, options) {
					Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
				}
			});
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
		/*if(panel.store.getCount() == 0){
			Ext.ux.Toast.msg('操作信息', '请添加公文正文!');
			return false;
		}*/
		if (formPanel.getForm().isValid()) {
			var sendMail = msgPanel.getCmpByName('sendMail')
					.getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg')
					.getValue();
				var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();	
			var depLeaderOption;
			
			var params = {
					depExerId:curUserInfo.userId,
					taskId : panel.taskId,
					signalName : signalName,
					activityName : activityName,
					ccUserIds : ccPanel.getCmpByName('ccIds').getValue(),
					sendMail : sendMail,
					sendMsg : sendMsg,
					sendInfo:sendInfo,
					comments : formPanel.getCmpByName('leaderRead.leaderOpinion').getValue()
					// flowAssignId : Ext.getCmp('officeSigner').getValue()
				};
			
			// alert(Ext.util.JSON.encode(params)); return false;
			formPanel.getForm().submit({
				url : __ctxPath + "/flow/nextProcessActivity.do",
				method : 'post',
				waitMsg : '正在提交数据...',
				params : params,
				success : function(fp, action) {
					Ext.ux.Toast.msg('操作信息','处室核稿成功！');
					AppUtil.removeTab('ProcessForm' + panel.taskId);
					refreshTaskPanelView();
				},
				failure : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
				}
			});
		}
	}// end of save
})