JTXXZXESentArchiveDepCheck = Ext.extend(Ext.Panel, {
	taskId : null,
	setTaskId : function(vId) {
		this.taskId = vId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	displayPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		JTXXZXESentArchiveDepCheck.superclass.constructor.call(this, {
			        id:'JTXXZXESentArchiveDepCheck',
					layout : 'form',
					items : [this.displayPanel, this.formPanel],
					modal : true,
					height : 675,
					width : 700,
					autoHeight : true,
					maximizable : true,
					buttonAlign : 'center',
					buttons : this.buttons
				});
	},
	initUIComponents : function() {

		this.displayPanel = new Ext.Panel({
			autoScroll : true,
			autoHeight : true,
			id :'JTXXZXFSentArchiveDepCheck.displayPanel',
			border : false,
			autoLoad : {
				url : __ctxPath
				+ '/pages/flowPath/dispatchFlow.jsp?archiveId=${archivesId}&fileIds=$!{fileIds}&defId=${defId}&sentPanelId=JTXXZXFSentArchiveDepCheck',
				nocache : true
			}
		});
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			url : __ctxPath + '/archive/saveDepLeaderRead.do',
			id : 'JTXXZXESentArchiveDepCheckForm',
			defaults : {
				anchor : '98%,98%'
			},
			items : [new ArchivesUtil({
						panelId : 'JTXXZXESentArchiveDepCheck',
						archivesId : '${archivesId}'
					}).getGridPanelWithFullTools(),{
						name : 'archives.archivesId',
						xtype : 'hidden',
						value : '${archivesId}'
					},  {
						xtype : 'container',
						layout : 'column',
						style:'padding-top:10px;',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									text : '备注:',
									width : 105
								}, {
									name : 'leaderRead.leaderOpinion',
									xtype : 'textarea',
									maxLength :500,
									width : 440,
									height:40
								},{
						id : 'JCDZSentArchiveDepCheckForm.reFileId',
						xtype : 'hidden'
					}
]
					
					}]
		});
		this.buttons = [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								})
								#set ($count=$count+1)
						#end];
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
		if (formPanel.getForm().isValid()) {	
			var docParams=Ext.getCmp("JCDZSentArchiveDepCheckForm.reFileId");
			for (var i = 0, cnt = panel.store.getCount(); i < cnt; i++) {
				if(panel.store.getAt(i).data.fileId!=''){
					if(docParams.getValue()!=""){
						docParams.setValue(docParams.getValue()+',');
					} 
				} 
				docParams.setValue(docParams.getValue()+panel.store.getAt(i).data.fileId);
			}

			var sendMail = msgPanel.getCmpByName('sendMail')
					.getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg')
					.getValue();
			var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
			var depLeaderOption = 'sent';
			var params = {
					taskId : panel.taskId,
					signalName : signalName,
					activityName : activityName,
					ccUserIds : ccPanel.getCmpByName('ccIds').getValue(),
					depLeaderOption : depLeaderOption,
					sendMail : sendMail,
					sendMsg : sendMsg,
					sendInfo:sendInfo,
					comments : formPanel.getCmpByName('leaderRead.leaderOpinion').getValue()
				};
			
	
			
			//alert(Ext.util.JSON.encode(params));
				formPanel.getForm().submit({
				url : __ctxPath + '/archive/updateElecArchStatusArchives.do',
				method:'post',
				waitMsg : '正在提交数据...',
				params : {
						'archivesId' : '${archivesId}'
				},
				success : function(response, options) {
			formPanel.getForm().submit({
				url : __ctxPath + "/flow/nextProcessActivity.do",
				method : 'post',
				waitMsg : '正在提交数据...',
				params : params,
				success : function(fp, action) {
					Ext.Ajax.request({
						url : __ctxPath + "/archive/updateArchDocsArchives.do",
						params : {
								  arcRecfileIds : Ext.getCmp('JCDZSentArchiveDepCheckForm.reFileId').getValue(),
								  'archives.archivesId':'${archivesId}'
								  },
						method : 'POST',
						success : function(fp, action) {
								Ext.ux.Toast.msg('操作信息', '生成电子公文成功！');
					AppUtil.removeTab('ProcessForm' + panel.taskId);
					refreshTaskPanelView();
                        },
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					});

				},
				failure : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
				}
			});}});
		}
	}// end of save
})