XZSWSectionInnertakeView = Ext.extend(Ext.Panel, {
	setTaskId : function(tId) {
		this.taskId = tId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		XZSWSectionInnertakeView.superclass.constructor.call(this, {
					id : 'XZSWSectionInnertakeViewWin',
					defaults : {
						border : false,
						autoScroll : true
					},
					width : 700,
					height : 600,
					autoHeight : true,
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									}),
									new Ext.Button({
									   iconCls:'btn-changeTask',
									   text:'退回',
									   handler:this.backsetp.createCallback(this.formPanel,this,'${v.source}')
									})
									#set ($count=$count+1)
								#end
								],
					buttonAlign : 'center',
					items : [this.detailPanel, this.formPanel]
				});
	},
	backsetp:function(formPanel,panel,activityName){
		Ext.getCmp('XZSWSectionInnertakeFormView.oneLeaderNames').allowBlank=true;
		Ext.getCmp('XZSWSectionInnertakeFormView.twoLeaderNames').allowBlank=true;
		Ext.getCmp('XZSWSectionInnertakeFormView.leaderOpinion').allowBlank=true;
		if (!formPanel.getForm().isValid()){return false;}
		 Ext.Ajax.request({
			url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
			params : {
				'taskId' : panel.taskId
			},
			method:'post',
			success : function(response, options) {
				var processForm = Ext.util.JSON.decode(response.responseText).data;
				var prevSignalName  = processForm[0].signalName;
				var prevDestName  = processForm[0].activityName;
				var prevFlowAssignId =  processForm[0].creatorId;
				var docParams=Ext.getCmp("XZSWSectionInnertakeFormView.reFileId");
				formPanel.getForm().submit({
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						method:'post',
						waitMsg:'正在提交处理，请稍等',
						scope:this,
						params:{
								taskId : panel.taskId,
								signalName : prevSignalName,
								activityName : activityName,
								comments : formPanel.getCmpByName('leaderOpinion').getValue(),
								destName : prevDestName,
								status : '退回',
								// 看是否指定了执行人员
								flowAssignId : prevFlowAssignId
						},
						success : function(fp, action) {
										 Ext.ux.Toast.msg('操作信息','退回上一步成功！');
										 AppUtil.removeTab('ProcessForm' + panel.taskId);
										 refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					}
				
				);},
			failure : function(response, options) {
					Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
				}
			});
	},
	/**
	 * 保存公文的方法,传入公文状态作为参数
	 */
	onSave : function(formPanel, panel, signalName, activityName) {
		var option = formPanel.getCmpByName('option').getGroupValue();
		var userId = Ext.getCmp('XZSWSectionInnertakeFormView.userId').getValue();
		var sendMail = msgPanel.getCmpByName('sendMail').getValue();
		var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
		var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
		var comments=formPanel.getCmpByName('leaderOpinion').getValue();
		var deptIds=Ext.getCmp('JTXXZXFsentGroupCheckIds').getValue();
		var userIds=Ext.getCmp('XZSentArchiveDisp.sentUserIds').getValue();
		var params={
			taskId : panel.taskId,
			signalName : signalName,
			activityName : activityName,
			currenuser:curUserInfo.userId,
			sendMail : sendMail,
			sendMsg : sendMsg,
			undertakeId : userId,
			sendInfo : sendInfo,
			comments:comments
		};
		if(1==option){		
				Ext.apply(params,{
					undertakeSent : 2,
					flowAssignId:userId
				});
		}
		if(2==option){
				Ext.apply(params,{
					undertakeSent : 1				});
			}
		if (formPanel.getForm().isValid()) {
			formPanel.getForm().submit({
						method : 'POST',
						url : __ctxPath + "/flow/nextProcessActivity.do",
						params : params,
						waitMsg : '正在提交数据...',
						success : function(fp, action) {
				if(""!=deptIds&&null!=deptIds||""!=userIds&&null!=userIds)
					{
					Ext.Ajax.request({
						url : __ctxPath + "/archive/saveArchivesDep.do",
						params : {depIds : deptIds,
									sentUserIds:userIds,
								  archivesId:'${archivesId}',
								  archDepId:null},
						method : 'POST',
						success : function(fp, action) {},
						failure : function(fp, action) {
					    Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
				}});
				}
  						Ext.ux.Toast.msg("操作信息", "操作成功！");
						AppUtil.removeTab('ProcessForm' + taskId);
						refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.MessageBox.show({
										title : '操作信息',
										msg : '信息保存出错，请联系管理员！',
										buttons : Ext.MessageBox.OK,
										icon : Ext.MessageBox.ERROR
									});
						}
					});
		}
	},

	/**
	 * init the components
	 */
	init : function() {
		// 显示公文详细信息
		this.detailPanel = new Ext.Panel({
					autoHeight : true,
					columnWidth : 1,
					id:'XZCNCBArchiveReceiveDetailPanel',
					autoScroll : true,
					autoLoad : {
						url : __ctxPath+'/pages/flowPath/receiveFlow.jsp?archiveId=${archivesId}&fileIds=${fileIds}&defId=${defId}&detailId=XZCNCBArchiveReceiveDetailPanel',
						nocache : true
					}
				});
				
		var initStore = new Ext.data.SimpleStore({
			url : __ctxPath + '/system/getAllByDepIdAppUser.do?depId=0',
					autoLoad : true,
					fields : ['userId', 'fullname']
				});
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			id : 'XZSWSectionInnertakeFormView',
			autoHeight : true,
			style : 'padding:6px 6px 6px 1%',
			items : [ {
							xtype : 'radiogroup',
   							allowBlank : false,
   							columns :[.49,.49],
   							items : [{
    							boxLabel : '协办处室',
    							name : 'option',
    							inputValue : 1,
    							checked : true,
    							listeners : {
     								'check' : function(checkbox, checked){
											if(checked){// 只有在点击时触发
												Ext.getCmp('XZSWSectionInnertakeFormView.underTakeLeader').show();
												Ext.getCmp('XZSWSectionInnertakeFormView.oneLeaderNames').allowBlank = false;
											}   
									}
    							}
   								},{
    							boxLabel : '办结',
    							name : 'option',
    							inputValue : 2,
    							listeners : {
     									'check' : function(checkbox, checked){
              								if(checked){// 只有在点击时触发
												Ext.getCmp('XZSWSectionInnertakeFormView.underTakeLeader').hide();
												Ext.getCmp('XZSWSectionInnertakeFormView.oneLeaderNames').allowBlank = true;
												Ext.getCmp('XZSWSectionInnertakeFormView.oneLeaderNames').setValue('');
											}   
										}
									}
   								}],
  						 fieldLabel : '审批步骤'
					},{
						xtype : 'container',
						layout : 'column',
						id : 'XZSWSectionInnertakeFormView.underTakeLeader',
						style : 'padding-bottom:5px;padding-top:10px;',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									text : '协办处室:',
									width : 105
								}, {
									xtype : 'textfield',
									width : '60%',
									readOnly : true,
									allowBlank:false,
									id : 'XZSWSectionInnertakeFormView.oneLeaderNames'
								}, {
									xtype : 'hidden',
									id : 'XZSWSectionInnertakeFormView.userId',
									value : 0
								}, {
									xtype : 'button',
									iconCls : 'menu-department',
									style:'padding-left:5px;',
									text : '选择人员',
									handler : function() {
										var url= __ctxPath + '/system/depLeadersTreeDepartment.do?subDeptId='+curUserInfo.depId+'&roles='+roleMap.get('officeDirectorRoleID')+','+roleMap.get('officeDeputyDirectorRoleID')+',1272407';
										DepLeaders.getView(
										function(userIds, fullnames) {
											Ext.getCmp('XZSWSectionInnertakeFormView.userId').setValue(userIds);
											Ext.getCmp('XZSWSectionInnertakeFormView.oneLeaderNames').setValue(fullnames);
										},true, null,url).show();
									}
								}]
					},{
				xtype : 'container',
				layout : 'column',
				id:'JTXXZXFsentGroupCheckIds',
				style : 'padding:0px 0px 8px 0px;margin-left:0px;',
				defaults : {
					allowBlank : true,
					border : false
				},
				items : [{
							xtype : 'hidden',
							width : '60%',
							hideParent:true,
							id : 'JTXXZXFsentGroupCheckIds'
						},{
							xtype : 'label',
							style : 'padding:0px 0px 0px 0px;',
							text : '分发群组:',
							hideParent:true,
							allowBlank : true,
							width : 105
						}, {
							xtype : 'textfield',
							width : '60%',
							hideParent:true,
							readOnly:true,
							id : 'JTXXZXFsentGroupCheckNames'
						}, {
							style : 'padding-left:5px;',
							xtype : 'button',
							hideParent:true,
							iconCls : 'menu-department',
							text : '选择群组',
							handler : function() {
									var url1=__ctxPath + '/system/sentListDepartment.do';
									var url2=__ctxPath + '/system/selectLE3Department.do';
									var depIdsTemp = Ext.getCmp('JTXXZXFsentGroupCheckIds').getValue();
									var depNamesTemp = Ext.getCmp('JTXXZXFsentGroupCheckNames').getValue();
									var array1 = [];
									var array2 = [];
									var map = new Map();
									if(null != depIdsTemp && '' != depIdsTemp){
										array1 = depIdsTemp.split(',');
										array2 = depNamesTemp.split(',');
										for (var i = 0; i < array1.length; i++) {
											map.put(array1[i],array2[i]);
										}
									}
									DepSelector.getView(function(formPanel,id, name) {
										Ext.getCmp('JTXXZXFsentGroupCheckNames').setValue(name);
										Ext.getCmp('JTXXZXFsentGroupCheckIds').setValue(id);
									},false,map,url1,url2).show();
								}
						},{
						id : 'JCDDSentArchiveDepCheckForm.reFileId',
						xtype : 'hidden'
					}
]
			},{
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 8px 0px;margin-left:0px;',
				defaults : {
					allowBlank : false,
					border : false
				},
				items : [{
							xtype : 'hidden',
							id : 'XZSentArchiveDisp.sentUserIds',
							name:'sentUserIds'
						},{
							xtype : 'label',
							text : '分发个人:',
							width : 105
						}, {
							xtype : 'textarea',
							width : '60%',
							allowBlank : true,
							id : 'XZSentArchiveDisp.sentUserNames'
						}, {
							style : 'padding-left:5px;',
							xtype : 'button',
							iconCls : 'menu-department',
							text : '选择人员',
							scope:this,
							handler : function() {
							    var url1=__ctxPath + '/system/sentListDepartment.do?externalLimitLevel=1&innerLimitLevel=90';
								var url2=__ctxPath + '/system/selectAppUser.do';
								var depIdsTemp = Ext.getCmp('XZSentArchiveDisp.sentUserIds').getValue();
								var depNamesTemp = Ext.getCmp('XZSentArchiveDisp.sentUserNames').getValue();
								var array1 = [];
								var array2 = [];
								var map= new Map();
								if (depIdsTemp != null&& depIdsTemp != '') {
									array1 = depIdsTemp.split(',');
									array2 = depNamesTemp.split(',');
									for (var i = 0; i < array1.length; i++) {
										map.put(array1[i],array2[i]);
									}
								}
								SentUserSelector.getView(function(userId, fullName, depName) {
									Ext.getCmp('XZSentArchiveDisp.sentUserNames').setValue(fullName);
									Ext.getCmp('XZSentArchiveDisp.sentUserIds').setValue(userId);
								},false,map,url1,url2).show();
							}
						}]
					},{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{	
				   					fieldLabel : '办理意见',
				   					id:'XZSWSectionInnertakeFormView.leaderOpinion',
									name : 'leaderOpinion',
									autoScroll:true,
									allowBlank:false,
									maxLength:500,
									height:40,
									xtype:'textarea',
									width:415
									}]
					     	 },{
						   		layout:'form',
						   		style:'padding-top:10px;padding-left:5px;',
						   		border:false,
						   		items:[{
										xtype : 'button',
										text : '常用批示语',
										iconCls : 'menu-new-document',
										handler : function() {
											OdCommentsSelector.getView(
												function(id, name) {
													Ext.getCmp('XZSWSectionInnertakeFormView.leaderOpinion')
													.setValue(name);
													}, true).show();
											}
										}]
					  		}]
						},{
							id : 'XZSWSectionInnertakeFormView.reFileId',
							xtype : 'hidden'
						}]
		});
	}// end of init
})