ZGProposeDistributeView= Ext.extend(Ext.Panel, {
	taskId : null,
	setTaskId : function(vId) {
		this.taskId = vId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	// 内嵌FormPanel
	formPanel : null,
	// 内嵌FormPanel
	displayPanel : null,
	// 构造函数
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		// 必须先初始化组件
		this.initUIComponents();
		ZGProposeDistributeView.superclass.constructor.call(this, {
					id : 'ZGProposeDistributeViewWin',
					modal : true,
					height : 595,
					width : 700,
					autoHeight:true,
					// maximizable : true,
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
									,#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									}),
									new Ext.Button({
									   iconCls:'btn-changeTask',
									   id : 'ZGProposeDistributeView.return',
									   text:'退回',
									   handler:this.backsetp.createCallback(this.formPanel,this,'${v.source}')
									})
									#set ($count=$count+1)
								#end
								],
					buttonAlign : 'center',
					items : [this.displayPanel, this.formPanel]
				});
				var jsArr=[__ctxPath+'/js/flow/LeaderCommandWindow.js'];
				$ImportSimpleJs(jsArr,null);
	},// end of the constructor
	// 初始化组件
	initUIComponents : function() {
				// 获取处内承办负责人
		var initStore = new Ext.data.SimpleStore({
					url : __ctxPath
							+ '/system/getUserByCurDepAppUser.do?',
					autoLoad : true,
					fields : ['userId', 'fullname']
				});
		// 领导批示负责人
		var comboStore1 = new Ext.data.SimpleStore({
					url : __ctxPath + '/system/getUserByRoleIdAppUser.do?roleId='+roleMap.get('leaderRoleId'),
					autoLoad : true,
					fields : ['userId', 'userName']
				});
		// 加载
		this.displayPanel = new Ext.Panel({
			id : 'DWBBFFZGProposeDistributeViewPanel',
			// autoScroll : true,
			// autoHeight : true,
			border : false,
			autoLoad : {
				url : __ctxPath+'/pages/flowPath/receiveFlow.jsp?archiveId=${archivesId}&fileIds=${fileIds}&defId=${defId}&detailId=DWBBFFZGProposeDistributeViewPanel',
				nocache : true
			}
		});
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			id : 'ZGProposeDistributeViewForm',
			defaults : {
				anchor : '98%,98%'
			},
			items : [{
						xtype : 'hidden',
						name : 'archiveId',
						value : '${archives_archivesId}'
					}, {
						fieldLabel : '0=初始化状态',
						name : 'isPass',
						xtype : 'hidden',
						value : 1
					}, {
							xtype : 'radiogroup',
   							allowBlank : false,
   							width : 100,
   							items : [ {
    							boxLabel : '处内承办',
    							name : 'option',
    							inputValue : 2,
    							checked : true,
    							listeners : {
     								'check' : function(checkbox, checked){
											if(checked){// 只有在点击时触发
												Ext.getCmp('ZGProposeDistributeView.oneChoice').show(); 
												Ext.getCmp('ZGProposeDistributeView.leader').hide();
												Ext.getCmp('ZGProposeDistributeView.leaderName').allowBlank = true;
												Ext.getCmp('ZGProposeDistributeView.oneLeaderNames').allowBlank = false;
												Ext.getCmp('ZGProposeDistributeView.leaderName').setValue('');
											}   
									}
    							}
   								},{
    							boxLabel : '领导批示',
    							name : 'option',
    							inputValue : 1,
    							listeners : {
     									'check' : function(checkbox, checked){
              								if(checked){// 只有在点击时触发
												Ext.getCmp('ZGProposeDistributeView.leader').show();
												Ext.getCmp('ZGProposeDistributeView.oneChoice').hide();
												Ext.getCmp('ZGProposeDistributeView.leaderName').allowBlank = false;
												Ext.getCmp('ZGProposeDistributeView.oneLeaderNames').allowBlank = true;
												Ext.getCmp('ZGProposeDistributeView.oneLeaderNames').setValue('');
											}   
										}
									}
   								}],
  						 fieldLabel : '审批步骤'
					}, {
						xtype : 'container',
						id : 'ZGProposeDistributeView.leader',
						layout : 'column',
						hidden:true,
						height : 30,
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									text : '批示领导:',
									style : 'padding-top:4px;',
									width : 105
								}, {
									id : 'ZGProposeDistributeView.leaderName',
									xtype : 'textfield',
									allowBlank:true,
									width : '67%',
									readOnly : true
								},{
									xtype:'hidden',
									id : 'ZGProposeDistributeView.userId',
									name:'userId'
								},{
									xtype : 'button',
									iconCls : 'menu-department',
									style : 'padding-left:5px;',
									text : '选择人员',
									handler : function() {
										var roles = roleMap.get('diaryLeaderRoleId');
										var url  =  __ctxPath + '/system/depLeadersTreeDepartment.do?roles=' + roles;
										DepLeaders.getView(
												function(userIds, fullnames) {
													Ext.getCmp('ZGProposeDistributeView.userId').setValue(userIds);
													Ext.getCmp('ZGProposeDistributeView.leaderName')
															.setValue(fullnames);
												},false, null,url).show();
									}
									
								}]
					}, {
						xtype : 'container',
						layout : 'column',
						id : 'ZGProposeDistributeView.oneChoice',
						style : 'padding-bottom:5px;padding-top:10px;',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									text : '处内承办负责人:',
									width : 105
								}, {
									xtype : 'textfield',
									width : '67%',
									readOnly : true,
									allowBlank:false,
									id : 'ZGProposeDistributeView.oneLeaderNames'
								}, {
									xtype : 'hidden',
									id : 'ZGProposeDistributeView.oneUserId'
								}, {
									xtype : 'button',
									iconCls : 'menu-department',
									style:'padding-left:5px;',
									text : '选择人员',
									handler : function() {
										var url= __ctxPath + '/system/depLeadersTreeDepartment.do?roles='+roleMap.get('officeDirectorRoleID')+','+roleMap.get('officeDeputyDirectorRoleID')+',1272407';
										DepLeaders.getView(
										function(userIds, fullnames) {
											Ext.getCmp('ZGProposeDistributeView.oneUserId').setValue(userIds);
											Ext.getCmp('ZGProposeDistributeView.oneLeaderNames').setValue(fullnames);
										},true, null,url).show();
									}
								}]
					},{
					   layout:'column',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{	
				   					fieldLabel : '备注',
				   					id:'ZGProposeDistributeView.leaderOpinion',
									name : 'leaderOpinion',
									autoScroll:true,
									maxLength:500,
									height:40,
									xtype:'textarea',
									width:448
									}]
					     	 },{
						   		layout:'form',
						   		style:'padding-top:10px;padding-left:5px;',
						   		border:false,
						   		items:[{
										xtype : 'button',
										text : '常用批示语',
										iconCls : 'menu-new-document',
										handler : function() {
											OdCommentsSelector.getView(
												function(id, name) {
													Ext.getCmp('ZGProposeDistributeView.leaderOpinion')
													.setValue(name);
													}, true).show();
											}
										}]
					  		}]
					},{
						xtype: 'hidden',
						id : 'ZGProposeDistributeView.preActivity'
					},{
						id : 'ZGProposeDistributeView.reFileId',
						xtype : 'hidden'
					}]
		});
		if(taskId){
				Ext.Ajax.request({
				url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
				params : {
					'taskId' : taskId
				},
				method:'post',
				success : function(response, options) {
					var processForm = Ext.util.JSON.decode(response.responseText).data;
					var prevSignalName  = processForm[0].signalName;
					var prevDestName  = processForm[0].activityName;
					if(prevDestName.toString().indexOf("协办")!=-1||prevDestName.toString().indexOf("领导批示")!=-1){
						Ext.getCmp('ZGProposeDistributeView.return').hide();
					}
				},
				failure : function(response, options) {
						Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
					}
				});
		}
	},
	backsetp:function(formPanel,panel,activityName){
		 Ext.getCmp('ZGProposeDistributeView.leaderName').allowBlank = true;
		 Ext.getCmp('ZGProposeDistributeView.oneLeaderNames').allowBlank = true;
		 Ext.Ajax.request({
			url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
			params : {
				'taskId' : panel.taskId
			},
			method:'post',
			success : function(response, options) {
				var processForm = Ext.util.JSON.decode(response.responseText).data;
				var prevSignalName  = processForm[0].signalName;
				var prevDestName  = processForm[0].activityName;
				var prevFlowAssignId =  processForm[0].creatorId; 
				var sendMail = msgPanel.getCmpByName('sendMail').getValue();
				var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
				var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
				if("收文登记" == prevDestName){
					prevSignalName = 'to重新登记';
					prevFlowAssignId ='${userId}';
					prevDestName = '重新登记';
				}
				formPanel.getForm().submit({
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						method:'post',
						waitMsg:'正在提交处理，请稍等',
						scope:this,
						params:{
								taskId : panel.taskId,
								signalName : prevSignalName,
								activityName : activityName,
								comments : formPanel.getCmpByName('leaderOpinion').getValue(),
								destName : prevDestName,
								status : '退回',
								sendMail : sendMail,
								sendMsg : sendMsg,
								sendInfo:sendInfo,
								flowAssignId : prevFlowAssignId
						},
						success : function(fp, action) {
										 Ext.ux.Toast.msg('操作信息','退回上一步成功！');
										 AppUtil.removeTab('ProcessForm' + panel.taskId);
										 refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					});
			},
			failure : function(response, options) {
					Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
				}
			});
	},
	/**
	 * 保存记录
	 */
	save : function(formPanel, panel, signalName, activityName) {
		if (formPanel.getForm().isValid()) {
			Ext.Ajax.request({
					  url : __ctxPath + '/archive/updateOrgDepIdArchives.do',
					  params : {
							archivesId:'${archivesId}'
					},
					  method : 'POST',
					  waitMsg : '正在提交表单数据...',
					  success : function(fp, action) {
						var option = formPanel.getCmpByName('option').getGroupValue();
						var userId = formPanel.getCmpByName('userId').getValue();
						var comments='';
						var params={
							taskId : panel.taskId,
							signalName : signalName,
							activityName : activityName,
							officeInnerNiBan : curUserInfo.userId,
							sendMail : sendMail,
							sendMsg : sendMsg,
							sendInfo: sendInfo, 
						    comments: formPanel.getCmpByName('leaderOpinion').getValue() 
						};
						var sendMail = msgPanel.getCmpByName('sendMail').getValue();
						var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
						var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
						if (1 == option) {
							Ext.apply(params,{
								isLeader : 'yes',
								destName : '领导批示3',
								signUserIds : userId
							});
						} else 	{
							Ext.apply(params,{
								isLeader : 'no',
								destName : '处内承办',
								flowAssignId : Ext.getCmp('ZGProposeDistributeView.oneUserId').getValue()
							});
						}
						var preActivity=Ext.getCmp('ZGProposeDistributeView.preActivity').getValue();
						if((preActivity=='1'&& option=='1')||(preActivity=='2'&& option=='2')){
							formPanel.getForm().submit({
								url : __ctxPath + "/flow/nextProcessActivity.do",
								method : 'post',
								waitMsg : '正在提交数据...',
								params : params,
								success : function(fp, action) {
												 Ext.ux.Toast.msg('操作信息', '成功保存！');
												 AppUtil.removeTab('ProcessForm' + panel.taskId);
												 var myTaskView = Ext.getCmp("MyTaskGrid");
												 var appHomeTaskGrid = Ext
														.getCmp("appHomeTaskGrid");
												 if (appHomeTaskGrid != null) {
													appHomeTaskGrid.getStore().reload();
												 }
												 if (myTaskView != null) {
													// AppUtil.activateTab(taskView);
													myTaskView.getStore().reload();
												 }
												 refreshTaskPanelView();
								},
								failure : function(fp, action) {
									Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
								}
							}); 
						}else{
							formPanel.getForm().submit({
								url : __ctxPath + "/flow/nextProcessActivity.do",
								method : 'post',
								waitMsg : '正在提交数据...',
								params :  params,
								success : function(fp, action) {
																 Ext.ux.Toast.msg('操作信息', '成功保存！');
																 AppUtil.removeTab('ProcessForm' + panel.taskId);
																 var myTaskView = Ext.getCmp("MyTaskGrid");
																 var appHomeTaskGrid = Ext
																		.getCmp("appHomeTaskGrid");
																 if (appHomeTaskGrid != null) {
																	appHomeTaskGrid.getStore().reload();
																 }
																 if (myTaskView != null) {
																	myTaskView.getStore().reload();
																 }
																 refreshTaskPanelView();
								},
								failure : function(fp, action) {
									Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
								}
							}); 
					  }
				},
				failure : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
				}});
		}
	}// end of save
}) 