JCSSSentArchiveDepCheck = Ext.extend(Ext.Panel, {
	taskId : null,
	setTaskId : function(vId) {
		this.taskId = vId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	displayPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		JCSSSentArchiveDepCheck.superclass.constructor.call(this, {
					id:'JCSSSentArchiveDepCheck',
					layout : 'form',
					items : [this.displayPanel, this.formPanel],
					modal : true,
					height : 700,
					width : 700,
					autoHeight : true,
					maximizable : true,
					buttonAlign : 'center',
					buttons : this.buttons
				});
	},
	initUIComponents : function() {

		this.displayPanel = new Ext.Panel({
			id :'JCSSSectionArchiveDepCheck.displayPanel',
			autoScroll : true,
			autoHeight : true,
			border : false,
			autoLoad : {
				url : __ctxPath
		        + '/pages/flowPath/dispatchFlow.jsp?archiveId=${archivesId}&fileIds=$!{fileIds}&defId=${defId}&sentPanelId=JCSSSectionArchiveDepCheck',
				nocache : true
			}
		});
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			url : __ctxPath + '/archive/saveDepLeaderRead.do',
			id : 'JCSSSentArchiveDepCheckForm',
			defaults : {
				anchor : '98%,98%'
			},
			items : [new ArchivesUtil({
						panelId : 'JCSSSentArchiveDepCheck',
						archivesId : '${archivesId}'
					}).getGridPanelWithFullTools(),{
						name : 'archives.archivesId',
						xtype : 'hidden',
						value : '${archivesId}'
					}, {
						xtype : 'radiogroup',
						allowBlank : false,
						columns :[.3,.4,.3],
						defaults:{
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {
										Ext.getCmp('viceLeaderIds').setValue('');
										Ext.getCmp('JCSSSentArchiveDepCheck.LeaderNames').setValue('');
									}
								}
							}
						},
						items : [{
							boxLabel : '办公室审核',
							name : 'depOption',
							checked : true,
							inputValue : 4,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {
										Ext.getCmp('JCSSSentArchiveDepCheck.signDep').hide();
										Ext.getCmp('viceLeaderIds').setValue('');
										Ext.getCmp('JCSSSentArchiveDepCheck.LeaderNames').setValue('');
										Ext.getCmp('JCSSSentArchiveDepCheck.LeaderNames').allowBlank=true;
									}
								}
							}
						},{
							boxLabel : '领导会签',
							name : 'depOption',
							inputValue : 1,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {
										Ext.getCmp('JCSSSentArchiveDepCheck.signDep').show();
										Ext.getCmp('viceLeaderIds').setValue('');
										Ext.getCmp('JCSSSentArchiveDepCheck.LeaderNames').setValue('');
									}
								}
							}
						}],
						fieldLabel : '审核步骤'
					}, {
						xtype : 'container',
						id : 'JCSSSentArchiveDepCheck.signDep',
						layout : 'column',
						hidden:true,
						height : 30,
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									text : '选择人员:',
									width : 104
								}, {
									id : 'JCSSSentArchiveDepCheck.LeaderNames',
									xtype : 'textfield',
									width : '70%',
									allowBlank : false,
									readOnly : true
								},{
									xtype : 'hidden',
									id : 'viceLeaderIds'
								},
								{
									xtype : 'button',
									iconCls : 'menu-department',
									style : 'padding-left:5px;',
									text : '选择人员',
									handler : function() {
									var option = formPanel.getCmpByName('depOption').getGroupValue();
									var roles ='';
									var url = __ctxPath + '/system/depLeadersTreeDepartment.do';
									switch(option){
										case '1':
										var url= __ctxPath + '/system/findUserByRoleDepartment.do?roles='+roleMap.get('diaryLeaderRoleId');
											break;
										case '4':
										var url= __ctxPath + '/system/findUserByRoleDepartment.do?roles='+roleMap.get('diaryLeaderRoleId');
											break;
										default:
											roles = '';
									}
									DepLeaders.getView(
											function(userIds, fullnames) {
												Ext.getCmp('viceLeaderIds').setValue(userIds);
												Ext.getCmp('JCSSSentArchiveDepCheck.LeaderNames')
														.setValue(fullnames);
											}, option==4, null,url).show();
									}
									
								}]
					}, {
						 layout:'column',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[ {fieldLabel : '审批意见',
										name : 'leaderRead.leaderOpinion',
										id:'JCSSSentArchiveDepCheckForm.leaderOpinion',
										autoScroll:true,
										maxLength:500,
										xtype:'textarea',
										width:466,
										height:40
									}]
					      },{
					   		layout:'form',
					   		style:'padding-top:10px;padding-left:5px;',
					   		border:false,
					   		items:[{
									xtype : 'button',
									text : '常用批示语',
									iconCls : 'menu-new-document',//'menu-information',
									handler : function() {
										OdCommentsSelector.getView(
											function(id, name) {
											var fm = Ext
												.getCmp('JCSSSentArchiveDepCheckForm');
												fm
												.getCmpByName('leaderRead.leaderOpinion')
												.setValue(name);
												}, true).show();
										}
									}]
					   }]
					}, {
						name : 'leaderRead.checkName',
						xtype : 'hidden',
						value : #foreach ($v in $nextTrans)
								'${v.source}'
							#end
					}, {
						name : 'leaderRead.depName',
						xtype : 'hidden',
						value : curUserInfo.depName
					}]
		});
			if(taskId){
			Ext.Ajax.request({
			url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
			params : {
				'taskId' : taskId
			},
			method:'post',
			success : function(response, options) {
				var processForm = Ext.util.JSON.decode(response.responseText).data;
				var prevSignalName  = processForm[0].signalName;
				var prevDestName  = processForm[0].activityName;
				if(prevDestName.toString().indexOf("会签")!=-1){
					Ext.getCmp('JCSSCSHGDisciplineCheckSentArchiveDepCheck.return').hide();
				}
			},
			failure : function(response, options) {
					Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
				}
			});
		}
		this.buttons = [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								}),
								new Ext.Button({
								   iconCls:'btn-changeTask',
								   text:'退回',
								   id:'JCSSCSHGDisciplineCheckSentArchiveDepCheck.return',
								   handler:this.backsetp.createCallback(this.formPanel,this,'${v.source}')
								})
								#set ($count=$count+1)
						#end];
	},
	backsetp:function(formPanel,panel,activityName){
		/*if (panel.store.getCount() == 0) {
			Ext.ux.Toast.msg('操作信息', '请添加公文正文!');
			return false;
		}*/
		 Ext.getCmp('JCSSSentArchiveDepCheck.LeaderNames').allowBlank=true;
		 Ext.Ajax.request({
			url : __ctxPath + '/flow/getPreviousStepProcessRun.do',
			params : {
				'taskId' : panel.taskId
			},
			method:'post',
			success : function(response, options) {
				var processForm = Ext.util.JSON.decode(response.responseText).data;
				var prevSignalName  = processForm[0].signalName;
				var prevDestName  = processForm[0].activityName;
				var prevFlowAssignId =  processForm[0].creatorId; 
				var sendMail = msgPanel.getCmpByName('sendMail').getValue();
				var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
				var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
				formPanel.getForm().submit({
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						method:'post',
						waitMsg:'正在提交处理，请稍等',
						scope:this,
						params:{
								taskId : panel.taskId,
								signalName : prevSignalName,
								activityName : activityName,
								sendMail : sendMail,
								sendMsg : sendMsg,
								sendInfo:sendInfo,
								comments : '退回',
								destName : prevDestName,
								status : '已办理',
								flowAssignId : prevFlowAssignId
						},
						success : function(fp, action) {
							Ext.ux.Toast.msg('操作信息','退回上一步成功！');
							AppUtil.removeTab('ProcessForm' + panel.taskId);
							refreshTaskPanelView();
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						}
					}
				
				);},
			failure : function(response, options) {
					Ext.ux.Toast.msg('操作信息', '撤回出错，请联系管理员！');
				}
			});
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
		/*if (panel.store.getCount() == 0) {
			Ext.ux.Toast.msg('操作信息', '请添加公文正文!');
			return false;
		}*/
		if (formPanel.getForm().isValid()) {
			var option = formPanel.getCmpByName('depOption').getGroupValue();
			var sendMail = msgPanel.getCmpByName('sendMail')
					.getValue();
			var sendMsg = msgPanel.getCmpByName('sendMsg')
					.getValue();
			var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
			var result = '';
			var params = {
					officeExerId:curUserInfo.userId,
					taskId : panel.taskId,
					signalName : signalName,
					activityName : activityName,
					ccUserIds : ccPanel.getCmpByName('ccIds').getValue(),
					sendMail : sendMail,
					sendMsg : sendMsg,
					sendInfo:sendInfo,
					comments : formPanel.getCmpByName('leaderRead.leaderOpinion').getValue()
				};
			var depLeaderOption;
			var leaderIds = Ext.getCmp('viceLeaderIds').getValue();
			if (1 == option ) {	//会签
				depLeaderOption = 'leaderSign';
				result = '呈领导会签';
				Ext.apply(params,{
					officeLeaderOption : depLeaderOption,//下一步签核
					destName : '领导会签',
					status : result,
					signUserIds : leaderIds
				});
			}else {		//签发
				depLeaderOption = 'distribute';
				result = '呈签发',
				Ext.apply(params,{
					officeLeaderOption : depLeaderOption,//下一步签核
					status : result,
					flowAssignId : leaderIds
				});
			}
			//alert(Ext.util.JSON.encode(params)); return false;
			formPanel.getForm().submit({
				url : __ctxPath + "/flow/nextProcessActivity.do",
				method : 'post',
				waitMsg : '正在提交数据...',
				params : params,
				success : function(fp, action) {
					Ext.ux.Toast.msg('操作信息','审核成功！');
					AppUtil.removeTab('ProcessForm' + panel.taskId);
					refreshTaskPanelView();
				},
				failure : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
				}
			});
		}
	}// end of save
})