HYTZCSNQView = Ext.extend(Ext.Panel, {
	setTaskId : function(tId) {
		this.taskId = tId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		msgPanel.hide();
		HYTZCSNQView.superclass.constructor.call(this, {
					id : 'HYTZCSNQView',
					defaults : {
						border : false,
						autoScroll : true
					},
					width : 700,
					height : 530,
					autoHeight : true,
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   id:'hytzsaveBtn008',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									})
									#set ($count=$count+1)
								#end
								],
					buttonAlign : 'center',
					items : [this.detailPanel, this.formPanel]
				});
	},
	
	//保存方法
	onSave : function(formPanel, panel, signalName, activityName) {
		singleClick('hytzsaveBtn008');
		var option = formPanel.getCmpByName('option').getGroupValue();
		var mainDepId = '${mainDepId}';
		var meetingState = '${meetingState}';
		if(option == 1 || meetingState == '会议取消'){
			if(mainDepId == curUserInfo.depId){
				Ext.getCmp('HYTZCSNQFormView.departureTime').allowBlank = true;
				Ext.getCmp('HYTZCSNQFormView.departurePlace').allowBlank = true;
				Ext.getCmp('HYTZCSNQFormView.vehicleInfo').allowBlank = true;
				Ext.getCmp('HYTZCSNQFormView.driverInfo').allowBlank = true;
			}
			Ext.getCmp('HYTZCSNQFormView.attendPersonsName').allowBlank = true;
		}else{
			if(mainDepId == curUserInfo.depId){
				Ext.getCmp('HYTZCSNQFormView.departureTime').allowBlank = false;
				Ext.getCmp('HYTZCSNQFormView.departurePlace').allowBlank = false;
				Ext.getCmp('HYTZCSNQFormView.vehicleInfo').allowBlank = false;
				Ext.getCmp('HYTZCSNQFormView.driverInfo').allowBlank = false;
			}
			Ext.getCmp('HYTZCSNQFormView.attendPersonsName').allowBlank = false;
		}
		if (formPanel.getForm().isValid()) {
			Ext.Msg.confirm('信息确认', '请确认是否执行此操作。', function(btn) {
				if (btn == 'yes') {
					var leaderId=Ext.getCmp('HYTZCSNQFormView.leaderId').getValue();
					var comments=formPanel.getCmpByName('leaderOpinion').getValue();
					var foreachUserIdsLengthsDB = Number('${foreachUserIdsLengths}');
					var params = {
						taskId : panel.taskId,
						activityName : activityName,
						joinName:'处内办理合并',
						foreachUserIdsLengths:foreachUserIdsLengthsDB,
						comments: formPanel.getCmpByName('leaderOpinion').getValue() 
					};
					if(option == 1){
						Ext.apply(params,{
							signalName : signalName,
							flowAssignId:leaderId,
							chishiResult:"1"
						});
					}else{
						Ext.apply(params,{
							isForkFlow:true,
							isEndFlow:true,
							destName:'处内办理合并',
							joinedName:'结束',
							chishiResult:"2"
						});
					}
					addMsgFunction(true,taskId);
					formPanel.getForm().submit({
						url : __ctxPath + "/flow/nextForSyncProcessActivity.do",
						method : 'post',
						waitMsg : '正在提交数据...',
						params : params,
						success : function(fp, action) {	
							Ext.MessageBox.hide();	
							var jsonResult = action.result;
							if (jsonResult && jsonResult.success == "true") {
								Ext.ux.Toast.msg("操作信息", "保存成功！");
								var comParams = {
									noticeId : '${noticeId}',
									attendPersonsId : Ext.getCmp('HYTZCSNQFormView.attendPersonsId').getValue(),
									attendPersonsName : Ext.getCmp('HYTZCSNQFormView.attendPersonsName').getValue()
								};
								if(mainDepId == curUserInfo.depId){
									Ext.apply(comParams,{
										departureTime : Ext.getCmp('HYTZCSNQFormView.departureTime').value,
										departurePlace : Ext.getCmp('HYTZCSNQFormView.departurePlace').getValue(),
										vehicleInfo : Ext.getCmp('HYTZCSNQFormView.vehicleInfo').getValue(),
										driverInfo : Ext.getCmp('HYTZCSNQFormView.driverInfo').getValue()
									});
								}
								Ext.Ajax.request({
									url : __ctxPath + '/meetingNotice/completeInfoMeetingNotice.do',
									method : 'POST',
									params:comParams,
									success : function(response) {
									}
								});
								if(option == 1){
									Ext.Ajax.request({
										url : __ctxPath + '/meetingNotice/autoSendSmsForDepMeetingNotice.do',
										method : 'POST',
										params : {noticeId: '${noticeId}',personIds:leaderId},
										success : function(response) {
										}
									});
								}else{
									Ext.Ajax.request({
										url : __ctxPath + '/meetingNotice/syncMeetingToActiveForDepMeetingNotice.do',
										method : 'POST',
										params : {noticeId: '${noticeId}',personIds:Ext.getCmp('HYTZCSNQFormView.attendPersonsId').getValue()},
										success : function(response) {
										}
									});
								}
							}else {
								var resultMsg = "信息保存出错，请联系管理员！";
								var resuIcon = Ext.MessageBox.ERROR;
								if (jsonResult.message && jsonResult.message != null) {
									resultMsg = jsonResult.message;
									if (jsonResult.code && (jsonResult.code == '2' || jsonResult.code == '3')) {
										resuIcon= Ext.MessageBox.WARNING;
									}
								}
								Ext.MessageBox.show({
								title : '操作信息',
								msg : resultMsg,
								buttons : Ext.MessageBox.OK,
								icon : resuIcon
								});
							}
							AppUtil.removeTab('ProcessForm' + panel.taskId);
							refreshTaskPanelView();
							if(Ext.getCmp('ArchMeetingGrid')){
								Ext.getCmp('ArchMeetingGrid').getStore().reload();
							}
						},
						failure : function(fp, action) {
							Ext.MessageBox.hide();
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						} 
					}); 
				}
			});
		}
	},

	/**
	 * init the components
	 */
	init : function() {
		// 显示公文详细信息
		this.detailPanel = new Ext.Panel({
					// title:'流程审批信息',
					autoHeight : true,
					columnWidth : 1,
					id:'XZCSNQArchiveReceiveDetailPanel',
					autoScroll : true,
					autoLoad : {
						url : __ctxPath+'/pages/flowPath/meetingFlow.jsp?noticeId=${noticeId}&defId=${defId}&detailId=XZCSNQArchiveReceiveDetailPanel',
						nocache : true
					}
				});
		
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			id : 'HYTZCSNQFormView',
			defaults : {
				anchor : '98%,98%'
			},
			items : [{
						name : 'userId',
						id : 'HYTZCSNQFormView.leaderId',
						xtype : 'hidden'
					},{
						xtype : 'radiogroup',
							allowBlank : false,
							width : 100,
							items : [{
							boxLabel : '处长审核',
							name : 'option',
							inputValue : 1,
							checked : true,
							listeners : {
 									'check' : function(checkbox, checked){
          								if(checked){//只有在点击时触发
											Ext.getCmp('HYTZCSNQFormView.leader').show();
											Ext.getCmp('HYTZCSNQFormView.leaderName').allowBlank=false;
          									Ext.getCmp('HYTZCSNQFormView.leaderId').setValue('');
											Ext.getCmp('HYTZCSNQFormView.leaderName').setValue('');
										}   
									}
								}
								}, {
								boxLabel : '结束',
								name : 'option',
								inputValue : 2,
								listeners : {
	 								'check' : function(checkbox, checked){
										if(checked){//只有在点击时触发
											Ext.getCmp('HYTZCSNQFormView.leader').hide();
											Ext.getCmp('HYTZCSNQFormView.leaderName').allowBlank=true;
											Ext.getCmp('HYTZCSNQFormView.leaderId').setValue('');
											Ext.getCmp('HYTZCSNQFormView.leaderName').setValue('');
										}   
									}
								}
								}],
						 fieldLabel : '审批步骤'
				},{
					xtype : 'container',
					id : 'HYTZCSNQFormView.leader',
					layout : 'column',
					height : 30,
					defaults : {
						border : false
					},
					items : [{
						xtype : 'label',
						text : '选择人员:',
						style : 'padding-top:4px;',
						width : 105
					}, {
						id : 'HYTZCSNQFormView.leaderName',
						xtype : 'textfield',
						allowBlank:false,
						width : '67%',
						readOnly : true
					},{
						xtype : 'button',
						iconCls : 'menu-department',
						style : 'padding-left:5px;',
						text : '选择人员',
						handler : function() {
							var url= __ctxPath + '/system/depLeadersTreeDepartment.do?depIds='+curUserInfo.depId+'&roles='+roleMap.get('officeDirectorRoleID');
							DepLeaders.getView(
								function(userIds, fullnames) {
									Ext.getCmp('HYTZCSNQFormView.leaderId').setValue(userIds);
									Ext.getCmp('HYTZCSNQFormView.leaderName').setValue(fullnames);
							},true, null,url).show();
						}
					}]
				},{
					xtype : 'container',
					id : 'HYTZCSNQFormView.attendPersons',
					layout : 'column',
					height : 30,
					defaults : {
						border : false
					},
					items : [{
						xtype : 'label',
						text : '参会人员:',
						style : 'padding-top:4px;',
						width : 105
					}, {
						id : 'HYTZCSNQFormView.attendPersonsName',
						xtype : 'textfield',
						allowBlank:false,
						width : '67%',
						readOnly : true
					},{
						xtype : 'button',
						iconCls : 'menu-department',
						style : 'padding-left:5px;',
						text : '选择人员',
						handler : function() {
							var url= __ctxPath + '/system/depLeadersTreeDepartment.do?depIds='+curUserInfo.depId;
							DepLeaders4.getView(
								function(userIds, fullnames) {
									Ext.getCmp('HYTZCSNQFormView.attendPersonsId').setValue(userIds);
									Ext.getCmp('HYTZCSNQFormView.attendPersonsName').setValue(fullnames);
							},false,Ext.getCmp('HYTZCSNQFormView.attendPersonsId').getValue(), null,url).show();
						}
					}]
				},
					#if($mainDepId == $currentDepId)
					{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{
								fieldLabel : '出发时间',
							    id : 'HYTZCSNQFormView.departureTime',
								xtype : 'datetimefield',
								format : 'Y-m-d H:i:s',
								editable : false,
								width:448
							}]
					     }]
					},{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{
					   			xtype : 'textfield',
								fieldLabel : '出发地点',
								id:'HYTZCSNQFormView.departurePlace',
								width:448
							}]
					     }]
					},{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{
					   			xtype : 'textfield',
								fieldLabel : '车辆信息',
								emptyText : '例：大众（渝B12345），福特（渝A12345）',
								id:'HYTZCSNQFormView.vehicleInfo',
								width:448
							}]
					     }]
					},{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{
					   			xtype : 'textfield',
								fieldLabel : '驾驶员信息',
								emptyText : '例：张三（18500000000），李四（13600000000）',
								id:'HYTZCSNQFormView.driverInfo',
								width:448
							}]
					     }]
					},
					#end
					{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{	
				   					fieldLabel : '办理意见',
				   					id:'HYTZCSNQFormView.leaderOpinion',
									name : 'leaderOpinion',
									autoScroll:true,
									maxLength:500,
									height:40,
									xtype:'textarea',
									width:448
									}]
					     	 },{
						   		layout:'form',
						   		style:'padding-top:10px;padding-left:5px;',
						   		border:false,
						   		items:[{
										xtype : 'button',
										text : '常用批示语',
										iconCls : 'menu-new-document',
										handler : function() {
											OdCommentsSelector.getView(
												function(id, name) {
													Ext.getCmp('HYTZCSNQFormView.leaderOpinion')
													.setValue(name);
													}, true).show();
											}
										}]
					  		}]
					},{
						id : 'HYTZCSNQFormView.reFileId',
						xtype : 'hidden'
					}, {
						xtype:'hidden',
						id:'MeetingCSNQForm.snId'
					}, {
						xtype:'hidden',
						id:'HYTZCSNQFormView.attendPersonsId'
					}, {
						name : 'archives.snConfigId',
						id : 'MeetingCSNQForm.snConfigId',
						xtype : 'hidden'
					}]
		});
		
		var noticeId = '${noticeId}';
		var depId = '${mainDepId}';
		if (noticeId) {
			Ext.Ajax.request({
				url : __ctxPath + '/meetingNotice/getMeetingNotice.do?id=' + noticeId,
				method : 'POST',
				success : function(response) {
					var meetingNotice = Ext.decode(response.responseText).data[0];
					if(depId == curUserInfo.depId){
						if(meetingNotice.departureTime != null && meetingNotice.departureTime != ""){
							Ext.getCmp('HYTZCSNQFormView.departureTime').setValue(new Date(meetingNotice.departureTime));
						}
						Ext.getCmp('HYTZCSNQFormView.departurePlace').setValue(meetingNotice.departurePlace);
						Ext.getCmp('HYTZCSNQFormView.vehicleInfo').setValue(meetingNotice.vehicleInfo);
						Ext.getCmp('HYTZCSNQFormView.driverInfo').setValue(meetingNotice.driverInfo);
					}
					var attendPersons = meetingNotice.attendPersons;
					var attendPersonsName = meetingNotice.attendPersonsName;
					if(attendPersons != null && attendPersons != "" && attendPersons.indexOf(curUserInfo.depId) > -1){
						var persons = attendPersons.split("；");
						var personsName = attendPersonsName.split("；");
						for(var i = 0; i < persons.length; i++){
							if(persons[i].indexOf(curUserInfo.depId) > -1){
								Ext.getCmp('HYTZCSNQFormView.attendPersonsId').setValue(persons[i].split("：")[1]);
								Ext.getCmp('HYTZCSNQFormView.attendPersonsName').setValue(personsName[i].split("：")[1]);
								continue;
							}
						}
					}
				}
			});
		}
	}// end of init
})