ZRBGHCSHQView = Ext.extend(Ext.Panel, {
	setTaskId : function(tId) {
		this.taskId = tId;
	},
	getTaskId : function() {
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		ZRBGHCSHQView.superclass.constructor.call(this, {
					id : 'ZRBGHCSHQView',
					defaults : {
						border : false,
						autoScroll : true
					},
					width : 700,
					height : 530,
					autoHeight : true,
					buttons : [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'确认',
									   id:'hytzsaveBtn0010',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									})
									#set ($count=$count+1)
								#end
								],
					buttonAlign : 'center',
					items : [this.detailPanel, this.formPanel]
				});
	},
	
	//保存方法
	onSave : function(formPanel, panel, signalName, activityName) {
		singleClick('hytzsaveBtn0010');
		if (formPanel.getForm().isValid()) {
			Ext.Msg.confirm('信息确认', '请确认是否执行此操作。', function(btn) {
				if (btn == 'yes') {
					var comments=formPanel.getCmpByName('leaderOpinion').getValue();
					var foreachUserIdsLengthsDB = Number('${foreachUserIdsLengths}');
					var sendMail = msgPanel.getCmpByName('sendMail').getValue();
					var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
					var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
					var params={
						taskId : panel.taskId,
						activityName : activityName,
						signalName : signalName,
						sendMail : sendMail,
						sendMsg : sendMsg,
						sendInfo: sendInfo,
						comments: comments,
						flowAssignId : '${chuzhangUserId}',
						currentStep : 1
					};
					addMsgFunction(true,taskId);
					formPanel.getForm().submit({
						url : __ctxPath + "/flow/nextForSyncProcessActivity.do",
						method : 'post',
						waitMsg : '正在提交数据...',
						params : params,
						success : function(fp, action) {	
							Ext.MessageBox.hide();	
							var jsonResult = action.result;
							if (jsonResult && jsonResult.success == "true") {
								Ext.ux.Toast.msg("操作信息", "保存成功！");
							}else {
								var resultMsg = "信息保存出错，请联系管理员！";
								var resuIcon = Ext.MessageBox.ERROR;
								if (jsonResult.message && jsonResult.message != null) {
									resultMsg = jsonResult.message;
									if (jsonResult.code && (jsonResult.code == '2' || jsonResult.code == '3')) {
										resuIcon= Ext.MessageBox.WARNING;
									}
								}
								Ext.MessageBox.show({
								title : '操作信息',
								msg : resultMsg,
								buttons : Ext.MessageBox.OK,
								icon : resuIcon
								});
							}
							AppUtil.removeTab('ProcessForm' + panel.taskId);
							refreshTaskPanelView();
							if(Ext.getCmp('OfficeMeetingTimesGrid') != null){
								Ext.getCmp('OfficeMeetingTimesGrid').getStore().reload();
							}
						},
						failure : function(fp, action) {
							Ext.MessageBox.hide();
							Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
						} 
					}); 
				}
			});
		}
	},

	/**
	 * init the components
	 */
	init : function() {
		// 显示公文详细信息
		this.detailPanel = new Ext.Panel({
					// title:'流程审批信息',
					autoHeight : true,
					columnWidth : 1,
					id:'ZRBGHCSHQDetailPanel',
					autoScroll : true,
					autoLoad : {
						url : __ctxPath+'/pages/flowPath/officeMeetingFlow.jsp?archiveId=${archivesId}&fileIds=${fileIds}&defId=${defId}&detailId=ZRBGHCSHQDetailPanel',
						nocache : true
					}
				});
		
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			id : 'ZRBGHCSHQFormView',
			defaults : {
				anchor : '98%,98%'
			},
			items : [{
					   layout:'column',
					   style:'padding:6px 0px 0px 0px',
					   border:false,
					   items:[{
					   		layout:'form',
					   		border:false,
					   		items:[{	
				   					fieldLabel : '办理意见',
				   					id:'ZRBGHCSHQFormView.leaderOpinion',
									name : 'leaderOpinion',
									autoScroll:true,
									maxLength:500,
									height:40,
									xtype:'textarea',
									width:448
									}]
					     	 },{
						   		layout:'form',
						   		style:'padding-top:10px;padding-left:5px;',
						   		border:false,
						   		items:[{
										xtype : 'button',
										text : '常用批示语',
										iconCls : 'menu-new-document',
										handler : function() {
											OdCommentsSelector.getView(
												function(id, name) {
													Ext.getCmp('ZRBGHCSHQFormView.leaderOpinion')
													.setValue(name);
													}, true).show();
											}
										}]
					  		}]
					},{
						id : 'ZRBGHCSHQFormView.reFileId',
						xtype : 'hidden'
					},{
						id : 'ZRBGHCSHQFormView.depId',
						value:curUserInfo.depId,
						xtype : 'hidden'
					}, {
						xtype:'hidden',
						id:'MeetingCNNBForm.snId'
					}, {
						name : 'archives.snConfigId',
						id : 'MeetingCNNBForm.snConfigId',
						xtype : 'hidden'
					}]
		});
	}// end of init
})