<Body>
<Name>MSG</Name>
<Prop>
	<Developer>szh</Developer>
	<DeveloperPwd>szh4hua</DeveloperPwd>
	<Receivers>${toUser}</Receivers>
	<MsgType>1</MsgType>
	<MsgFlag>256</MsgFlag>
	<Charset>UTF-8</Charset>
</Prop>
<Content>
<![CDATA[
<Body>
	<Type>System</Type><Name>DoCmd</Name>
	<Param>
		<Flag>64</Flag><Width>600</Width><Height>500</Height><TargetType>5</TargetType>
		<Target>#</Target>
		<TipInfo>
			<Prop>
				<Width>300</Width>
				<Height>145</Height>
				<BKImg>Skin://TipBK_BBar.png</BKImg>
			</Prop>
			<CtrlList>
				<Item Type='Text' Left='0' Top='5' Width='300' Height='20' Bold='1' Caption='${title}' />
				<Item Type='Text' Left='0' Top='25' Width='300' Height='20' Caption='${toUser}：' />
				<Item Type='Text' Left='10' Top='45' Width='270' Height='80' Caption='${contentInfo} ' />
				<Item Type='Text' Left='10' Top='125' Width='300' Height='20' Caption='${sentDatetime}' />
			</CtrlList>
		</TipInfo>
	</Param>
</Body>]]>
</Content>
</Body>