XZSWPartyReceiveArchivesReStart = Ext.extend(Ext.Panel, {
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.initUIComponents();
		XZSWPartyReceiveArchivesReStart.superclass.constructor.call(this, {
					id : 'XZSWPartyReceiveArchivesReStart',
					title : '重庆市交通委员会行政收文处理笺',
					layout : 'form',
					modal : true,
					width : 800,
					iconCls : 'menu-archive-draft',
					maximizable : true,
					items : [this.formPanel],
					buttonAlign : 'center',
					buttons : [ #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'确认',id:'saveBtn3015',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}','${v.destination}')
								})
								#set ($count=$count+1)
						#end]
				});
	},
	save : function(formPanel, panel, signalName, activityName, destination) {
		singleClick('saveBtn3015');
		var fileIds = Ext.getCmp('XZSWPartyReceiveArchivesReFiles.fileIds').getValue();
		if (formPanel.getForm().isValid()) {
			var docParams=Ext.getCmp("XZSWPartyReceiveArchivesReStart.reFileId");
			for (var i = 0, cnt = panel.store.getCount(); i < cnt; i++) {
				if(panel.store.getAt(i).data.fileId!=''){
					if(docParams.getValue()!=""){
						docParams.setValue(docParams.getValue()+',');
					} 
				} 
				docParams.setValue(docParams.getValue()+panel.store.getAt(i).data.fileId);
			}
			formPanel.getForm().submit({
				method : 'POST',
				waitMsg : '正在提交数据...',
				params : {
					archivesRecfileIds : Ext.getCmp("XZSWPartyReceiveArchivesReStart.reFileId").getValue()
				},
				success : function(fp, action) {
					var sendMail = msgPanel.getCmpByName('sendMail').getValue();
					var sendMsg = msgPanel.getCmpByName('sendMsg').getValue();
					var sendInfo = msgPanel.getCmpByName('sendInfo').getValue();
					var flowAssignId = Ext.getCmp("XZSWPartyArchivesReceiveForm.userId").getValue();
					var option = formPanel.getCmpByName('dengjiOption').getGroupValue();
					var params={
						taskId : panel.taskId,
						signalName : signalName,
						activityName : activityName,
						sendMail : sendMail,
						sendMsg : sendMsg,
						sendInfo : sendInfo,
						foreachUserIdsLengths:0,
						fileIds : fileIds?fileIds:'_'
					};
					if (option == '1') {
						Ext.apply(params, {
							dengjiOption : 2,
							flowAssignId : flowAssignId
						});
					} else if (option == '2') {
						Ext.apply(params, {
							dengjiOption : 1
						});
					} else if (option == '3') {
						Ext.apply(params, {
							dengjiOption : 3,
							status:'退文',
							comments:Ext.getCmp('XZSWOfficeDirectorProposeFormView.leaderOpinion').getValue()
						});
					}
					formPanel.getForm().submit({
						url : __ctxPath + '/flow/nextProcessActivity.do',
						method : 'post',
						waitMsg : '正在提交数据...',
						params : params,
						success : function(response, options) {
							if(option==3){
							    var rejectMsg=Ext.getCmp('XZSWOfficeDirectorProposeFormView.leaderOpinion').getValue();
							    var rejectType=Ext.getCmp('sysDataTransfer.transferType').getValue();
								Ext.Ajax.request({
									url : __ctxPath + "/system/saveRejectSysDataTransfer.do",
									params : {
									    depId : Ext.getCmp('archives.depId').getValue(),
									    archivesId:'${archivesId}',
									    rejectMsg:rejectMsg,
									    rejectType:rejectType,
									    limit:10000
									},
									method : 'POST',
									success : function(fp, action) {
										 Ext.ux.Toast.msg('操作信息','退文成功！');
										 AppUtil.removeTab('ProcessForm' + panel.taskId);
										 refreshTaskPanelView();
									},
									failure : function(fp, action) {
										Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
									}
								});
							}else{
								Ext.ux.Toast.msg('操作信息', '成功保存！');
								Ext.getCmp('centerTabPanel').remove(Ext.getCmp('ProcessForm' + panel.taskId));
								refreshTaskPanelView();
							}
						},
						failure : function(fp, action) {
							Ext.MessageBox.show({
										title : '操作信息',
										msg : '信息保存出错，请联系管理员！',
										buttons : Ext.MessageBox.OK,
										icon : Ext.MessageBox.ERROR
									});
						}
					});
				},
				failure : function(fp, action) {
					Ext.MessageBox.show({
								title : '操作信息',
								msg : '信息保存出错，请联系管理员！',
								buttons : Ext.MessageBox.OK,
								icon : Ext.MessageBox.ERROR
							});
				}
			});
		}

	},
	initUIComponents : function() {
		this.archivesId='${archivesId}'; 
		// 初始化附件文档
	    this.docGridPanel = new ArchivesUtil({
			panelId : 'XZSWPartyReceiveArchivesReStart',
			archivesId : this.archivesId
		}).getGridPanelWithFullTools();
		this.formPanel = new Ext.FormPanel({
			url : __ctxPath + '/archive/saveArchives.do',
			frame : false,
			border : false,
			layout : 'form',
			labelWidth : 80,
			width : 800,
			padding : '5px',
			reader : new Ext.data.JsonReader({
						root : 'data'
					}, [{
							name : 'archives.archivesId',
							mapping : 'archivesId'
						}, {
							name : 'archives.issueDate',
							mapping : 'issueDate'
						}, {
							name : 'archives.depSignNo',
							mapping : 'depSignNo'
						}, {
							name : 'archives.writtenDate',
							mapping : 'writtenDate'
						}, {
							name : 'archives.issueDep',
							mapping : 'issueDep'
						}, {
						    name:'archives.status',
						    mapping:'status'
						}, {
							name : 'archives.subject',
							mapping : 'subject'
						}, {
							name : 'archives.fileCounts',
							mapping : 'fileCounts'
						}, {
							name : 'archives.privacyLevel',
							mapping : 'privacyLevel'
						}, {
							name : 'archives.urgentLevel',
							mapping : 'urgentLevel'
						}, {
							name : 'archives.issuer',
							mapping : 'issuer'
						}, {
							name : 'archives.issuerId',
							mapping : 'issuerId'
						}, {
							name:'archives.orgDepName',
							mapping:'orgDepName'
						}, {
							name:'archives.archType',
							mapping:'archType'
						}, {
							name:'archives.orgDepId',
							mapping:'orgDepId'
						}, {
							name:'archives.archivesFiles',
							mapping:'archivesFiles'
						}, {
							name:'archives.limitedDate',
							mapping:'limitedDate'
						}]),
			items : [{
						border : false,
						layout : 'column',
						defaults : {
							border : false,
							columnWidth : .33,
							layout : 'form',
							defaults : {
								width : 150,
								xtype : 'textfield',
								allowBlank : true
							}
						},
						items:[{
								items:[
							   {								
							    xtype : 'combo',
								fieldLabel : '密級',
								name : 'archives.privacyLevel',
								triggerAction : 'all',
								editable : false,
								allowBlank : true,
								store : ['一般', '秘密', '机密','绝密'],
								listeners: {
									'select':function(combo){
										if(combo.getValue()!='一般'){
											Ext.getCmp('XZSWPartyArchivesReceivePanelCounts').show();
											Ext.getCmp('XZSWPartyArchivesReceiveForm.fileCounts').allowBlank = false;
										}else{
											Ext.getCmp('XZSWPartyArchivesReceivePanelCounts').hide();
											Ext.getCmp('XZSWPartyArchivesReceiveForm.fileCounts').allowBlank = true;
										}
									}
								}
							},{
								xtype : 'combo',
								width : 150,
								fieldLabel : '文种分类',
								id: 'XZSWPartyArchivesReceiveForm.archivesType',
								hiddenName : "archives.archivesType.typeId",
								valueField : 'typeId',
								displayField : 'typeName',
								editable : false,
								triggerAction : 'all',
								forceSelection : true,
								store : new Ext.data.SimpleStore({
											url : __ctxPath
													+ '/archive/comboArchivesType.do',
											autoLoad : true,
											fields : ['typeId', 'typeName']
										})
							}]
						},{
							items:[{
								fieldLabel : '收文日期',
								xtype : 'datefield',
								format : 'Y-m-d',
								editable : false,
								allowBlank : true,
								name : 'archives.issueDate',
								value:new Date()
							},{
								xtype : 'combo',
								fieldLabel : '缓急',
								name : 'archives.urgentLevel',
								triggerAction : 'all',
								editable : false,
								allowBlank : true,
								store : ['特急', '急件', '加急','平急']
							},{
								xtype : 'container',
								id:'XZSWPartyArchivesReceiveForm.limitedDate',
								style : 'padding:0px 0px 5px 0px;',
								layout : 'column',
								width : 260,
								hidden : true,
								items : [{
										xtype : 'label',
										text : '限办日期',
										width : 84
									}, {
									name : 'archives.limitedDate',
									xtype : 'datefield',
									format : 'Y-m-d',
									mode : 'local',
									id : 'archives.limitedDate',
									editable : false,
									allowBlank : true,
									value: new Date().add(Date.MONTH,1),
									width : 150
								}]
										}]
						},{
							items:[{
								xtype : 'textfield',
								fieldLabel : '来文号',
								name : 'archives.depSignNo',
								allowBlank : true
							},{ 
								fieldLabel : '成文日期',
							    name : 'archives.writtenDate',
								xtype : 'datefield',
								format : 'Y-m-d',
								editable : false,
								allowBlank : true
						}]
					}, {
								xtype : 'container',
								style : 'padding:0px 0px 5px 0px;',
								id : 'XZSWPartyArchivesReceivePanelCounts',
								layout : 'column',
								width : 260,
								hidden : true,
								items : [
									{
										xtype : 'label',
										style:"padding-top:4px;",
										text : '份号:',
										width : 84
									},{
										xtype : 'numberfield',
										editable : false,
										id : 'XZSWPartyArchivesReceiveForm.fileCounts',
										mode : 'local',
										name : 'archives.fileCounts',
										width : 155
								}]
							}]
					}, {
						xtype : 'textfield',
						fieldLabel : '来文单位',
						name : 'archives.issueDep',
						width:670,
						allowBlank : false
					}, {
						xtype : 'textfield',
						fieldLabel : '标   题',
						name : 'archives.subject',
						width:670,
						allowBlank : false
					} ,{
						name : 'userId',
						id : 'XZSWPartyArchivesReceiveForm.userId',
						xtype : 'hidden'
					},{
						xtype : 'radiogroup',
						id : 'XZSWPartyArchivesReceiveForm.radiogroup',
						allowBlank : false,
						width : 700,
						items : [{
							boxLabel : '办公室主任拟办',
							name : 'dengjiOption',
							inputValue : 1,
							checked : true,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {// 只有在点击时触发
										Ext.getCmp('XZSWPartyArchivesReceiveForm.viceLeaders').show();
										Ext.getCmp('XZSWPartyArchivesReceiveForm.leaderName').allowBlank = false;
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce').hide();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce2').hide();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce3').hide();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.leaderOpinion').allowBlank = true;
										Ext.getCmp('XZSWOfficeDirectorProposeFormView.leaderOpinion').allowBlank = true;
										Ext.getCmp('ZFXXProposeDistributeView.back').hide();
										Ext.getCmp('ZFXXProposeDistributeView.backDepName').allowBlank = true;
										Ext.getCmp('archives.depId').setValue(curUserInfo.depId);
										Ext.getCmp('ZFXXProposeDistributeView.backDepName').setValue('');
									}
								}
							}
						}, {
							boxLabel : '拟办分发',
							name : 'dengjiOption',
							inputValue : 2,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {// 只有在点击时触发
										Ext.getCmp('XZSWPartyArchivesReceiveForm.viceLeaders').hide();
										Ext.getCmp('XZSWPartyArchivesReceiveForm.leaderName').allowBlank = true;
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce').hide();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce2').hide();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce3').hide();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.leaderOpinion').allowBlank = true;
										Ext.getCmp('XZSWOfficeDirectorProposeFormView.leaderOpinion').allowBlank = true;
										Ext.getCmp('ZFXXProposeDistributeView.back').hide();
										Ext.getCmp('ZFXXProposeDistributeView.backDepName').allowBlank = true;
										Ext.getCmp('archives.depId').setValue(curUserInfo.depId);
										Ext.getCmp('ZFXXProposeDistributeView.backDepName').setValue('');
									}
								}
							}
						}, {
							boxLabel : '作废',
							name : 'dengjiOption',
							inputValue : 3,
							listeners : {
								'check' : function(checkbox, checked) {
									if (checked) {// 只有在点击时触发
										Ext.getCmp('XZSWPartyArchivesReceiveForm.viceLeaders').hide();
										Ext.getCmp('XZSWPartyArchivesReceiveForm.leaderName').allowBlank = true;
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce').show();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce2').show();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.rejectChioce3').show();
										Ext.getCmp('XZSWLeaderCommentsOneFormView.leaderOpinion').allowBlank = false;
										Ext.getCmp('XZSWOfficeDirectorProposeFormView.leaderOpinion').allowBlank = false;
										Ext.getCmp('ZFXXProposeDistributeView.back').show();
										Ext.getCmp('ZFXXProposeDistributeView.backDepName').allowBlank = false;
									}
								}
							}
						}],
						fieldLabel : '审批步骤'
					},{
						xtype : 'container',
						id : 'ZFXXProposeDistributeView.back',
						layout : 'column',
						hideMode :'offsets',
						hidden:true,
						height : 30,
						defaults : {
							border : false
						},
						items : [{
							xtype : 'label',
							text : '退文单位:',
							style : 'padding-top:4px;',
							width : 80
						}, {
							id : 'ZFXXProposeDistributeView.backDepName',
							xtype : 'textfield',
							allowBlank:true,
							width : '67%',
							readOnly : true
						},{
							xtype : 'button',
							iconCls : 'menu-department',
							style : 'padding-left:5px;',
							text : '选择单位',
							handler : function() {
								var url = __ctxPath + "/system/select3Department.do";
								DepSelector3.getView(function(id, name) {
									Ext.getCmp('ZFXXProposeDistributeView.backDepName').setValue(name);
									Ext.getCmp('archives.depId').setValue(id);
								}, true, null, url).show();
							}
						}]
					},
			{
			   layout:'column',
			   style:'padding-top:10px;padding-left:5px;',
			   border:false,
			   items:[{
			   		layout:'form',
		   			id:'XZSWLeaderCommentsOneFormView.rejectChioce',
		   			hidden:true,
			   		border:false,
			   		items:[{	
						fieldLabel : '错情原因',
		   				readOnly:true,
						id:'XZSWLeaderCommentsOneFormView.leaderOpinion',
						autoScroll:true,
						maxLength:500,
						height:40,
						xtype:'textarea',
						width:448
					}]
				},{
			   		layout:'form',
		   			id:'XZSWLeaderCommentsOneFormView.rejectChioce2',
			   		style:'padding-top:10px;padding-left:5px;',
			   		hidden:true,
			   		border:false,
			   		items:[{
						xtype : 'button',
						text : '选择',
						iconCls : 'menu-new-document',
						handler : function() {
							OdCommentsSelector.getView(
							function(id, name) {
								Ext.getCmp('XZSWLeaderCommentsOneFormView.leaderOpinion').setValue(name);
								Ext.getCmp('sysDataTransfer.transferType').setValue(id);
							}, 3).show();
						}
					}]
	  			}]				   
			},{
				xtype:'hidden',
				name:'sysDataTransfer.transferType',
				id:'sysDataTransfer.transferType'
			},{
				   layout:'column',
				   style:'padding:6px 0px 0px 0px',
				   border:false,
				   items:[{
				   		layout:'form',
		   		   		id:'XZSWLeaderCommentsOneFormView.rejectChioce3',
				   		hidden:true,
				   		border:false,
				   		items:[{	
		   					fieldLabel : '错情详情',
		   					id:'XZSWOfficeDirectorProposeFormView.leaderOpinion',
							name : 'leaderOpinion',
							autoScroll:true,
							maxLength:500,
							height:40,
							xtype:'textarea',
							width:448
						}]
			     	 }]
				},{
						id : 'XZSWPartyArchivesReceiveForm.viceLeaders',
						//hidden:true,
						hideMode : 'offsets',
						xtype : 'container',
						layout : 'column',
						style : 'padding:0px 0px 8px 0px;margin-left:0px;',
						defaults : {
							border : false
						},
						items : [{
									xtype : 'label',
									style : 'padding-top:4px;',
									text : '负责人:',
									width : 84
								}, {
									xtype : "combo",
									id : "XZSWPartyArchivesReceiveForm.leaderName",
									valueField : 'userId',
									displayField : 'fullname',
									editable : false,
									allowBlank : false,
									triggerAction : 'all',
									forceSelection : true,
									width : 670,
									store : new Ext.data.SimpleStore({
										url : __ctxPath
												+ '/system/searchByTwoRoleIdAppUser.do?role1Id='+roleMap.get('officeDeputyDirectorRoleID')+'&role2Id='+roleMap.get('officeDirectorRoleID'),
										autoLoad : true,
										fields : ['userId', 'fullname']
									}),
									listeners : {
										select : function(cbo, record, index) {
											Ext.getCmp('XZSWPartyArchivesReceiveForm.userId').setValue(cbo.getValue());
										}
									}
								}]
					} ,{
						name : 'archives.status',
						xtype : 'hidden',
						value :  1
					},{
					    name : "archives.issuer",
						value : curUserInfo.fullname,
						xtype : 'hidden'
					},{
					    id : "archives.depId",
					    name : "archives.depId",
						value : curUserInfo.depId,
						xtype : 'hidden'
					}, {
						xtype:'hidden',
						id:'archivesReceiveForm.departmentId',
						value:'100131',
						name:'archives.orgDepId'
					}, {
						xtype:'hidden',
						id:'archivesReceiveForm.departmentName',
						value:'办公室',
						name:'archives.orgDepName'
					}, /*{
						name : 'archives.snConfigId',
						id : 'XZSWPartyArchivesReceiveForm.snConfigId',
						xtype : 'hidden'
					}, */{
						name : 'archives.issuerId',
						value : curUserInfo.userId,
						xtype : 'hidden'
					},{
						name : 'archives.archType',
						id : 'archivesArchType',
						value : 1,
						xtype : 'hidden'
					}, {
				xtype : 'fieldset',
				style:'padding-top:6px',
				border : false,
				defaults : {
					anchor : '96%,90%'
				},
				items : [this.docGridPanel]
			},{
				xtype : 'container',
				layout : 'column',
				style : 'padding:0px 0px 8px 0px;margin-left:2px;',
				defaults : {
					allowBlank : true,
					border : false
				},
				items : [{
							xtype : 'label',
							text : '附件：',
							width : 84
						}, {
							xtype : 'textarea',
							name : 'archives.enclosure',
							width : '74.5%',
							id : 'XZSWPartyReceiveArchivesReFiles.enclosure'
						}]
			}, {
				layout : 'column',
				border : false,
				defaults : {
					layout : 'form',
					border : false
				},
				items : [{
							columnWidth : .85,
							items : [{
										fieldLabel : '公文附件',
										xtype : 'panel',
										id : 'XZSWPartyReceiveArchivesReFiles.personFilePanel',
										frame : false,
										border : true,
										bodyStyle : 'padding:4px 4px 4px 4px;',
										height : 80,
										autoScroll : true,
										html : ''
									}]
						}, {
							columnWidth : .12,
							items : [{
								border : false,
								xtype : 'button',
								text : '添加文件',
								iconCls : 'menu-attachment',
								handler : function() {
									var dialog = App.createUploadDialog({
										file_cat : 'document/' + curUserInfo.ownerSchema,
										judge_size : 'no',
										upload_autostart : true,
										callback : function(data) {
											var fileIds = Ext.getCmp('XZSWPartyReceiveArchivesReFiles.fileIds');
											var filePanel = Ext.getCmp('XZSWPartyReceiveArchivesReFiles.personFilePanel');

											for (var i = 0; i < data.length; i++) {
												if (fileIds.getValue() != '') {
													fileIds.setValue(fileIds
															.getValue()
															+ ',');
												}
												fileIds.setValue(fileIds
														.getValue()
														+ data[i].fileId);

												Ext.DomHelper
														.append(
																filePanel.body,
																'<span><a href="#" onclick="FileAttachDetail.show('
																		+ data[i].fileId
																		+ ')">'
																		+ data[i].filename
																		+ '</a> <img class="img-delete" src="'
																		+ __ctxPath
																		+ '/images/system/delete.gif" onclick="removeFile(this,\'XZSWPartyReceiveArchivesReFiles.fileIds\','
																		+ data[i].fileId
																		+ ')"/>&nbsp;|&nbsp;</span>');

											}
										}
									});
									dialog.show(this);
								}
							}, {
								xtype : 'button',
								text : '清除文件',
								iconCls : 'reset',
								handler : function() {
									var fileAttaches = Ext.getCmp('XZSWPartyReceiveArchivesReFiles.fileIds');
									var filePanel = Ext.getCmp('XZSWPartyReceiveArchivesReFiles.personFilePanel');

									filePanel.body.update('');
									fileAttaches.setValue('');
								}
							}, {
								xtype : 'hidden',
								id : 'XZSWPartyReceiveArchivesReFiles.fileIds',
								name : 'fileIds'
							},{
								xtype:'hidden',
								id:'XZSWPartyReceiveArchivesReStart.reFileId'
							},{
								xtype:'hidden',
								name:'archives.archivesId'
							}]
						}]
			}]
		});
		if (this.archivesId) {
			this.formPanel.getForm().load({
				deferredRender : false,
				url : __ctxPath + '/archive/getArchDataArchives.do?archivesId='
						+ this.archivesId,
				waitMsg : '正在载入数据...',
				method:'post',
				success : function(form, action) {
					var privacyLevel=action.result.data['archives.privacyLevel'];
					Ext.getCmp('XZSWPartyArchivesReceiveForm.archivesType').getStore().load({ 
					callback: function () { 
					//等待数据加载完成才进行赋值，不然由于异步会出现先赋值后加载完成。 
					Ext.getCmp('XZSWPartyArchivesReceiveForm.archivesType').setValue(Ext.decode(action.response.responseText).data[0].parentArchId);
					}, 
					scope: Ext.getCmp('XZSWPartyArchivesReceiveForm.archivesType').getStore(),//表示作用范围 
					add: false //为false表示数据不累加 
					}); 
					Ext.getCmp('XZSWPartyReceiveArchivesReFiles.enclosure').setValue(Ext.decode(action.response.responseText).data[0].enclosure);
					//Ext.getCmp('XZSWPartyReceiveArchivesReStart.flowAssignId').setValue(action.result.data['archives.reviewUser']);
					if(privacyLevel!='一般'){
						 Ext.getCmp('XZSWPartyArchivesReceivePanelCounts').show();
						 Ext.getCmp('XZSWPartyArchivesReceiveForm.fileCounts').allowBlank = true;
					}
					if(privacyLevel=='一般' || privacyLevel==''){
						Ext.getCmp('XZSWPartyArchivesReceivePanelCounts').hide();
						Ext.getCmp('XZSWPartyArchivesReceiveForm.fileCounts').allowBlank = true;
					}
					var filePanel = Ext.getCmp('XZSWPartyReceiveArchivesReFiles.personFilePanel');
					var fileIds = Ext.getCmp("XZSWPartyReceiveArchivesReFiles.fileIds");
						var af=Ext.decode(action.response.responseText).data[0].archivesFiles;
						if(af!=null){
						for (var i = 0; i < af.length; i++) {
							if (fileIds.getValue() != '') {
								fileIds.setValue(fileIds.getValue() + ',');
							}
							fileIds.setValue(fileIds.getValue() + af[i].fileId);
							Ext.DomHelper
									.append(
											filePanel.body,
											'<span><a href="#" onclick="FileAttachDetail.show('
													+ af[i].fileId
													+ ')">'
													+ af[i].fileName
													+ '</a><img class="img-delete" src="'
													+ __ctxPath
													+ '/images/system/delete.gif" onclick="removeFile(this,\'XZSWPartyReceiveArchivesReFiles.fileIds\','
													+ af[i].fileId
													+ ')"/>&nbsp;|&nbsp;</span>');
						}
					}
				},
				failure : function(form, action) {
				}
			});
		}
	}
})
